Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

resolve formatting, adding and fixing relative links
  docs/development.md
  docs/testing/testing.md
Due: none

add name
  README.md
Due: none

fix the #874 bug
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/handlers.ts
  docker-compose.yml
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update gitignore file
  .gitignore
Due: none

update the UI
  client/src/pages/secretKey/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Move all in-use functions in api/util.py to commom/form_utils and common/commonUtil.py
  server/api/resources/form_templates.py
  server/api/resources/forms.py
  server/common/commonUtil.py
  server/common/form_utils.py
Due: backend unit tests, backend system tests, backend format

fix #785 SMS key UI bug and #784 Form allows for submission even when it has errors
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/pages/secretKey/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: format code with Prettier
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Move all utility functions in server/utils.py to server/common/*, remove all references to server/utils.py in server/
  server/api/resources/forms.py
  server/api/resources/medical_records.py
  server/api/resources/patients.py
  server/api/resources/referrals.py
  server/api/util.py
  server/common/commonUtil.py
  server/common/form_utils.py
  server/common/request_id_utils.py
  server/models.py
  server/system_tests/api/test_patients.py
  server/validation/assessments.py
  server/validation/formTemplates.py
  server/validation/forms.py
  server/validation/medicalRecords.py
  server/validation/patients.py
  server/validation/pregnancies.py
  server/validation/readings.py
Due: backend unit tests, backend system tests, backend format

Fully move all util functions from api/util and server/utils to common/ under appropriate files
  README.md
  server/api/util.py
  server/common/api_utils.py
  server/common/commonUtil.py
  server/common/phone_number_utils.py
  server/common/user_utils.py
  server/config.py
  server/utils.py
Due: backend unit tests, backend system tests, backend format

Reformat changed files using black, delete now unneeded server/utils.py and server/api/util.py
  server/api/resources/form_templates.py
  server/api/resources/forms.py
  server/api/resources/medical_records.py
  server/api/resources/patients.py
  server/api/resources/referrals.py
  server/api/util.py
  server/common/api_utils.py
  server/common/commonUtil.py
  server/common/form_utils.py
  server/common/request_id_utils.py
  server/models.py
  server/system_tests/api/test_patients.py
  server/utils.py
  server/validation/formTemplates.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

Remove commented out import statements, reformat import statements
  server/api/resources/form_templates.py
  server/api/resources/forms.py
  server/api/resources/medical_records.py
  server/api/resources/patients.py
  server/api/resources/referrals.py
  server/common/api_utils.py
  server/common/form_utils.py
  server/common/request_id_utils.py
  server/models.py
  server/system_tests/api/test_patients.py
  server/validation/assessments.py
  server/validation/formTemplates.py
  server/validation/forms.py
  server/validation/medicalRecords.py
  server/validation/patients.py
  server/validation/pregnancies.py
  server/validation/readings.py
Due: backend unit tests, backend system tests, backend format

Reformat code using ruff
  server/api/resources/form_templates.py
  server/api/resources/forms.py
  server/api/resources/medical_records.py
  server/api/resources/patients.py
  server/api/resources/referrals.py
  server/api/resources/sync.py
  server/authentication/CognitoClientWrapper.py
  server/common/api_utils.py
  server/common/form_utils.py
  server/common/user_utils.py
  server/data/marshal.py
  server/models.py
  server/system_tests/api/test_patients.py
  server/system_tests/api/test_users.py
  server/validation/formTemplates.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

Added some collapsible sections for readability
  docs/development.md
Due: none

Revert "fix the #874 bug"
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/handlers.ts
  docker-compose.yml
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Revert "update gitignore file"
  .gitignore
Due: none

Revert "update the UI"
  client/src/pages/secretKey/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Revert "fix the form allow submission bug"
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/components/CustomizedForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

run the prettier and unit test
  client/src/pages/admin/manageFormTemplates/mutations.ts
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/referrals/FilterDialog.tsx
  client/src/shared/api/core/auth.ts
  client/src/shared/api/core/http.ts
  client/src/shared/api/index.ts
  client/src/shared/api/modules/assessments.ts
  client/src/shared/api/modules/facilities.ts
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/api/modules/forms.ts
  client/src/shared/api/modules/medicalRecords.ts
  client/src/shared/api/modules/patients.ts
  client/src/shared/api/modules/pregnancies.ts
  client/src/shared/api/modules/readings.ts
  client/src/shared/api/modules/referrals.ts
  client/src/shared/api/modules/relayServerPhones.ts
  client/src/shared/api/modules/statistics.ts
  client/src/shared/api/modules/upload.ts
  client/src/shared/api/modules/users.ts
  client/src/shared/api/modules/vhts.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated backend code formatting section
  docs/development.md
Due: none

Revert "updated backend code formatting section"
  docs/development.md
Due: none

updated backend code formatting section with ruff
  docs/development.md
Due: none

Implement models for rule groups, workflow templates, template steps, workflow classification, and template step branches
  server/models.py
Due: backend unit tests, backend system tests, backend format

Add missing foreign keys, reformat code
  server/models.py
Due: backend unit tests, backend system tests, backend format

Fix duplicate foreign keys in WorkflowTemplateStepBranchOrm, fix foriegn key parameters
  server/models.py
Due: backend unit tests, backend system tests, backend format

Change rule_group's logic and rules attributes to text instead of JSON
  server/migrations/versions/5_2f6d68ecb427_create_tables_from_rule_group_workflow_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

fix #681 issues , refactor referrals and patient page
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/api/modules/patients.ts
  client/src/shared/api/modules/referrals.ts
  client/src/shared/components/DataTable/DataTable.tsx
  client/src/shared/components/apiTable/ApiTableRow.tsx
  client/src/shared/components/apiTable/HeaderRow.tsx
  client/src/shared/components/apiTable/Pagination.tsx
  client/src/shared/components/apiTable/ScrollArrow.tsx
  client/src/shared/components/apiTable/SortBy.tsx
  client/src/shared/components/apiTable/TableCell.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/components/apiTable/types.ts
  package-lock.json
  package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

mod the format
  client/playwright/fixtures.ts
  client/src/pages/referrals/index.tsx
  client/src/shared/api/modules/patients.ts
  client/src/shared/api/modules/referrals.ts
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Create pydantic models for rule group, template step, workflow classification, and template step branches
  server/migrations/versions/5_2f6d68ecb427_create_tables_from_rule_group_workflow_.py
  server/models.py
  server/validation/rule_groups.py
  server/validation/workflow_classification.py
  server/validation/workflow_template_step.py
  server/validation/workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

implementation: backend constraint validation
  server/api/resources/forms.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_form_validation.py
  server/system_tests/api/test_forms.py
  server/validation/formValidation.py
Due: backend unit tests, backend system tests, backend format

Add check to assign_form_or_template_ids() s.t questions are not reassigned IDs if they already have one
  server/api/util.py
  server/system_tests/api/conftest.py
Due: backend unit tests, backend system tests, backend format

Rename workflow component validators, create validator for workflow templates, add more examples for template steps
  server/validation/workflow_classifications.py
  server/validation/workflow_template_step_branches.py
  server/validation/workflow_template_steps.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

mod patientPage and referralPage to pass to playwright testing
  client/src/pages/patientForm/mutations.ts
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update DataTable component to pass playwright
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

run testing
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

mod patients-page-model testing file to locate the patientPage
  client/playwright/page-object-models/patients-page-model.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Create unit tests for all new pydantic models, fix/change fields for pydantic models and DB models
  server/migrations/versions/6_e2a9df49ff6e_rename_attribute_names_for_some_models.py
  server/migrations/versions/7_8524afee47c9_change_last_edited_by_field_to_a_.py
  server/models.py
  server/tests/validation/test_rule_groups.py
  server/tests/validation/test_workflow_classifications.py
  server/tests/validation/test_workflow_template_step_branches.py
  server/tests/validation/test_workflow_template_steps.py
  server/tests/validation/test_workflow_templates.py
  server/validation/rule_groups.py
  server/validation/workflow_template_step_branches.py
  server/validation/workflow_template_steps.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Reformat all new files using ruff
  server/migrations/versions/5_2f6d68ecb427_create_tables_from_rule_group_workflow_.py
  server/migrations/versions/6_e2a9df49ff6e_rename_attribute_names_for_some_models.py
  server/migrations/versions/7_8524afee47c9_change_last_edited_by_field_to_a_.py
  server/tests/validation/test_rule_groups.py
  server/tests/validation/test_workflow_template_step_branches.py
  server/tests/validation/test_workflow_template_steps.py
  server/tests/validation/test_workflow_templates.py
  server/validation/rule_groups.py
  server/validation/workflow_template_step_branches.py
  server/validation/workflow_template_steps.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

implementation: minimal workflow endpoints
  server/api/resources/workflows.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
