Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Formated NodeHandler
  client/src/shared/components/workflow/workflowTemplate/NodeHandler.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

removed branch editing from sidebar
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Formatted StepDetails
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Workflow Variable and Instance data types init
  server/enums.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow variable_catalogue/instance_data database ORMs
  server/models/__init__.py
  server/models/schemas.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

Added code for mocking local storage to pass tests
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added plus button onto branch line if not-hasCondition: Still have to add the onclick handler
  client/package-lock.json
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Migrate StepDetails to V2
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added initial code for plus symbol functionality
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added code for the condition name on branch
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflow): add multilingual name support to DB schema
  server/migrations/versions/25_19ce5d61fb20_add_workflow_translation_support.py
  server/migrations/versions/26_31497c6c8fe7_restore_name_field_to_workflowinstance.py
  server/migrations/versions/27_a3b5c7d9e1f2_add_name_string_id_to_workflow_template.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

feat(workflow): implement multilingual name resolution backend
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_templates.py
  server/common/workflow_utils_v2.py
  server/data/orm_serializer/workflows.py
  server/service/workflow/workflow_service.py
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

feat(workflow): update seed data for multilingual name support
  server/manage.py
Due: backend unit tests, backend system tests, backend format

test(workflow): update tests for multilingual name support
  server/system_tests/api/test_workflow_classifications.py
  server/system_tests/api/test_workflow_collections.py
  server/system_tests/api/test_workflow_instances.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template_step.py
  server/system_tests/service/workflow/test_workflow_service.py
  server/tests/helpers.py
  server/tests/serializers/test_marshal/test_marshal_workflow_classification.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step.py
  server/tests/service/workflow/test_workflow_service.py
  server/tests/validation/test_workflow_models.py
Due: backend unit tests, backend system tests, backend format

feat(workflow): add multilingual support to frontend
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added initial code for add onclick button
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed the condition saving issue
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Upodated color scheme for the cond name chip
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Updated dependencies for tests
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update CI/CD to Node 20 and npm 10
  .github/workflows/main-cicd.yml
Due: none

Ran prettier on WorkflowStatus.tsx for linting
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update workflow status display to show completion and last edited details
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update workflow status progress display to estimated remaining steps unless completed
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated workflow status to remove currently working on section for completed workflows
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

run prettier on all workflow instance changes
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

undo prettier changes to branch condition editor
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflow): add language column in admin workflow panel instead of dropdown
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(workflow): fix PATCH handler ORM expiration and step name handling
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

fix(workflow): fix issue where translated names always defaulted to English
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/api/resources/workflow_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor(tests): update comment
  server/system_tests/api/test_workflow_classifications.py
Due: backend unit tests, backend system tests, backend format

feat: Create migration for new database tables
  server/migrations/versions/25_workflow_variable_catalogue_and_instance_data.py
Due: backend unit tests, backend system tests, backend format

fix: missing schema import
  server/migrations/versions/25_workflow_variable_catalogue_and_instance_data.py
  server/models/__init__.py
Due: backend unit tests, backend system tests, backend format

style: refactor positioning of language toggle
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: Ruff formatting fix
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

fix(workflow): fix issue with extra languages showing and template versioning bug
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

chore(db): merge migration heads
  server/migrations/versions/013cf68cd68c_merge_migration_heads.py
Due: backend unit tests, backend system tests, backend format

feat: Implement getWorkflowStepHistory function to optimize step history render
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Ran prettier on code for linting
  client/package-lock.json
  client/package.json
  client/src/pages/assessmentForm/state.ts
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/components/RuleEngineDemoDialog.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowClassification.ts
  client/src/shared/components/DataTable/DataTable.tsx
  client/src/shared/types/patientTypes.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Updated dependencies for linting
  .github/workflows/main-cicd.yml
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Workflow variable catalogue api model
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format
