Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

added: expand more test cases for the invalid phone number.
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

fixed: solved the failed pipeline.
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Minor Fixes
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Unfix Console Key Error [Handled In Another Branch]
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove Unwanted Imports
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Set Default Field Type To Category
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add API endpoint to update a user's phone number given their ID
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

Add the change phone number API endpoint router
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Remove unused imports and remove debug language settings
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated: abstract the function regex check into a module for calling
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

updated: finish code formatting
  server/api/resources/sms_relay.py
  server/migrations/versions/f64d52006db0_add_referral_as_foreign_key_to_reading.py
Due: backend unit tests, backend system tests, backend format

Grey Out Fields During Form Creation
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Allow Switching View Between Languages During Form Creation
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove Unwanted Print Statement
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add yaml file to document UserPhoneUpdate APi end point
  server/specifications/user-phone-update.yml
Due: backend unit tests, backend system tests, backend format

Adjust formating of mc options
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Adjust formatting for small number of languages selected
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add testcase for api/user/{user_id}/phone endpoint
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

Add fixture for user_id and phone_numebr
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

Correct fixture name
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

reformatted: change the function to the util file for better use.
  server/api/resources/sms_relay.py
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

fixed: reformat coding for pass format pipeline test
  server/api/resources/sms_relay.py
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

Update QCondition to use QRelationEnum
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Save visibility condition to question in form.
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add phone number verification check to user phone number update
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

Update development.md
  docs/development.md
Due: none

create github action's yaml
  .github/workflows/deploy-from-dockerhub.yml
  .github/workflows/main-cicd.yml
  .github/workflows/retag-and-upload-dockerhub.yml
Due: none

fix invalid syntax
  .github/workflows/main-cicd.yml
Due: none

fix seervices
  .github/workflows/main-cicd.yml
Due: none

fix syntax
  .github/workflows/main-cicd.yml
Due: none

added: implement marshal and unmarshal methods for secret key
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

added: add schema and model for sms secret key
  server/models.py
Due: backend unit tests, backend system tests, backend format

added: add function for update, find, create secret key by user
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

added: create small test for update, find, create secret key by user, will be deleted soon
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

reformatted: reformatted by using black
  server/api/resources/users.py
  server/api/util.py
  server/data/marshal.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Revert "fix syntax"
  .github/workflows/main-cicd.yml
Due: none

Revert "fix seervices"
  .github/workflows/main-cicd.yml
Due: none

Revert "fix invalid syntax"
  .github/workflows/main-cicd.yml
Due: none

Revert "create github action's yaml"
  .github/workflows/deploy-from-dockerhub.yml
  .github/workflows/main-cicd.yml
  .github/workflows/retag-and-upload-dockerhub.yml
Due: none

Added: create a new api endpoint for sms key.
  server/api/resources/users.py
  server/api/util.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format
