Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

refactor(delete relay number dialog): use react query
  client/src/pages/admin/manageRelayApp/DeleteRelayNumDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

styling(secret key page): center content and remove unneeded tags
  client/src/pages/secretKey/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

tooling: install react-query devtools
  client/package-lock.json
  client/src/app/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin relay number list): remove unneeded code/imports
  client/src/pages/admin/manageRelayApp/EditRelayNumDialog.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor(redux reducers): remove unused reducers
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/redux/reducers/healthFacilities/index.ts
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/message/messageReducer.ts
  client/src/shared/hooks/healthFacilities/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(redux reducers): replace secretkey reducer with useQuery calls
  client/src/pages/referrals/index.tsx
  client/src/pages/secretKey/index.tsx
  client/src/pages/secretKey/useSecretKey.ts
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/secretKey/index.ts
  client/src/shared/queries.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(redux actions): remove message actions as they are not used anywhere
  client/src/redux/actions/messageActions.ts
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup prior to opening pr
  client/package-lock.json
  client/src/app/index.tsx
  client/src/pages/admin/manageRelayApp/DeleteRelayNumDialog.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/patientForm/components/EditPregnancyForm.tsx
  client/src/pages/patientForm/components/NewPatientForm.tsx
  client/src/pages/patientForm/components/NewPregnancyForm.tsx
  client/src/pages/patientForm/components/pregnancyInfo/utils.ts
  client/src/pages/referrals/FilterDialog.tsx
  client/src/pages/referrals/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

regenerate lock file
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: comment out unused code
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: regen lock file with node 16
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add check for referral card
  client/playwright/createReferral.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(pregnancy routing): change redirect button route and use helper functions to get the route
  client/src/app/routes/utils/PatientRoutes.tsx
  client/src/pages/historyTables/PregnancyHistory.tsx
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patient/PregnancyInfo/CurrentPregnancy.tsx
  client/src/pages/patient/PregnancyInfo/PregnancyStats.tsx
  client/src/pages/patient/PregnancyInfo/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(top bar): sticky topbar when scrolling past viewport height
  client/src/app/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(pregnancy route): edit typing to allow either strings or numbers when creating route string
  client/src/app/routes/utils/PatientRoutes.tsx
  client/src/pages/historyTables/PregnancyHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add default=get_uuid to patient id
  server/models.py
Due: backend unit tests, backend system tests, backend format

refactor: make id optional in PatientModel
  server/tests/validation/test_patients.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

refactor: remove patient id field
  client/src/pages/patientForm/components/NewPatientForm.tsx
  client/src/pages/patientForm/components/personalInfo/PatientIDExists.tsx
  client/src/pages/patientForm/components/personalInfo/index.tsx
  client/src/pages/patientForm/components/personalInfo/validation.ts
  client/src/pages/patientForm/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rework form layout to fill gap
  client/src/pages/patientForm/components/personalInfo/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add default value for patient id
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

fix: reorder fields
  client/src/pages/patientForm/components/personalInfo/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove 14 digit limit
  server/tests/validation/test_patients.py
Due: backend unit tests, backend system tests, backend format

fix: remove patient id field
  client/src/pages/patientForm/components/EditPersonalInfoForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove obsolete test
  server/tests/validation/test_patients.py
Due: backend unit tests, backend system tests, backend format

refactor(pregnancy info): remove duplicate component, reorganize components
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patient/PregnancyInfo/PregnancyStats.tsx
  client/src/pages/patient/PregnancyInfo/components/GestationAgeUnitSelect.tsx
  client/src/pages/patient/PregnancyInfo/components/PregnancyStats.tsx
  client/src/pages/patient/PregnancyInfo/components/PregnancyStatsCurrent.tsx
  client/src/pages/patient/PregnancyInfo/components/PregnancyStatsPrevious.tsx
  client/src/pages/patient/PregnancyInfo/index.tsx
  client/src/pages/patient/PregnancyInfo/styled.ts
  client/src/shared/components/Button/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove console log
  client/src/shared/components/Button/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: address review comments - rename functions - change type to readonly - reuse existing query for health facility name hook
  client/src/pages/admin/managePatients/ArchivePatientDialog.tsx
  client/src/pages/admin/managePatients/UnarchivePatientDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/UserFormFields.tsx
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/pages/referrals/FilterDialog.tsx
  client/src/shared/enums.ts
  client/src/shared/hooks/healthFacilities/index.ts
  client/src/shared/hooks/healthFacilityNames/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: make parameters optional
  server/service/assoc.py
Due: backend unit tests, backend system tests, backend format

refactor: add archive_patient endpoint
  client/src/shared/api/api.ts
  server/api/resources/patients.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: add delete_patient endpoint
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

feat: add DateOfBirthField using DatePicker
  client/src/pages/patientForm/components/personalInfo/index.tsx
  client/src/pages/patientForm/state.ts
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove redundant awaits
  client/playwright/createReferral.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add NewPatientPage POM
  client/playwright/pages/new-patient-page.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: implement Create Patient test
  client/playwright/createPatient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix locator
  client/playwright/pages/new-patient-page.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix isExactDateOfBirth buttons
  client/src/pages/patientForm/components/personalInfo/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: fix sex select
  client/playwright/createPatient.spec.ts
  client/playwright/pages/new-patient-page.ts
  client/src/pages/patientForm/components/personalInfo/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix hiding archived patients
  client/src/pages/admin/managePatients/ManagePatients.tsx
  server/api/resources/patients.py
  server/data/crud.py
  server/service/view.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

test: delete newly created patient
  client/playwright/createPatient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
