Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Workflow Details page: Rename page
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed ruff formatting
  server/api/resources/form_templates_v2.py
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

fix: allowed for forms to be visible
  server/manage.py
Due: backend unit tests, backend system tests, backend format

feat: added workflow with a single step
  server/manage.py
Due: backend unit tests, backend system tests, backend format

feat: added a form that has multiple field types
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: removed double units being shown
  client/src/pages/customizedForm/components/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix Edit Branch Condition: condition Name field is is now saved and restored.
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Workflow Details page: Remove heading, moved started & in progress, allow directly managing workflow status
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  server/service/workflow/workflow_service.py
  server/validation/workflow_api_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

added Archive Workflow button to workflow editor
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Updated comment for autocommit on create
  server/data/db_operations/common_crud.py
Due: backend unit tests, backend system tests, backend format

feat: got single and linear workflows working
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Workflow Details page: created new card for 'step history'
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Workflow Details page: fixed docs
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: initialized two more workflows
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Workflow Details page: fixed formatting issue
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: branching workflow and booelan form
  server/manage.py
Due: backend unit tests, backend system tests, backend format

feat: finished all workflows setup
  server/manage.py
Due: backend unit tests, backend system tests, backend format

feat: finished adding all seeded workflows and fixed bug for looping ones
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fixed formatting
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Updated Admin Workflow column
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix error
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix DataTable columns panel to open below the Columns button
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix format
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/shared/components/DataTable/DataTable.tsx
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix unused import in ManageWorkflowTemplates test
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: formatting
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: ruff format
  server/manage.py
Due: backend unit tests, backend system tests, backend format

refactor: split WorkflowUtils into WorkflowInfo/utils modules
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/pages/patient/WorkflowInfo/utils/formatters.ts
  client/src/pages/patient/WorkflowInfo/utils/index.ts
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
  client/src/pages/patient/WorkflowInfo/utils/progress.ts
  client/src/pages/patient/WorkflowInfo/utils/stepTree.ts
  client/src/shared/hooks/patient/useWorkflowInstanceDetails.ts
  client/src/shared/hooks/patient/useWorkflowNextStepOptions.ts
  client/src/testing/pages/workflowInstanceDetails.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed backend to use instanceDetails.status
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

removed redundant check for instance status
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

reformatted with prettier
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add workflow utils tests
  client/src/testing/pages/workflowInfo/formatters.test.ts
  client/src/testing/pages/workflowInfo/progress.test.ts
  client/src/testing/pages/workflowInfo/stepTree.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

extract StatusStatCard and CurrentStepPanel from WorkflowStatus.
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus/CurrentStepPanel.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus/StatusStatCard.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

extract workflow progress text and split patient Cards
  client/src/pages/patient/Cards.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus/WorkflowStatus.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus/WorkflowStatusSummary.tsx
  client/src/pages/patient/WorkflowInfo/utils/index.ts
  client/src/pages/patient/WorkflowInfo/utils/workflowProgressText.ts
  client/src/pages/patient/cards/AssessmentCard.tsx
  client/src/pages/patient/cards/CardContainer.tsx
  client/src/pages/patient/cards/FormCard.tsx
  client/src/pages/patient/cards/ReadingCard.tsx
  client/src/pages/patient/cards/ReferralCard.tsx
  client/src/pages/patient/cards/index.ts
  client/src/pages/patient/index.tsx
  client/src/testing/pages/workflowInfo/workflowProgressText.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: disabled complete step button unless a form is submitted
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added missing documentation to functions
  server/api/resources/medical_records.py
  server/api/resources/workflow_collections.py
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

fixed format
  client/src/pages/patient/WorkflowInfo/utils/workflowProgressText.ts
  client/src/testing/pages/workflowInfo/progress.test.ts
  client/src/testing/pages/workflowInfo/stepTree.test.ts
  client/src/testing/pages/workflowInfo/workflowProgressText.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added a cyclic template test
  client/src/testing/pages/workflowInfo/stepTree.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

completed missing documentations to server\api\resources and server\common
  server/api/resources/patients_android.py
  server/api/resources/pregnancies.py
  server/api/resources/sms_relay.py
  server/api/resources/stats.py
  server/api/resources/upload.py
  server/common/api_utils.py
  server/common/commonUtil.py
  server/common/date_utils.py
  server/common/form_utils.py
  server/common/phone_number_utils.py
  server/common/print_utils.py
  server/common/regexUtil.py
  server/common/request_id_utils.py
  server/common/user_utils.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix#1079 show all workflows on patient summary page
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/utils/index.ts
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
