Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix: fix mapping of users
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: prepend phoneNumber to phoneNumbers
  client/src/pages/admin/manageUsers/EditUser.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add phoneNumber to IUser
  client/src/pages/admin/manageUsers/EditUser.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/state.ts
  client/src/shared/api.ts
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add phoneNumber to user parser
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

fix: change "black" to "ruff check"
  server/.lintstagedrc.json
Due: backend unit tests, backend system tests, backend format

fix: change phoneNumber to phoneNumbers
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

fix: move phoneNumbers to UserParser
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

refactor: remove unused import
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: print error message on error
  client/src/pages/admin/manageUsers/EditUser.tsx
  client/src/shared/api.ts
  server/api/resources/users.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: add phone numbers to user registration
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

fix: fix register user test to use phoneNumbers
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

refactor: remove Auth0 sign in buttons
  client/src/pages/login/Login.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: move auth_config.json to src/shared/auth
  client/src/context/providers/auth/AuthProvider.tsx
  client/src/shared/auth/authConfig.ts
  client/src/shared/auth/auth_config.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: put cognito config info in auth_config
  client/src/shared/auth/auth_config.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: install @aws-sdk/client-cognito-identity-provider
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add auth.ts
  client/src/shared/auth/auth.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add boto3 to requirements.txt
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

build: uninstall @auth0/auth0-react
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete AuthProvider
  client/src/context/providers/TopLevelContextProviders.tsx
  client/src/context/providers/auth/AuthProvider.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete Auth0 sign in buttons
  client/src/pages/login/Login.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove useAuth0
  client/src/pages/login/LoginCallbackPage.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: throw ValidationExceptionError for consistency
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/api/resources/medicalRecords.py
  server/api/resources/patientAssociations.py
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

fix: change to class method to pass ruff check
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/api/resources/medicalRecords.py
  server/api/resources/patients.py
  server/tests/validation/test_medicalRecords.py
  server/tests/validation/test_patients.py
  server/validation/medicalRecords.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

fix: refactor validate function for assessments for consistency
  server/api/resources/assessments.py
  server/tests/validation/test_assessments.py
  server/validation/assessments.py
Due: backend unit tests, backend system tests, backend format

fix: refactor validate function for associations for consistency
  server/api/resources/patientAssociations.py
  server/tests/validation/test_associations.py
  server/validation/associations.py
Due: backend unit tests, backend system tests, backend format

fix: refactor validate function for readings for consistency
  server/api/resources/readings.py
  server/api/resources/sync.py
  server/tests/validation/test_readings.py
  server/validation/readings.py
Due: backend unit tests, backend system tests, backend format

refactor: make admin table page size options consistent with non-admin tables
  client/src/pages/admin/AdminTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: replace h2 with Typography
  client/src/pages/statistics/utils/StatisticDashboard.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename StatisticsDashboard to StatisticsInfo
  client/src/pages/statistics/AllStatistics.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/pages/statistics/index.tsx
  client/src/pages/statistics/utils/StatisticsInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: align select with text
  client/src/pages/statistics/FacilityStatistics.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete redundant float
  client/src/pages/statistics/FacilityStatistics.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: set headings to flex-wrap
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add initial dates to useDateRangeState
  client/src/shared/components/Date/useDateRangeState.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: change name of props
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/MyStatistics.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: replace Semantic-UI tabs with MUI
  client/src/pages/statistics/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add keys to tabs
  client/src/pages/statistics/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add DialogsProvider
  client/src/context/providers/TopLevelContextProviders.tsx
  client/src/context/providers/materialUI/MuiToolpadProvider.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add fetch function for pregnancies
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add fetch function for medical records
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add fetch function for drug records
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
