Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

refactor(referral table advanced search): use react query to fetch data
  client/src/pages/referrals/FilterDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

trying to fix formatting issue from CICD
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

refactor(auto refresher): use react query
  client/src/pages/referrals/AutoRefresher.tsx
  client/src/pages/referrals/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin relay server table): use react query to fetch list of relay servers
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin relay server list): use react query mutation for submitting new number
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin relay server list): refactor mutations to use useMutation
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

changes for getting sms relay request number
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

test: init playwright
  client/.github/workflows/playwright.yml
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/playwright.config.ts
  client/playwright/example.spec.ts
  client/tests-examples/demo-todo-app.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin facility list): remove memoization of some functions + fix typo
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

formatting + made is_blank check more succint in form_templates.py
  server/api/resources/form_classifications.py
  server/api/resources/form_templates.py
  server/common/api_utils.py
  server/service/questionTree.py
Due: backend unit tests, backend system tests, backend format

refactor(statistics page): use async/await instead of promise chaining
  client/src/pages/statistics/utils/queries.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(delete relay number dialog): use react query
  client/src/pages/admin/manageRelayApp/DeleteRelayNumDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(edit relay num dialog): use react query
  client/src/pages/admin/manageRelayApp/EditRelayNumDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

styling(secret key page): center content and remove unneeded tags
  client/src/pages/secretKey/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(secret key page): use react query + refactor for better maintainability
  client/src/pages/secretKey/index.tsx
  client/src/pages/secretKey/useSecretKey.ts
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(secret key page): rename variables
  client/src/pages/secretKey/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(admin relay server list): fix REST validation errors
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/shared/api/api.ts
  server/api/resources/relay_server_phone_numbers.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

test: add login test
  client/playwright/constants.ts
  client/playwright/example.spec.ts
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: update cypress
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: update login cypress test
  client/cypress/e2e/login.cy.ts
  client/playwright/constants.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: use regex to match url
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: renenable cypress login command
  client/cypress/support/commands.ts
  client/cypress/support/e2e.ts
  client/src/pages/login/Login.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete unused component
  client/src/pages/login/LoginCallbackPage.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename Login to LoginForm
  client/src/pages/login/LoginForm.tsx
  client/src/pages/login/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: change Log in to Login
  client/cypress/e2e/login.cy.ts
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove unused page
  client/src/app/routes/utils/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: change Log in to Login
  client/src/pages/login/LoginForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: disable Login button if form is invalid
  client/src/pages/login/LoginForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add additional login tests
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: add playwright commands to npm run scripts
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

docs: change black to ruff
  docs/development.md
Due: none

docs: update headings
  docs/development.md
Due: none

refactor: rename systemTests to system_tests
  .github/workflows/main-cicd.yml
  server/system_tests/README.md
  server/system_tests/__init__.py
  server/system_tests/api/__init__.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_android_endpoints.py
  server/system_tests/api/test_assessments.py
  server/system_tests/api/test_facilities.py
  server/system_tests/api/test_form_classifications.py
  server/system_tests/api/test_form_templates.py
  server/system_tests/api/test_forms.py
  server/system_tests/api/test_medical_records.py
  server/system_tests/api/test_patients.py
  server/system_tests/api/test_pregnancies.py
  server/system_tests/api/test_readings.py
  server/system_tests/api/test_referrals.py
  server/system_tests/api/test_sms_relay.py
  server/system_tests/api/test_sms_relay_errors.py
  server/system_tests/api/test_users.py
  server/system_tests/conftest.py
  server/system_tests/crud_test/__init__.py
  server/system_tests/crud_test/test_crud.py
  server/system_tests/flow/README.md
  server/system_tests/flow/__init__.py
  server/system_tests/flow/conftest.py
  server/system_tests/flow/test_referral_loop.py
  server/system_tests/mock/__init__.py
  server/system_tests/mock/factory.py
  server/system_tests/test_apidocs.py
  server/system_tests/test_login.py
  server/system_tests/test_patient_associations.py
  server/system_tests/test_patient_filters.py
  server/system_tests/test_search.py
Due: backend unit tests, backend system tests, backend format

refactor: delete unused workflow
  .github/workflows/backend-tests.yml
Due: none

docs: add testing.md
  docs/development.md
  docs/testing.md
Due: none

docs: add link to testing.md
  docs/development.md
Due: none

test: delete demo test
  client/tests-examples/demo-todo-app.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove unused imports
  client/src/pages/login/LoginForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: describe login tests
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add baseUrl to playwright config
  client/playwright.config.ts
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
