Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

feat: trigger workflow update when form version changed
  server/api/resources/form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

fix: resolving circular import issue
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

feat: added new field for broken template recognition
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/migrations/versions/10_add_has_branching_issues_to_workflow_template.py
  server/models/workflows.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: added a function to update workflow template step form associations
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

reformat: ruff
  server/api/resources/form_templates_v2.py
  server/common/workflow_utils.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

feat: add check for valid branching conditions
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  server/migrations/versions/33_add_has_branching_issues_to_workflow_template.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: fix ui for mcq and blocky
  client/src/shared/hooks/forms/useFormQuestions.ts
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: bug fixes and general workflow updates according to form
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/WorkflowStep.tsx
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/types/form/formTemplateTypes.ts
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: applying status change to warning
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: removed clashng migration file
  server/migrations/versions/10_add_has_branching_issues_to_workflow_template.py
Due: backend unit tests, backend system tests, backend format

feat: final fixes after rebase
  server/common/workflow_utils.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: ruff issues
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix: frontend build and format
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/testing/pages/workflowInfo/stepTree.test.ts
  client/src/testing/testData.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed Variable Issue
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
  server/manage.py
  server/models/workflows.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fixed backend flaky test
  server/system_tests/db_operations/test_common_crud.py
Due: backend unit tests, backend system tests, backend format

fixed failing tests
  server/api/resources/patients.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

update format
  client/src/shared/components/workflow/blocklyEditor/blocklyWorkspaceUtils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix Blockly editor TypeScript build errors.
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocklyWorkspaceUtils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

dont override dob if age wasnt change
  client/src/pages/patientForm/components/EditPersonalInfoForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

skeleton of data markdown implementation
  server/api/resources/workflow_instances.py
  server/models/workflows.py
  server/service/workflow/datasourcing/description_variables.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

test: add unit tests for validate form answers
  server/tests/common/form_utils/conftest.py
  server/tests/common/form_utils/helpers.py
  server/tests/common/form_utils/test_validate_form_answers.py
Due: backend unit tests, backend system tests, backend format

Fix form_utils circular import and date validation test mocks
  server/common/form_utils.py
  server/tests/common/form_utils/test_validate_form_answers.py
Due: backend unit tests, backend system tests, backend format

test: add unit tests for check name conflict
  server/tests/common/form_utils/test_check_name_conflict.py
Due: backend unit tests, backend system tests, backend format

test: add unit tests for handle model existence
  server/tests/common/form_utils/test_handle_model_existence.py
Due: backend unit tests, backend system tests, backend format

test: add unit tests for format_template
  server/tests/common/form_utils/test_format_template.py
Due: backend unit tests, backend system tests, backend format

test: add unit tests for attach_questions
  server/tests/common/form_utils/test_attach_questions.py
Due: backend unit tests, backend system tests, backend format

fixed test
  server/tests/common/form_utils/test_attach_questions.py
Due: backend unit tests, backend system tests, backend format

test: add unit tests for assign_form_template_ids_v2 and assign_form_ids_v2
  server/tests/common/form_utils/test_assign_form_ids.py
Due: backend unit tests, backend system tests, backend format

add system tests for form template v2 GET endpoints
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

feat: migration and seeding
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  server/api/resources/workflow_templates.py
  server/data/orm_serializer/workflows.py
  server/manage.py
  server/migrations/versions/33_workflow_lang_support_add_translation_support_to_workflows.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: non-relevant steps being assessed
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix: format
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add system tests for form template v2 CSV export and versioning
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

add system tests for form submission v2 error paths and enrichment
  server/system_tests/api/test_form_submissions_v2.py
Due: backend unit tests, backend system tests, backend format

add system tests for form classification v2 read paths and auth
  server/system_tests/api/test_form_classifications_v2.py
Due: backend unit tests, backend system tests, backend format

refactor: add shared form v2 fixtures and cleanup helpers in system test conftest
  server/system_tests/api/conftest.py
Due: backend unit tests, backend system tests, backend format

refactor: migrate form v2 system tests to shared fixtures
  server/system_tests/api/conftest.py
  server/system_tests/api/test_form_classifications_v2.py
  server/system_tests/api/test_form_submissions_v2.py
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

set test DB env defaults and resolve ruff issues in form tests
  server/system_tests/api/conftest.py
  server/system_tests/api/test_form_classifications_v2.py
  server/system_tests/api/test_form_templates_v2.py
  server/tests/common/form_utils/conftest.py
  server/tests/common/form_utils/helpers.py
  server/tests/common/form_utils/test_attach_questions.py
Due: backend unit tests, backend system tests, backend format

fixed format
  server/system_tests/api/test_form_classifications_v2.py
  server/system_tests/api/test_form_submissions_v2.py
  server/system_tests/api/test_form_templates_v2.py
  server/tests/common/form_utils/test_assign_form_ids.py
  server/tests/common/form_utils/test_attach_questions.py
  server/tests/common/form_utils/test_check_name_conflict.py
  server/tests/common/form_utils/test_handle_model_existence.py
Due: backend unit tests, backend system tests, backend format

implemented floating API
  client/src/shared/api/modules/workflowInstance.ts
  server/api/resources/workflow_instances.py
  server/models/workflows.py
  server/service/workflow/datasourcing/description_variables.py
  server/tests/service/workflow/test_description_variables.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
