Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

feat: workflow data resolution
  server/service/workflow/datasourcing/data_sourcing.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow instance in RuleEvaluator
  server/service/workflow/evaluate/rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow Instance Data api model
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

linter fix
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

more prettier fix
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Workflow instance data API
  server/api/resources/workflow_instances.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow instance DB layer
  server/data/db_operations/__init__.py
  server/data/db_operations/__init__.pyi
  server/data/db_operations/workflow_management.py
Due: backend unit tests, backend system tests, backend format

fix: ruff fix
  server/service/workflow/datasourcing/data_sourcing.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow service API get instance data items
  server/service/workflow/workflow_service.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow instance for wf. variables
  server/service/workflow/workflow_planner.py
Due: backend unit tests, backend system tests, backend format

fix: Ruff reformat
  server/api/resources/workflow_instances.py
  server/service/workflow/datasourcing/data_catalogue.py
  server/service/workflow/workflow_service.py
Due: backend unit tests, backend system tests, backend format

fix: ruff reformatter
  server/service/workflow/workflow_planner.py
Due: backend unit tests, backend system tests, backend format

fix: Undo button reverts step name changes instead of deleting the node
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add: single child is reattached when parent node is deleted
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: menu remains after setting a branch condition
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

ran prettier
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

removed unused handleRuleClick and ran prettier
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: Migration workflow variable collection name
  server/migrations/versions/28_seed_basic_patient.py
Due: backend unit tests, backend system tests, backend format

fix: ruff format fix
  server/migrations/versions/28_seed_basic_patient.py
Due: backend unit tests, backend system tests, backend format

feat: workflow service include current users
  server/service/workflow/workflow_service.py
Due: backend unit tests, backend system tests, backend format

feat:workflow instance add user data
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
Due: backend unit tests, backend system tests, backend format

Blockly Editor Ui (#1043)
  client/package-lock.json
  client/package.json
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/README.md
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/index.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Add user metadata to workflow planner
  server/service/workflow/workflow_planner.py
Due: backend unit tests, backend system tests, backend format

fix: migrate existing v1 forms in database to v2
  client/src/shared/api/modules/workflowTemplates.ts
  server/common/workflow_utils.py
  server/migrations/versions/29_3d709b4c0aeb_migrate_v1_form_classification_template_.py
  server/models/workflows.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

migrate remaining form template endpoints to V2 API
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/hooks/patient/useWorkflowFormModal.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

revert workflow modal to V1 API due to V1 template ID dependency
  client/src/shared/hooks/patient/useWorkflowFormModal.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Workflow rule evaluator add current users
  server/service/workflow/evaluate/rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

feat: Manual system context migration
  server/migrations/versions/29_seed_system_context_variables.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow local date test
  server/system_tests/service/workflow/test_rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

fetch form bug fix
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/CustomizedFormPageContainer.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/shared/api/modules/forms.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleaned up workflow-admin
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
  docker-compose.yml
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Revert docker-compose.yml change from workflow admin cleanup merge
  docker-compose.yml
Due: none

Remove workflow template CSV and file-upload endpoints
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow type coercion
  server/service/workflow/datasourcing/variable_type_coercion.py
Due: backend unit tests, backend system tests, backend format

Bug Fix: Fetch form to display fields properly (#1056)
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/CustomizedFormPageContainer.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Workflow type registry
  server/migrations/versions/30_workflow_variable_catalogue_types.py
  server/service/workflow/datasourcing/variable_type_registry.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow type coercion rule evaluator
  server/service/workflow/evaluate/rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

cleaned up and ran prettier
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Delete docker-compose.yml
  docker-compose.yml
Due: none

fix: update backend to use v2 form orm and marshalling
  server/common/form_utils.py
  server/data/orm_serializer/workflows.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
