Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

refactor: change drawerWidth to accept string
  client/src/app/styles/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add constants for drawer width
  client/src/shared/constants.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use media query instead of DimensionsContext
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/readingForm/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/pages/resources/ResourceTabPage/index.tsx
  client/src/shared/components/apiTable/Pagination.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use redux to track sidebar state
  client/src/app/index.tsx
  client/src/app/logout/index.tsx
  client/src/app/sidebar/index.tsx
  client/src/app/sidebar/route/index.tsx
  client/src/app/topBar/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove dimensions context
  client/src/pages/patients/patient.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: set sidebar initial state to open
  client/src/redux/sidebar-state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: close sidebar when screen is small
  client/src/app/sidebar/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use MUI default breakpoint instead of custom constant
  client/src/app/sidebar/index.tsx
  client/src/app/topBar/index.tsx
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/readingForm/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/pages/resources/ResourceTabPage/index.tsx
  client/src/shared/components/apiTable/Pagination.tsx
  client/src/shared/constants.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix logout runtime error
  client/src/redux/reducers/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove redundant loggedIn check
  client/src/app/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete context
  client/src/app/context/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: add prune-merged-branches script
  scripts/prune-merged-branches.sh
Due: none

refactor: move Redux store hooks into shared dir
  client/src/app/context/hooks/index.ts
  client/src/app/logout/index.tsx
  client/src/app/routes/privateRoute/index.tsx
  client/src/app/sidebar/index.tsx
  client/src/app/sidebar/route/index.tsx
  client/src/app/topBar/index.tsx
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/login/form/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/hooks/healthFacilities/index.ts
  client/src/shared/hooks/index.ts
  client/src/shared/hooks/secretKey/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

docs: add name to contributer list
  README.md
Due: none

(chore)docs: added name to list of contributors
  README.md
Due: none

feat: default to require auth for all routes
  server/api/decorator.py
  server/api/resources/version.py
  server/app.py
Due: backend unit tests, backend system tests, backend format

fix test failures and make default value for is_public be false
  server/api/resources/assessments.py
  server/app.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Allow login path without authorization check
  server/app.py
Due: backend unit tests, backend system tests, backend format

Run ruff check --fix to resolve lint issues
  server/api/resources/version.py
Due: backend unit tests, backend system tests, backend format

Rollback smoke test edit in assessments.py
  server/api/resources/assessments.py
Due: backend unit tests, backend system tests, backend format

Revert black formatted file
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

fix: remove ThemeProvider
  client/src/app/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove topBarOffset
  client/src/app/index.tsx
  client/src/app/routes/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use sx for PaperProps instead of classes
  client/src/app/sidebar/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove useStyles from Sidebar
  client/src/app/sidebar/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(MUI): change ListItem to ListItemButton
  client/src/app/sidebar/route/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(Sidebar): rework logout menu item
  client/src/app/index.tsx
  client/src/app/logout/index.tsx
  client/src/app/sidebar/index.tsx
  client/src/app/sidebar/route/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(MUI): delete styles file for App component
  client/src/app/routes/styles/index.ts
  client/src/app/styles/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(MUI): replace styles API with sx for Topbar
  client/src/app/topBar/index.tsx
  client/src/app/topBar/styles/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(MUI): migrate styles for AdminTable
  client/src/pages/admin/AdminTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: adjust button height to match search field
  client/src/pages/admin/AdminTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(MUI): migrate styles for facilities table
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: make table head cells bold
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add AdminTableContainer component
  client/src/pages/admin/AdminTable.tsx
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add AdminTableRow component
  client/src/pages/admin/AdminTable.tsx
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(MUI): migrate styles for ManagePatients
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(MUI): migrate styles for ManageRelayApp
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(MUI): migrate styles for ManageUsers
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

style: run prettier to format code
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
