Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

rearranging steps
  .github/workflows/main-cicd.yml
Due: none

testing chmod with correct directory
  .github/workflows/main-cicd.yml
Due: none

fixing paths
  .github/workflows/main-cicd.yml
Due: none

-g install for cypress
  .github/workflows/main-cicd.yml
Due: none

checking cache path diagnostics
  .github/workflows/main-cicd.yml
Due: none

running cypress verify
  .github/workflows/main-cicd.yml
Due: none

adding npx to cypress commands
  .github/workflows/main-cicd.yml
Due: none

updating cypress run command
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

adding machine image
  .github/workflows/main-cicd.yml
Due: none

changing runs to with
  .github/workflows/main-cicd.yml
Due: none

updating format
  .github/workflows/main-cicd.yml
Due: none

github actions v6
  .github/workflows/main-cicd.yml
Due: none

updating command
  .github/workflows/main-cicd.yml
Due: none

switching to npx
  .github/workflows/main-cicd.yml
Due: none

npm switch
  .github/workflows/main-cicd.yml
Due: none

replicating the error
  .github/workflows/main-cicd.yml
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

reverting
  .github/workflows/main-cicd.yml
Due: none

Add a manual stop in the pipeline for debugging
  .github/workflows/main-cicd.yml
Due: none

Enable frontend integration test in pipeline
  .github/workflows/main-cicd.yml
Due: none

Add sms key duration to pipeline
  .github/workflows/main-cicd.yml
Due: none

enabling for testing
  .github/workflows/main-cicd.yml
Due: none

fixing build issues
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

reverting pipeline changes and formatting files
  .github/workflows/main-cicd.yml
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

Move Tooltips inside Fields and Info icons
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Align all tooltips to the right of fields
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

logging changed for user logins
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

adding middleware for logging
  server/api/resources/users.py
  server/app.py
Due: backend unit tests, backend system tests, backend format

adding query handlers to request
  server/app.py
Due: backend unit tests, backend system tests, backend format

switching to after_request to access response
  server/app.py
Due: backend unit tests, backend system tests, backend format

reverting changes to original files
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

formatting code
  server/api/resources/users.py
  server/app.py
Due: backend unit tests, backend system tests, backend format

Refactor multiple choice render to new component
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiChoice.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor multi-select render to new component
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiSelect.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

removing redundant logs
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/medicalRecords.py
  server/api/resources/sync.py
  server/api/resources/users.py
  server/data/crud.py
  server/validation/ReferralValidator.py
Due: backend unit tests, backend system tests, backend format

disabling steps for testing
  .github/workflows/main-cicd.yml
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

correcting main ci-cd file
  .github/workflows/main-cicd.yml
Due: none

main cicd fixed
  .github/workflows/main-cicd.yml
Due: none

reverting crud.py and sync.py
  server/api/resources/sync.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

removing middleware
  server/app.py
Due: backend unit tests, backend system tests, backend format

changing to before
  server/app.py
Due: backend unit tests, backend system tests, backend format
