Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

feat: return challenge from start_sign_in
  server/api/resources/users.py
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

feat: add require auth decorator
  server/api/decorator.py
Due: backend unit tests, backend system tests, backend format

build: update jwt-decode
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: don't keep refreshToken in local sotrage
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: forbid extra fields in auth validator
  server/validation/users.py
Due: backend unit tests, backend system tests, backend format

feat: get credentials from json body
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

feat: convert keys to snake case
  client/src/redux/middleware/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: change email to username
  client/src/redux/reducers/user/currentUser/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove no cache header
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

fix: recursively response transform data to camel case
  client/src/redux/middleware/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: install zod
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove log statements
  client/src/redux/middleware/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove duplicate sms_key
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

fix: remove sub from response
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

feat: validate auth response
  client/src/redux/reducers/user/currentUser/index.ts
  client/src/shared/api/validation/login.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rework response body
  server/api/resources/users.py
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

refactor: remove I prefix
  client/src/pages/admin/manageUsers/DeleteUser.tsx
  client/src/pages/admin/manageUsers/EditUser.tsx
  client/src/pages/admin/manageUsers/ResetPassword.tsx
  client/src/pages/admin/manageUsers/state.ts
  client/src/pages/secretKey/index.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/redux/reducers/user/currentUser/index.ts
  client/src/shared/api/api.ts
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove I prefixes
  client/src/pages/admin/manageRelayApp/DeleteRelayNum.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageRelayApp/editRelayNum.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/shared/api/api.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove I prefixes
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/referrals/AutoRefresher.tsx
  client/src/pages/referrals/FilterDialog.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/shared/api/api.ts
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename firstName to name
  client/src/app/topBar/index.tsx
  client/src/pages/admin/manageUsers/DeleteUser.tsx
  client/src/pages/admin/manageUsers/EditUser.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/ResetPassword.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: change map to record
  client/src/shared/api/validation/login.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename userId to id
  client/src/pages/admin/manageUsers/EditUser.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/referrals/index.tsx
  client/src/pages/secretKey/index.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/redux/reducers/user/currentUser/index.ts
  client/src/shared/api/api.ts
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
  server/api/resources/users.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: add phone numbers to user_dict
  server/api/resources/users.py
  server/shared/phone_number_utils.py
  server/shared/user_utils.py
Due: backend unit tests, backend system tests, backend format

feat: add UserSchema
  client/src/shared/api/validation/login.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename UserWithTokens to UserWithToken
  client/src/pages/secretKey/index.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/redux/reducers/user/currentUser/index.ts
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove @jwt_required
  server/api/resources/facilities.py
Due: backend unit tests, backend system tests, backend format

fix: abort if facility not found
  server/api/resources/facilities.py
Due: backend unit tests, backend system tests, backend format

fix: use snake case
  server/api/resources/facilities.py
Due: backend unit tests, backend system tests, backend format

fix: throw 401 error if token verification fails
  server/authentication/__init__.py
Due: backend unit tests, backend system tests, backend format

refactor: remove print statement
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

refactor: check if facility is None
  server/api/resources/facilities.py
Due: backend unit tests, backend system tests, backend format

refactor: rename file to snake case
  server/api/resources/relay_server_phone_numbers.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

refactor: rename files to snake case
  server/api/__init__.py
  server/api/resources/form_classifications.py
  server/api/resources/form_templates.py
  server/api/resources/medical_records.py
  server/api/resources/patient_associations.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

feat: retrieve phone numbers with user info
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

fix: change facility to health_facility_name
  server/shared/user_utils.py
Due: backend unit tests, backend system tests, backend format

fix: fix get referrals
  server/api/resources/referrals.py
Due: backend unit tests, backend system tests, backend format

fix: fix imports
  server/api/__init__.py
  server/api/decorator.py
  server/api/resources/patient_associations.py
  server/api/resources/referrals.py
  server/authentication/CognitoClientWrapper.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

fix: fix column names
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

fix: fix id key
  server/service/view.py
Due: backend unit tests, backend system tests, backend format
