Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix: format
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: format
  server/service/workflow/datasourcing/data_catalogue.py
  server/system_tests/flow/conftest.py
  server/tests/service/workflow/test_forms_collection.py
Due: backend unit tests, backend system tests, backend format

fix: backend format
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix: conftest
  server/system_tests/flow/conftest.py
Due: backend unit tests, backend system tests, backend format

fixed next step choice bug
  server/api/resources/workflow_instances.py
  server/service/workflow/workflow_service.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

Split useWorkflowEditor into state and mutation hooks
  client/src/shared/hooks/workflowTemplate/useWorkflowBranchMutations.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowEditorState.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowSave.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowStepMutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated documentation List to list
  server/data/db_operations/form_queries.py
Due: backend unit tests, backend system tests, backend format

fix: ensured new workflow instances can be created without a name and description
  client/src/pages/newWorkflowInstance/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Working on tests
  docs/development.md
  server/requirements.txt
  server/system_tests/crud_test/test_crud.py
  server/system_tests/db_operations/__init__.py
  server/system_tests/db_operations/test_common_crud.py
Due: backend unit tests, backend system tests, backend format

Increase test coverage
  server/system_tests/conftest.py
  server/system_tests/db_operations/test_common_crud.py
Due: backend unit tests, backend system tests, backend format

Added fixes for the new test cases
  server/data/db_operations/__init__.py
  server/data/db_operations/common_crud.py
  server/service/invariant.py
Due: backend unit tests, backend system tests, backend format

Basic tests with 100% coverage
  server/system_tests/db_operations/test_common_crud.py
Due: backend unit tests, backend system tests, backend format

fix: optional schema
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

format: ffrontend
  client/src/pages/newWorkflowInstance/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

pulled changes from main
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

fixed failing tests
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/testing/pages/workflowInfo/stepTree.test.ts
  server/service/workflow/workflow_planner.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_service.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fixed not being able to override current step
  client/src/shared/hooks/patient/useWorkflowStepActions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract workflow template view header and read-only content
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/WorkflowTemplatePageHeader.tsx
  client/src/pages/admin/manageWorkflowTemplates/WorkflowTemplateViewContent.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Split referrals page and filter dialog into subcomponents
  client/src/pages/referrals/FilterDialog.tsx
  client/src/pages/referrals/components/ReferralsSearchBar.tsx
  client/src/pages/referrals/components/ReferralsToolbar.tsx
  client/src/pages/referrals/components/filterDialog/AssessmentStatusFilterGroup.tsx
  client/src/pages/referrals/components/filterDialog/DateRangeFilterGroup.tsx
  client/src/pages/referrals/components/filterDialog/HealthFacilityFilterGroup.tsx
  client/src/pages/referrals/components/filterDialog/PregnancyFilterGroup.tsx
  client/src/pages/referrals/components/filterDialog/ReferrerFilterGroup.tsx
  client/src/pages/referrals/components/filterDialog/VitalSignsFilterGroup.tsx
  client/src/pages/referrals/components/filterDialog/types.ts
  client/src/pages/referrals/index.tsx
  client/src/pages/referrals/useReferralColumns.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Split EditCategory into name fields, visibility, and save util
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CategoryNameFields.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CategoryVisibilitySection.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/categorySave.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract form editor header, footer, and row actions
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/FormEditorFooter.tsx
  client/src/pages/customizedForm/components/FormEditorHeader.tsx
  client/src/pages/customizedForm/components/FormQuestionRowActions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract chart data, workflow toolbar, and relay app dialog
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageRelayApp/RelayAppActionsDialog.tsx
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowInfoToolbar.tsx
  client/src/pages/patient/patientStatsChartData.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

make sure possible steps are still there after reactivation
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
  client/src/pages/patient/WorkflowInfo/utils/stepTree.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed completing final step
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/utils/stepTree.ts
  client/src/shared/hooks/patient/useWorkflowInstanceActions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed ruff error
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Fix existing ruff errors
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Revert "Fix existing ruff errors"
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Moved around existing code due to ruff
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Pass workflow editor hook return object to workfloweditor
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Split shared utils into focused modules and move navigation hook
  client/src/shared/hooks/useGoBackWithFallback.ts
  client/src/shared/utils/age.ts
  client/src/shared/utils/date.ts
  client/src/shared/utils/format.ts
  client/src/shared/utils/phone.ts
  client/src/shared/utils/readings.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract form question reorder and delete handlers into hook
  client/src/shared/hooks/forms/useCustomizedFormWQuestions.ts
  client/src/shared/hooks/forms/useFormQuestionMutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract patient record timeline and flatten util
  client/src/pages/patient/components/PatientRecordCard.tsx
  client/src/pages/patient/components/PatientRecordTimeline.tsx
  client/src/pages/patient/index.tsx
  client/src/pages/patient/utils/flattenAndSortRecords.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract form template metadata and visibility condition editors
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/FormTemplateMetadataForm.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/VisibilityConditionSelectors.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/useVisibleConditionState.ts
  client/src/pages/admin/manageFormTemplates/editFormTemplate/visibilityAnswerMapper.ts
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed format
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/WorkflowTemplatePageHeader.tsx
  client/src/pages/admin/manageWorkflowTemplates/WorkflowTemplateViewContent.tsx
  client/src/pages/customizedForm/components/FormQuestionRowActions.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowInfoToolbar.tsx
  client/src/pages/referrals/components/filterDialog/AssessmentStatusFilterGroup.tsx
  client/src/pages/referrals/components/filterDialog/PregnancyFilterGroup.tsx
  client/src/pages/referrals/components/filterDialog/VitalSignsFilterGroup.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/utils/date.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix TypeScript errors from Phase 5 refactors
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/FormTemplateMetadataForm.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/useVisibleConditionState.ts
  client/src/pages/admin/manageFormTemplates/editFormTemplate/visibilityAnswerMapper.ts
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageWorkflowTemplates/WorkflowTemplateViewContent.tsx
  client/src/pages/patient/components/PatientRecordCard.tsx
  client/src/pages/patient/components/PatientRecordTimeline.tsx
  client/src/pages/referrals/components/ReferralsToolbar.tsx
  client/src/pages/referrals/useReferralColumns.tsx
  client/src/shared/hooks/forms/useFormQuestionMutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix format
  client/src/pages/admin/manageFormTemplates/editFormTemplate/FormTemplateMetadataForm.tsx
  client/src/pages/referrals/useReferralColumns.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed possible steps when completed
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/pages/patient/WorkflowInfo/utils/stepTree.ts
  client/src/shared/hooks/patient/useWorkflowStepActions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed frontend failing tests
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistoryItem.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed frontend failing tests
  client/src/shared/hooks/patient/useWorkflowStepActions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixes #1094
  server/system_tests/test_search.py
Due: backend unit tests, backend system tests, backend format
