Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

tests(form template table): add integration/unit tests
  client/package-lock.json
  client/package.json
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
  client/src/pages/patients/patient.test.tsx
  client/src/shared/api/api.ts
  client/src/testing/ProviderWrapper.tsx
  client/src/testing/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

tests(form template table): rename vars and add more cleanup
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient custom form page): refactor and use tanstack
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/queries.ts
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/shared/api/api.ts
  client/src/shared/queries.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(form templates): pass form id to location state so that new template page can fetch the form instead of being passed the entire form through location.state
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/LanguageModal.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/utils.ts
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient custom form page): use controlled values for submitting form
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): restructure folders, use tanstack query for mutations and queries, and create layout file
  client/src/app/routes/utils/CustomFormRoutes.tsx
  client/src/app/routes/utils/index.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/Layout.tsx
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/DeleteCategoryDialog.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedEditForm/state.ts
  client/src/pages/customizedForm/customizedNewForm/SelectFormTemplate/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedNewForm/SelectFormTemplate/state.ts
  client/src/pages/customizedForm/customizedNewForm/index.tsx
  client/src/pages/customizedForm/customizedViewForm/index.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/pages/customizedForm/mutations.ts
  client/src/pages/customizedForm/state.ts
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient custom form page): check for undefined instead of using ! operator because empty array is considered false
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): move queries related to forms into their own file
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditFormPage/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/pages/customizedForm/customizedViewFormPage/index.tsx
  client/src/pages/customizedForm/queries.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): rename folders to indicate they are pages and move file to components subfolder
  client/src/app/routes/utils/CustomFormRoutes.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/customizedEditFormPage/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/state.ts
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/pages/customizedForm/customizedViewFormPage/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(submit form template dialog): use tanstack mutation
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

testing: use msw to mock api server and add global setup for tests
  client/package-lock.json
  client/package.json
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
  client/src/testing/mockServer.ts
  client/src/testing/testData.ts
  client/src/testing/vitest.setup.ts
  client/vite.config.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: move running of tests to husky instead of lint-staged
  .husky/pre-commit
  client/.lintstagedrc.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove console log
  client/.lintstagedrc.json
  client/package.json
  client/src/testing/mockServer.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add extra clarification to comment
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

testing: add tests to precommit hook
  client/.lintstagedrc.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove print statements
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

dep: regenerate lock file
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

working on adding archive patient test
  client/playwright/fixtures.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

adding archive patient test (WIP)
  client/playwright/page-object-models/patients-page-model.ts
  client/playwright/tests/archive-patient.spec.ts
  client/playwright/tests/referral-loop.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

dep: regenerate lock file again
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

dep: update playwright
  .github/workflows/main-cicd.yml
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

almost done adding archive patient test
  client/playwright/fixtures.ts
  client/playwright/page-object-models/patients-page-model.ts
  client/playwright/tests/archive-patient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: delete referral-loo[.spec.ts
  client/playwright/tests/referral-loop.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: set default limit to 10
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

fix: set default limit to None
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Added test to archive patient
  client/playwright/tests/archive-patient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update SMS transmission documentation
  docs/sms_relay_protocol_specs.md
Due: none

Updates to request number checking and handling for request number mismatch errors.
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Separated adminPatientsPage; removed RegEx
  client/playwright/fixtures.ts
  client/playwright/page-object-models/admin-patients-page-model.ts
  client/playwright/page-object-models/patients-page-model.ts
  client/playwright/tests/archive-patient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(sms relay): update valid request number function
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

refactor(sms relay): db updates for request numbers to be based on user phone numbers
  server/api/resources/sms_relay.py
  server/common/user_utils.py
  server/migrations/versions/4_4de9e2572bb1_sms_relay_request_number_changes.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

refactor(sms relay): db changes for sms relay request numbers
  server/migrations/versions/4_4de9e2572bb1_sms_relay_request_number_changes.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
