Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

refactor: remove unused import
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix issue with error displayed when field is cleared
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: simplify min and max
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update value even if error
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove min and max because they dont do anything
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

testing: use msw to mock api server and add global setup for tests
  client/package-lock.json
  client/package.json
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
  client/src/testing/mockServer.ts
  client/src/testing/testData.ts
  client/src/testing/vitest.setup.ts
  client/vite.config.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

testing: add tests to precommit hook
  client/.lintstagedrc.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add extra clarification to comment
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove console log
  client/.lintstagedrc.json
  client/package.json
  client/src/testing/mockServer.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: move running of tests to husky instead of lint-staged
  .husky/pre-commit
  client/.lintstagedrc.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove print statements
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

Update CustomNumberField.tsx
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update FormQuestions.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update state.ts
  client/src/pages/customizedForm/customizedEditForm/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update form_utils.py
  server/common/form_utils.py
Due: backend unit tests, backend system tests, backend format

Update forms.py
  server/validation/forms.py
Due: backend unit tests, backend system tests, backend format

Update forms.py
  server/api/resources/forms.py
Due: backend unit tests, backend system tests, backend format

Update questions.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

Update relay_server_phone_numbers.py
  server/api/resources/relay_server_phone_numbers.py
Due: backend unit tests, backend system tests, backend format

Update models.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Update crud.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Create test_relay_server_phone_numbers.py
  server/system_tests/api/test_relay_server_phone_numbers.py
Due: backend unit tests, backend system tests, backend format

test: set retries to 2
  client/playwright.config.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add useIsMounted
  client/playwright.config.ts
  client/src/shared/components/Button/index.tsx
  client/src/shared/hooks/misc/useIsMounted.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: wait for url
  client/playwright/page-object-models/page-object-model.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use PrimaryButton for login button
  client/src/pages/login/LoginForm.tsx
  client/src/shared/components/Button/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: skip unsuccessful login tests
  client/playwright.config.ts
  client/playwright/tests/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: delete incorrect credential login tests
  client/playwright/page-object-models/page-object-model.ts
  client/playwright/tests/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: disable parallelism
  client/playwright.config.ts
  client/playwright/tests/create-patient.spec.ts
  client/playwright/tests/create-referral.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: disable buttons until patient has loaded
  client/src/pages/patient/Header.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: enable parallelism
  client/playwright.config.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: remove slowmo
  client/playwright.config.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove useIsMounted
  client/src/shared/components/Button/index.tsx
  client/src/shared/hooks/misc/useIsMounted.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(form templates table): create separate mutations.ts and queries.ts files
  client/src/pages/admin/manageFormTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/mutations.ts
  client/src/pages/admin/manageFormTemplates/queries.ts
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove async from functions that do not use await
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/managePatients/ArchivePatientDialog.tsx
  client/src/pages/admin/manageRelayApp/DeleteRelayNumDialog.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageUsers/ResetPasswordDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/referrals/AutoRefresher.tsx
  client/src/pages/secretKey/useSecretKey.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use tanstack query when unarchiving form template
  client/src/app/topBar/changePasswordDialog/ChangePasswordDialog.tsx
  client/src/pages/admin/manageFacilities/EditFacilityDialog.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/shared/api/api.ts
  server/api/resources/form_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Refactor(form templates table): use react query to fetch rows and download csv
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
