Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Uncomment code for workflow instance DB model, change last_edited_by field to foreign key
  server/migrations/versions/8_1d8f10250319_create_model_for_workflow_instances.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Implement model for workflow instance steps, update date attributes of workflow components
  server/migrations/versions/9_54251029538f_change_date_attributes_for_workflow_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Add missing attributes to workflow instances and steps, add extra checks for dates in pydantic models for workflow templates and steps, create pydantic models for workflow instances and steps
  server/enums.py
  server/migrations/versions/10_dcbe6ac27ffb_add_missing_attributes_and_foreign_keys_.py
  server/models.py
  server/validation/workflow_instance_steps.py
  server/validation/workflow_instances.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Make unit test for workflow instance steps
  server/tests/validation/test_workflow_instance_steps.py
  server/validation/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

Finish unit test for workflow instance Pydantic model
  server/tests/validation/test_workflow_instances.py
  server/validation/workflow_instance_steps.py
  server/validation/workflow_instances.py
Due: backend unit tests, backend system tests, backend format

Reformat files using ruff
  server/migrations/versions/10_dcbe6ac27ffb_add_missing_attributes_and_foreign_keys_.py
  server/models.py
  server/tests/validation/test_workflow_instance_steps.py
  server/tests/validation/test_workflow_instances.py
  server/validation/workflow_instance_steps.py
  server/validation/workflow_instances.py
Due: backend unit tests, backend system tests, backend format

run prettier
  client/.lintstagedrc.json
  client/.prettierrc.json
  client/cypress/e2e/archivePatients.cy.ts
  client/cypress/e2e/referral.cy.ts
  client/cypress/e2e/testBrowserLangauge.cy.ts
  client/cypress/tsconfig.json
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/queries.ts
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/referrals/FilterDialog.tsx
  client/src/shared/api/modules/forms.ts
  client/src/shared/api/modules/patients.ts
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/constants.ts
  client/src/shared/enums.ts
  client/src/shared/types/workflow/workflowEnums.ts
  client/src/shared/types/workflow/workflowTypes.ts
  client/tsconfig.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

udapte workflow instance and workflow templates apis
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/enums.ts
  client/src/shared/types/workflow/workflowEnums.ts
  client/src/shared/types/workflow/workflowTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

setup infra
  server/service/rulesEngine/rules_engine.py
Due: backend unit tests, backend system tests, backend format

implementation: workflow endpoints with test data
  server/api/resources/__init__.py
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

refactor: reformat with ruff
  server/api/resources/__init__.py
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

refactor: reformat with ruff
  server/api/resources/__init__.py
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/app.py
Due: backend unit tests, backend system tests, backend format

reformat with ruff
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Implement marshal functions for workflow components, add new relationship() attributes to workflow components in conjunction to already existing foreign keys
  server/data/marshal.py
  server/migrations/versions/11_3825d1e505de_add_new_relationships_between_workflow_.py
  server/models.py
  server/tests/validation/test_workflow_template_step_branches.py
  server/tests/validation/test_workflow_templates.py
  server/validation/workflow_template_step_branches.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Update gitignore and docker-compose; remove last-run.json
  .gitignore
  docker-compose.yml
  test-results/.last-run.json
Due: none

run testing
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/enums.ts
  client/src/shared/types/workflow/workflowEnums.ts
  client/src/shared/types/workflow/workflowTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Implement unmarshalling functions for workflow components
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Implement crud operations for retreiving workflow instances, instance steps, workflow templates, and template steps
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

write workflow templates && workflow instance code via vitest
  client/package-lock.json
  client/package.json
  client/src/shared/api/modules/workflowInstance.ts
  client/src/testing/api/workflowInstances.test.ts
  client/src/testing/api/workflowTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add workflow template listing page on admin section
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/MangeFormTemplates.test.tsx
  client/src/pages/admin/manageWorkflowTemplates/SampleTemplateLink.tsx
  client/src/pages/admin/manageWorkflowTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/UploadTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/CustomWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditCategory.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/LanguageModal.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/MultiChoiceField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/MultiSelectField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/handlers.ts
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/utils.ts
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: sync package-lock.json after jest removal
  package-lock.json
Due: none

update jest version
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update testing way(use vitest)
  client/package-lock.json
  client/package.json
  client/src/files-ui__react.d.ts
  client/src/vitest-env.d.ts
  client/tsconfig.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: endpoint urls
  server/api/resources/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

refactor: reformat with ruff
  server/api/resources/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

Implement API endpoint for uploading workflow templates, add checks to marshalling functions for parent or child models of none type, fix test cases for workflow template Pydantic model
  server/api/resources/workflow_templates.py
  server/data/marshal.py
  server/tests/validation/test_workflow_templates.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

add in notes, pseduocodeish templates, contract on rule engine implementations
  server/service/rulesEngine/rules_engine.py
Due: backend unit tests, backend system tests, backend format

add files laying out the structure of the workflow-rule engine process
  server/api/resources/workflow_evaluate.py
  server/service/workflow/rules_engine.py
  server/service/workflow/workflow_rule_evaluation.py
Due: backend unit tests, backend system tests, backend format

moved form-related types into forms/formTypes
  client/src/pages/admin/manageFormTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiChoiceField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiSelectField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/handlers.ts
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/CustomWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditCategory.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/MultiChoiceField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/MultiSelectField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/handlers.ts
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/pages/customizedForm/queries.ts
  client/src/pages/patient/Cards.tsx
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/api/modules/forms.ts
  client/src/shared/types/form/formTypes.ts
  client/src/shared/types/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactored reading types
  client/src/pages/patient/Cards.tsx
  client/src/shared/types/readingTypes.ts
  client/src/shared/types/types.ts
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor patient types
  client/src/pages/admin/managePatients/ArchivePatientDialog.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/pages/admin/managePatients/UnarchivePatientDialog.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patient/PregnancyInfo/components/PregnancyStatsCurrent.tsx
  client/src/pages/patient/PregnancyInfo/components/PregnancyStatsPrevious.tsx
  client/src/pages/patientForm/components/EditMedicalRecordForm.tsx
  client/src/pages/patientForm/components/EditPersonalInfoForm.tsx
  client/src/shared/api/modules/medicalRecords.ts
  client/src/shared/api/modules/patients.ts
  client/src/shared/components/patientHeader/PatientHeader.tsx
  client/src/shared/types/patientTypes.ts
  client/src/shared/types/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor assessment types
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/mutations.ts
  client/src/pages/patient/Cards.tsx
  client/src/shared/api/modules/assessments.ts
  client/src/shared/types/assessmentTypes.ts
  client/src/shared/types/readingTypes.ts
  client/src/shared/types/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor filter types
  client/src/pages/patient/index.tsx
  client/src/shared/api/modules/patients.ts
  client/src/shared/types/filterTypes.ts
  client/src/shared/types/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor referral types
  client/src/pages/patient/Cards.tsx
  client/src/pages/referrals/FilterDialog.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/api/modules/patients.ts
  client/src/shared/api/modules/referrals.ts
  client/src/shared/api/modules/vhts.ts
  client/src/shared/types/readingTypes.ts
  client/src/shared/types/referralTypes.ts
  client/src/shared/types/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor form templates
  client/src/pages/admin/manageFormTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/CustomWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditCategory.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/queries.ts
  client/src/pages/patient/Cards.tsx
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/types/form/formTemplateTypes.ts
  client/src/shared/types/form/formTypes.ts
  client/src/shared/types/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

formatted with prettier
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditCategory.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditField.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/pages/patient/Cards.tsx
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/api/modules/patients.ts
  client/src/shared/types/assessmentTypes.ts
  client/src/shared/types/filterTypes.ts
  client/src/shared/types/form/formTemplateTypes.ts
  client/src/shared/types/form/formTypes.ts
  client/src/shared/types/patientTypes.ts
  client/src/shared/types/readingTypes.ts
  client/src/shared/types/referralTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

reformat code with ruff
  server/migrations/versions/11_3825d1e505de_add_new_relationships_between_workflow_.py
Due: backend unit tests, backend system tests, backend format

added workflow intsance tests - unarchive, create instance with steps, list instance stepts
  client/src/testing/api/workflowInstances.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added command to run a single front-end test file
  docs/testing/testing.md
Due: none

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
