Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix: fix property names
  client/src/pages/admin/managePatients/ArchivePatient.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/pages/admin/managePatients/UnarchivePatient.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: move archived row coloring to data table
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix field names
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageFacilities/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add Authorization header to refresh token API call
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix field names
  client/src/pages/readingForm/handlers.ts
  client/src/pages/readingForm/index.tsx
  client/src/pages/readingForm/state.ts
  client/src/pages/referralForm/index.tsx
  server/api/resources/readings.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: add interceptor for errors
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: apply best practice to form template and medical record API
  server/api/resources/facilities.py
  server/api/resources/formTemplates.py
  server/api/resources/medicalRecords.py
  server/tests/validation/test_formTemplates.py
  server/validation/formTemplates.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

refactor: apply best practice to form api
  server/api/resources/forms.py
  server/tests/validation/test_forms.py
  server/validation/forms.py
Due: backend unit tests, backend system tests, backend format

fix: rename heart_rate_BPM to heart_rate
  client/src/pages/readingForm/handlers.ts
  server/api/resources/patients.py
  server/api/resources/stats.py
  server/data/crud.py
  server/manage.py
  server/models.py
  server/service/statsCalculation.py
  server/validation/readings.py
  server/validation/validation_exception.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: apply best practice to form classification
  server/api/resources/formClassifications.py
  server/api/resources/forms.py
  server/validation/formClassifications.py
Due: backend unit tests, backend system tests, backend format

fix: rename heartRateBPM to heartRate
  client/src/pages/patient/Cards.tsx
  client/src/pages/readingForm/confirmation/index.tsx
  client/src/pages/readingForm/handlers.ts
  client/src/pages/readingForm/state.ts
  client/src/pages/readingForm/vitalSigns/index.tsx
  client/src/pages/readingForm/vitalSigns/validation.ts
  client/src/shared/types.ts
  client/src/shared/utils.ts
  server/api/resources/patients.py
  server/service/statsCalculation.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: apply best practice to assessment
  server/api/resources/assessments.py
  server/api/resources/formClassifications.py
  server/validation/assessments.py
Due: backend unit tests, backend system tests, backend format

fix: fix field names
  client/src/pages/patient/Cards.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename urine test columns
  client/src/pages/patient/Cards.tsx
  client/src/pages/readingForm/handlers.ts
  client/src/shared/types.ts
  server/models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix healthFacilityName
  client/src/pages/customizedForm/customizedEditForm/state.ts
  client/src/pages/patient/Cards.tsx
  client/src/pages/referralForm/state.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix names
  server/service/assoc.py
Due: backend unit tests, backend system tests, backend format

fix: use cognito for jwt verification
  server/api/resources/assessments.py
Due: backend unit tests, backend system tests, backend format

fix: fix followUp
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/state.ts
  server/api/resources/assessments.py
  server/validation/assessments.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: get rid of useless static method and apply best practice to association api
  server/api/resources/patientAssociations.py
  server/validation/associations.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

fix: fix names
  server/api/resources/medical_records.py
Due: backend unit tests, backend system tests, backend format

misc: remove extra debug log
  server/api/resources/forms.py
  server/tests/common/test_commonUtil.py
Due: backend unit tests, backend system tests, backend format

fix: fix langVersions
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/index.tsx
  server/api/resources/form_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix names
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/handlers.ts
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/shared/types.ts
  server/validation/forms.py
  server/validation/questions.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix patient_id
  server/api/resources/forms.py
Due: backend unit tests, backend system tests, backend format

fix: fix form fields
  client/src/pages/admin/manageFormTemplates/SampleTemplateLink.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/shared/enums.ts
  server/api/util.py
  server/models.py
  server/validation/questions.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: add try-catch blocks
  client/src/pages/patients/patient.test.tsx
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename patientName to name
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/patients/constants.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: get timeframe from query params
  server/api/resources/stats.py
  server/validation/stats.py
Due: backend unit tests, backend system tests, backend format

fix: fix names
  client/src/pages/secretKey/index.tsx
  client/src/shared/hooks/secretKey/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove redundant fetching of user
  client/src/app/routes/index.tsx
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add name field
  client/src/shared/api/validation/user.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix fetching current user
  client/src/app/routes/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix import
  client/src/pages/admin/manageUsers/EditUser.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix fields
  client/src/pages/admin/manageUsers/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: separate logic for editing/creating users
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/EditUserDialog.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/state.ts
  client/src/shared/api/api.ts
  client/src/shared/api/validation/user.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix new user form
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/EditUserDialog.tsx
  client/src/pages/admin/manageUsers/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix api calls to wait for response
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix users not refreshing
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/EditUserDialog.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix property names
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix property names
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/DeleteUser.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/ResetPassword.tsx
  client/src/pages/admin/manageUsers/state.ts
  client/src/pages/historyTables/MedicalHistory.tsx
  client/src/pages/historyTables/PregnancyHistory.tsx
  client/src/pages/referrals/FilterDialog.tsx
  client/src/pages/referrals/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
