Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Deleted marshal.py, using orm_serializer instead
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Deleted marshal.py. Using orm_serializer instead
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

feat: implement go to step functionality for recommendation banner
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowRecommendationBanner.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: implement workflow instance UI changes: recommendation banner, complete step button, expected completion date
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowRecommendationBanner.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflow-step): implement complete step functionality
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowEnums.ts
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat(workflow): changes for step progression and handling API responses for branch evaluations
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat(workflow): init UI implementation of selecting next step and updates to recommendation banner
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowRecommendationBanner.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowEnums.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update seed test data to include proper branch target next steps
  server/manage.py
Due: backend unit tests, backend system tests, backend format

refactor: refactor workflow next options and step logic to custom hooks and clean up code
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/shared/hooks/patient/useWorkflowNextStepOptions.ts
  client/src/shared/hooks/patient/useWorkflowStepActions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflow): changes to link backend to frontend for branch evaluation and updating related UI
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/hooks/patient/useWorkflowInstanceDetails.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflow): update step progression for override step backend changes and update seed test data to test changes
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowEnums.ts
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Remove print statements
  client/src/shared/api/modules/workflowTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: address pipeline failures
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowRecommendationBanner.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/hooks/patient/useWorkflowInstanceDetails.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: handle comments
  server/api/resources/form_classifications_v2.py
  server/api/resources/forms_v2.py
  server/common/form_utils.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

chore: format
  server/api/resources/form_classifications_v2.py
  server/api/resources/forms_v2.py
  server/common/form_utils.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

Remove unused workflow APIs (#960)
  server/api/resources/__init__.py
  server/api/resources/workflow_evaluate.py
  server/api/resources/workflow_instance_steps.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

Restrict fields clients can update for workflows
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/common/form_utils.py
  server/common/patient_utils.py
  server/common/user_utils.py
  server/common/workflow_utils.py
  server/data/orm_serializer/__init__.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/tests/validation/test_workflow_api_models.py
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

Fix typo
  server/api/resources/workflow_instance_steps.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Format backend
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Fix: Clear input field when a different step or branch is selected
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add some docs to PATCH models
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

Clarify naming and simplify helpers usage
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/common/commonUtil.py
  server/common/form_utils.py
  server/common/patient_utils.py
  server/common/user_utils.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

refactor: update tests for conditional workflows
  server/service/workflow/workflow_planner.py
  server/system_tests/test_conditional_workflow.py
Due: backend unit tests, backend system tests, backend format

fix: clean up error handling
  server/service/workflow/evaluate/integrated_rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

refactor: update tests to include user_factory for reading and assessment evaluations
  server/system_tests/test_datasourcing_system.py
  server/system_tests/test_workflow_data_resolver_system.py
Due: backend unit tests, backend system tests, backend format

Fix: Frontend formatting
  client/src/shared/components/workflow/workflowTemplate/workflowTemplateUtils.ts
  client/src/shared/hooks/workflowTemplate/useUndoRedo.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
  client/src/shared/types/workflow/workflowTempalateEditorType.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Change date and handling in WorkflowInstanceDetailsPage and clean up imports
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove expected completion display and fix frontend formating
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add orm_seriazlier instead of marshal
  server/common/form_utils.py
Due: backend unit tests, backend system tests, backend format

refactor: rename form submission models
  server/api/resources/forms_v2.py
  server/common/form_utils.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

chore: rename endpoint and switch put to patch
  server/api/resources/forms_v2.py
Due: backend unit tests, backend system tests, backend format

Added orm helpers
  server/tests/helpers.py
Due: backend unit tests, backend system tests, backend format

Added tests for marshal_with_type
  server/tests/serializers/test_marshal_with_type.py
Due: backend unit tests, backend system tests, backend format

Added test cases for test_marshal_patient_medical_history
  server/tests/serializers/test_marshal_patient_medical_history.py
Due: backend unit tests, backend system tests, backend format

Made marshal_template_to_single_version public
  server/data/orm_serializer/__init__.py
Due: backend unit tests, backend system tests, backend format

wip: edit category
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/shared/hooks/forms/useEditField.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added new helpers for orm testing
  server/tests/helpers.py
Due: backend unit tests, backend system tests, backend format

Added tests for marshal_template_to_single_version
  server/tests/serializers/test_marshal_template_to_single_version.py
Due: backend unit tests, backend system tests, backend format
