Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Change form template questions to nested structure
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/types.ts
  server/service/questionTree.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Implement fetching for form with categories
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/types.ts
  server/service/questionTree.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Realize tree structure is needed
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

surrounding with try catch
  server/app.py
Due: backend unit tests, backend system tests, backend format

removing pprint and references
  server/api/util.py
  server/systemTests/api/test_patients.py
  server/utils.py
Due: backend unit tests, backend system tests, backend format

printing error
  server/app.py
Due: backend unit tests, backend system tests, backend format

adding placeholder print
  server/app.py
Due: backend unit tests, backend system tests, backend format

fixing unexpected error during system tests
  server/app.py
Due: backend unit tests, backend system tests, backend format

removing residual print statements
  server/api/decorator.py
Due: backend unit tests, backend system tests, backend format

testing with print with exceptions
  server/app.py
Due: backend unit tests, backend system tests, backend format

testing
  server/app.py
Due: backend unit tests, backend system tests, backend format

fixing variable typo and reformatting
  server/api/decorator.py
  server/app.py
Due: backend unit tests, backend system tests, backend format

Use tree structure for form template questions
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix moving field within categories
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update tests
  client/cypress/e2e/addNewForm.cy.ts
  client/cypress/e2e/editFormTemplate.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove commented out code
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Implement deletion for entire categories
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Change category label to subcategory in editfield
  client/cypress/e2e/addNewForm.cy.ts
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Move handlers to separate file and update component names. AI used to help write the code
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiChoiceField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiSelectField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Updated missed types from 'any'
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Minor bug fix
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add delete category dialog
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/DeleteCategoryDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add tests for form category delete and edit
  client/cypress/e2e/formCategories.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Set new form creation language to browser language
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Preselect language for patient form submission
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove unused prop
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

correcting sms relay response to match retrofit
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

updating relay endpoint and cleanup
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

black formatting files
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Complete tests for setting default languages
  client/cypress/e2e/addNewForm.cy.ts
  client/cypress/e2e/testBrowserLangauge.cy.ts
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiChoice.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiSelect.tsx
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add database table for sms relay server phone numbers and endpoints
  server/api/resources/relayServerPhoneNumbers.py
  server/models.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Add description and last received columns to sms relay server phone number
  server/api/resources/relayServerPhoneNumbers.py
  server/data/marshal.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Add flasgger documentation
  server/specifications/relay-server-phone-number-get.yml
  server/specifications/relay-server-phone-number-post.yml
Due: backend unit tests, backend system tests, backend format

Add client-side api functions for new endpoints
  client/src/shared/api.ts
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added body encryption
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

code formatting
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Patch cypress required toggle test
  client/cypress/e2e/required.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove extra waits
  client/cypress/e2e/testBrowserLangauge.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Create UI for admin relay number management
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
