Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

feat: added a function to update workflow template step form associations
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix: resolving circular import issue
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

feat: trigger workflow update when form version changed
  server/api/resources/form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

feat: added testing and fixed a bug
  server/api/resources/form_templates_v2.py
  server/common/workflow_utils.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

test: add new test for form archival
  server/common/workflow_utils.py
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

reformat: ruff
  server/api/resources/form_templates_v2.py
  server/common/workflow_utils.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

fix: fix failing ci/cd
  server/service/workflow/datasourcing/data_catalogue.py
Due: backend unit tests, backend system tests, backend format

added api reference doc
  docs/forms-api-v2-migration.md
Due: none

updated doc
  docs/forms-api-v2-migration.md
Due: none

added remaining end point
  docs/forms-api-v2-migration.md
Due: none

added forms api v1, v2
  docs/forms-api-v2-migration.md
Due: none

More tests and small fixes
  server/data/db_operations/form_queries.py
  server/data/db_operations/helper_utils.py
  server/manage.py
  server/system_tests/db_operations/test_form_queries.py
  server/system_tests/db_operations/test_helper_utils.py
Due: backend unit tests, backend system tests, backend format

Patient Queries tests
  server/system_tests/db_operations/test_patient_queries.py
Due: backend unit tests, backend system tests, backend format

Added pregnancy_medical_utils.py tests
  server/system_tests/db_operations/test_pregnancy_medical_utils.py
Due: backend unit tests, backend system tests, backend format

Referral Queries Tests and Type Check Fix
  server/data/db_operations/referral_queries.py
  server/system_tests/db_operations/test_referral_queries.py
Due: backend unit tests, backend system tests, backend format

Added tests for stats_queries.py and fixed small typing bug
  server/data/db_operations/stats_queries.py
  server/system_tests/db_operations/test_stats_queries.py
Due: backend unit tests, backend system tests, backend format

added coverage report in pipeline
  .github/workflows/main-cicd.yml
  server/.coveragerc
Due: backend unit tests, backend system tests, backend format

Add custom JsonLogic string ops and date literal normalization for workflow rules
  server/service/workflow/evaluate/jsonlogic_extensions.py
  server/service/workflow/evaluate/rules_engine.py
  server/tests/service/workflow/test_jsonlogic_extensions.py
Due: backend unit tests, backend system tests, backend format

Add per-type comparison and string operation blocks to Blockly rule editor
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added workflow_management.py tests
  server/system_tests/conftest.py
  server/system_tests/db_operations/test_workflow_management.py
  server/system_tests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

Fix ID change artifact
  server/system_tests/db_operations/test_form_queries.py
Due: backend unit tests, backend system tests, backend format

feat: added new field for broken template recognition
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/migrations/versions/10_add_has_branching_issues_to_workflow_template.py
  server/models/workflows.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

swapped out typography
  client/package-lock.json
  client/package.json
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistoryItem.tsx
  client/src/shared/components/workflow/StepDescription.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed template editor read and write view
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix Blockly rule editor condition validation and string operation bugs
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocklyWorkspaceUtils.ts
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/blocklyEditor/ruleTypeInference.ts
  client/src/shared/components/workflow/blocklyEditor/workspaceValidation.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add Blockly rule editor tests for validation and workspace behavior
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
  client/src/testing/blocklyEditor/blocklyTestHarness.ts
  client/src/testing/blocklyEditor/jsonLogicValidation.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Split Blockly comparisons by type with distinct connection shapes
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/shared/components/workflow/blocklyEditor/typedZelosRenderer.ts
  client/src/testing/blocklyEditor/blocklyTestHarness.ts
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Group rule editor variables by namespace in the Blockly toolbox
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/shared/components/workflow/blocklyEditor/variableGrouping.ts
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
  client/src/testing/blocklyEditor/blocklyTestHarness.ts
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
  client/src/testing/blocklyEditor/variableGrouping.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix workflow flow layout for merge nodes and parent ordering
  client/src/shared/components/workflow/workflowTemplate/flowLayout.ts
  client/src/testing/workflow/flowLayout.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated gitignore to include coverage_report
  .gitignore
Due: none

fix format
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/shared/components/workflow/blocklyEditor/typedZelosRenderer.ts
  client/src/shared/components/workflow/blocklyEditor/workspaceValidation.ts
  client/src/shared/components/workflow/workflowTemplate/flowLayout.ts
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
  client/src/testing/blocklyEditor/jsonLogicValidation.test.ts
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
  client/src/testing/workflow/flowLayout.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: check compatibility function added
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix the toolbox bug to show everything in edit and new condition mode
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Improve branch condition editor validation and date compare labels
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/typedZelosRenderer.ts
  client/src/shared/components/workflow/blocklyEditor/workspaceValidation.ts
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Improve branch condition dialog layout and resizing
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix the backend build error
  server/common/workflow_utils.py
  server/service/workflow/evaluate/jsonlogic_extensions.py
Due: backend unit tests, backend system tests, backend format

Added min and maxRows
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix ruff I001 in workflow_utils TYPE_CHECKING imports
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Format jsonlogic extension files for backend CI
  server/service/workflow/evaluate/jsonlogic_extensions.py
  server/tests/service/workflow/test_jsonlogic_extensions.py
Due: backend unit tests, backend system tests, backend format

feat: add check for valid branching conditions
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  server/migrations/versions/33_add_has_branching_issues_to_workflow_template.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format
