Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

chore: update formatting
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix to keep confirm dialog closed on initial page visit
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Preparing configuration for unit tests
  server/tests/serializers/conftest.py
Due: backend unit tests, backend system tests, backend format

test: add/fix backend form validation and add tests
  server/tests/validation/test_questions.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

fix: update workflow_template_steps to have correct form logic
  server/system_tests/api/test_workflow_template_steps.py
Due: backend unit tests, backend system tests, backend format

fix: format frontend and backend
  server/api/resources/form_templates.py
  server/system_tests/api/test_workflow_template_steps.py
  server/tests/validation/test_questions.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

fix: more ruff fixes
  server/api/resources/form_templates.py
  server/tests/validation/test_questions.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

feat(workflow): initial implementation for form submission for workflow step
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

892: Consolidate Pydantic workflow models (#893)
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_collections.py
  server/api/resources/workflow_evaluate.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/api_utils.py
  server/tests/validation/test_workflow_api_models.py
  server/tests/validation/test_workflow_classifications.py
  server/tests/validation/test_workflow_collections.py
  server/tests/validation/test_workflow_instance_steps.py
  server/tests/validation/test_workflow_instances.py
  server/tests/validation/test_workflow_models.py
  server/tests/validation/test_workflow_template_step_branches.py
  server/tests/validation/test_workflow_template_steps.py
  server/tests/validation/test_workflow_templates.py
  server/validation/workflow_api_models.py
  server/validation/workflow_classifications.py
  server/validation/workflow_collections.py
  server/validation/workflow_evaluate.py
  server/validation/workflow_instance_steps.py
  server/validation/workflow_instances.py
  server/validation/workflow_models.py
  server/validation/workflow_template_step_branches.py
  server/validation/workflow_template_steps.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Fix dates in workflow validation model unit tests
  server/tests/validation/test_workflow_api_models.py
  server/tests/validation/test_workflow_models.py
Due: backend unit tests, backend system tests, backend format

Format with ruff
  server/tests/validation/test_workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

refactor: add more test cases, use enums
  server/system_tests/api/test_workflow_template_steps.py
  server/tests/validation/test_questions.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

Integrate parser with rule engine
  server/service/workflow/evaluate/jsonlogic_parser.py
  server/service/workflow/evaluate/rules_engine.py
  server/tests/service/workflow/evaluate/test_jsonlogic_parser.py
  server/tests/service/workflow/evaluate/test_rules_engine.py
Due: backend unit tests, backend system tests, backend format

892: Fix dates in workflow pydantic model unit tests (#901)
  server/tests/validation/test_workflow_api_models.py
  server/tests/validation/test_workflow_models.py
Due: backend unit tests, backend system tests, backend format

Fix imports
  server/service/workflow/evaluate/rules_engine.py
  server/tests/service/workflow/evaluate/test_jsonlogic_parser.py
  server/tests/service/workflow/evaluate/test_rules_engine.py
Due: backend unit tests, backend system tests, backend format

Fix import ordering
  server/service/workflow/evaluate/rules_engine.py
  server/tests/service/workflow/evaluate/test_jsonlogic_parser.py
Due: backend unit tests, backend system tests, backend format

feat(workflow-templates): implement workflow template flow view
  client/package-lock.json
  client/package.json
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/workflowTemplate/FlowNode.tsx
  client/src/shared/components/workflow/workflowTemplate/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/components/workflow/workflowTemplate/workflowTemplate/index.ts
  client/src/shared/utils.ts
  server/api/resources/workflow_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: display the actual question text in form template editing
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update radio button text rendering
  client/src/pages/customizedForm/components/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

895: Add basic workflow runner (#896)
  server/service/workflow/workflow_runner.py
  server/tests/service/workflow/test_datasourcing.py
  server/tests/service/workflow/test_jsonlogic_parser.py
  server/tests/service/workflow/test_workflow_runner.py
Due: backend unit tests, backend system tests, backend format

tests: add more suggested tests
  server/tests/validation/test_questions.py
Due: backend unit tests, backend system tests, backend format

fix: ruff fix imports
  server/tests/validation/test_questions.py
Due: backend unit tests, backend system tests, backend format

refactor: more ruff fixes
  server/tests/validation/test_questions.py
Due: backend unit tests, backend system tests, backend format

Fix: maintaining the fixed height and scrollable content when needed in the flow view
  client/src/shared/components/workflow/workflowTemplate/workflowTemplate/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix: update the selected node's border immediately on the first click
  client/src/shared/components/workflow/workflowTemplate/workflowTemplate/FlowNode.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflow): additional UI changes for workflow instance steps and fix seed test data
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: update DB for workflow instance required fields and refactor functions for seed test data
  server/manage.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

feat(workflow): additional changes for form submission for workflow instance
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  server/data/marshal.py
  server/models/workflows.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix(marshal): stop leaking ReadingOrm relationships
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Test: Created test case for marshal readingOrm
  server/tests/serializers/test_marshal/test_marshal_reading.py
Due: backend unit tests, backend system tests, backend format

fix: destructured form template data in frontend to match backend format
  client/src/shared/api/modules/formTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: frontend format
  client/src/shared/api/modules/formTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: move destructring to component
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/shared/api/modules/formTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Test: created tests for marshaling referal orm
  server/tests/serializers/test_marshal/test_marshal_referral.py
Due: backend unit tests, backend system tests, backend format

Bug Fix: marshal only deletes 'health_facility' which doesn't exist in AssessmentOrm (medical.py), Should be deleteing patient and healthcare_workers
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Test: created test for marshaling assesments
  server/tests/serializers/test_marshal/test_marshal_assessment.py
Due: backend unit tests, backend system tests, backend format

Test: created test for marshaling pregnancy orm
  server/tests/serializers/test_marshal/test_marshal_pregnancy.py
Due: backend unit tests, backend system tests, backend format

Test: created tests for marshaling medical records orm
  server/tests/serializers/test_marshal/test_marshal_medical_record.py
Due: backend unit tests, backend system tests, backend format

Test: crated test for marshaling form template orm
  server/tests/serializers/test_marshal/test_marshal_form_template.py
Due: backend unit tests, backend system tests, backend format

Bug: questions attribute not deleting when shallow=True
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
