Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Integrate Pydantic models with workflow runner
  server/service/workflow/workflow_runner.py
  server/service/workflow/workflow_service.py
  server/tests/helpers.py
  server/tests/service/workflow/test_workflow_runner.py
  server/tests/service/workflow/test_workflow_service.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

Test: created tests for unmarshaling reading orm
  server/tests/serializers/test_unmarshal/test_unmarshal_reading.py
Due: backend unit tests, backend system tests, backend format

Fix: resolved unset DB variables for tests
  server/tests/serializers/conftest.py
Due: backend unit tests, backend system tests, backend format

tests: add frontend tests to validate payload for form templates
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/testing/api/formTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor workflow runner to a planner that outputs operations
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_runner.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_runner.py
Due: backend unit tests, backend system tests, backend format

fix: change types for payload to any
  client/src/testing/api/formTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: address pipeline test failures and update frontend & backend tests
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  client/src/testing/pages/workflowInstanceDetails.test.ts
  client/src/testing/testData.ts
  server/data/marshal.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Test: created test for unmarshal formOrm
  server/tests/serializers/test_unmarshal/test_umarshal_form.py
Due: backend unit tests, backend system tests, backend format

Added toast and guard to prevent user save a template without changed the version number
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Redirect to workflow-templates page after successful save
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Helper fixture to isolate the marshal module from the DB and capture
  server/tests/serializers/conftest.py
Due: backend unit tests, backend system tests, backend format

Test: Created tests for FormTemplateOrm
  server/tests/serializers/test_unmarshal/test_unmarshal_form_template.py
Due: backend unit tests, backend system tests, backend format

Format: Ruff fix
  server/tests/serializers/test_unmarshal/test_unmarshal_form_template.py
Due: backend unit tests, backend system tests, backend format

Added helper function to help inspecting schema calls
  server/tests/serializers/conftest.py
Due: backend unit tests, backend system tests, backend format

Refactored test_unmarshal_form_template to use schema_loads_by_model
  server/tests/serializers/test_unmarshal/test_unmarshal_form_template.py
Due: backend unit tests, backend system tests, backend format

Test: added tests for question orm
  server/tests/serializers/test_unmarshal/test_unmarshal_question.py
Due: backend unit tests, backend system tests, backend format

Test: created tests for QuestionLangVersionOrm
  server/tests/serializers/test_unmarshal/test_question_lang_version.py
Due: backend unit tests, backend system tests, backend format

Renamed file for consistency, contains the same code
  server/tests/serializers/test_unmarshal/test_unmarshal_question_lang_version.py
Due: backend unit tests, backend system tests, backend format

Changed schema_loads_by_model to return only the payload fields
  server/tests/serializers/conftest.py
Due: backend unit tests, backend system tests, backend format

Created tests for SmsSecretKeyOrm
  server/tests/serializers/test_unmarshal/test_unmarshal_sms_secret_key.py
Due: backend unit tests, backend system tests, backend format

Test: created test for RelayServerPhoneNumberOrm
  server/tests/serializers/test_unmarshal/test_unmarshal_relay_server_phone.py
Due: backend unit tests, backend system tests, backend format

Test: Created tests for WorkflowTemplateStepBranchOrm
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

Test: Added test for WorkflowTemplateStepOrm
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_template_step.py
Due: backend unit tests, backend system tests, backend format

Refactored _without_model_key and set it up in conftest.py
  server/tests/serializers/conftest.py
  server/tests/serializers/test_unmarshal/test_unmarshal_form_template.py
  server/tests/serializers/test_unmarshal/test_unmarshal_relay_server_phone.py
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_template_step.py
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

Test: created test cases for WorkflowTemplateOrm
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_template.py
Due: backend unit tests, backend system tests, backend format

Test: Created test for unmarshaling WorkflowInstanceStepOrm
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_instance_step.py
Due: backend unit tests, backend system tests, backend format

Test: created test for unmarshaling WorkflowInstanceOrm
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_instance.py
Due: backend unit tests, backend system tests, backend format

Ruff fix
  server/tests/serializers/conftest.py
  server/tests/serializers/test_unmarshal/test_unmarshal_form_template.py
  server/tests/serializers/test_unmarshal/test_unmarshal_relay_server_phone.py
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_template_step.py
  server/tests/serializers/test_unmarshal/test_unmarshal_workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

Test: created tests for marshal_patient_pregnancy_summary
  server/tests/serializers/test_marshal_patient_pregnancy_summary.py
Due: backend unit tests, backend system tests, backend format

refactor(workflows): decouple data fetching, build instance details and steps from preloaded data, and fix related tests
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/testing/api/workflowInstances.test.ts
  client/src/testing/pages/workflowInstanceDetails.test.ts
  client/src/testing/testData.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Test: created tests for make_medical_record_from_patient
  server/tests/serializers/test_make_medical_record_from_patient.py
Due: backend unit tests, backend system tests, backend format

Test: created tests for makePregnancyFromPatient
  server/tests/serializers/test_make_pregnancy_from_patient.py
Due: backend unit tests, backend system tests, backend format

912 Refactor WorkflowRunner into stateless WorkflowPlanner (#915)
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_runner.py
  server/service/workflow/workflow_service.py
  server/tests/helpers.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_runner.py
  server/tests/service/workflow/test_workflow_service.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

Added editing field for step details
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Integrate workflow planner with workflow service
  server/service/workflow/workflow_actions.py
  server/service/workflow/workflow_errors.py
  server/service/workflow/workflow_operations.py
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/service/workflow/workflow_view.py
  server/tests/service/workflow/conftest.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_service.py
Due: backend unit tests, backend system tests, backend format

Added node handler for flow editing
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/FlowNode.tsx
  client/src/shared/components/workflow/workflowTemplate/NodeHandler.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Generalize WorkflowOp types
  server/service/workflow/workflow_operations.py
  server/service/workflow/workflow_planner.py
  server/tests/service/workflow/test_workflow_planner.py
Due: backend unit tests, backend system tests, backend format

Format
  server/service/workflow/workflow_actions.py
  server/service/workflow/workflow_operations.py
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/tests/service/workflow/conftest.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_service.py
Due: backend unit tests, backend system tests, backend format

fix: address PR comments and pipeline failures
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format
