Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

tests: add missing fields
  server/tests/validation/test_facilities.py
  server/tests/validation/test_form_classifications.py
  server/tests/validation/test_form_templates.py
  server/validation/facilities.py
Due: backend unit tests, backend system tests, backend format

fix: fix model name
  server/seed_users.py
Due: backend unit tests, backend system tests, backend format

fix: fix phone numbers
  server/common/user_utils.py
  server/requirements.txt
  server/seed_users.py
Due: backend unit tests, backend system tests, backend format

fix: fix tests
  server/api/resources/form_templates.py
  server/api/resources/forms.py
  server/api/resources/sms_relay.py
  server/data/marshal.py
  server/models.py
  server/seed_users.py
  server/systemTests/api/conftest.py
  server/systemTests/api/test_android_endpoints.py
  server/systemTests/api/test_facilities.py
  server/systemTests/api/test_form_classifications.py
  server/systemTests/api/test_form_templates.py
  server/systemTests/api/test_forms.py
  server/systemTests/api/test_sms_relay_errors.py
  server/systemTests/api/test_users.py
  server/tests/validation/test_form_templates.py
  server/validation/formTemplates.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

refactor: rename pydantic models
  server/api/resources/forms.py
  server/api/resources/medical_records.py
  server/api/resources/patients.py
  server/api/resources/pregnancies.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
  server/api/resources/sms_relay.py
  server/api/resources/sync.py
  server/enums.py
  server/systemTests/api/test_users.py
  server/tests/validation/test_forms.py
  server/tests/validation/test_medical_records.py
  server/tests/validation/test_patients.py
  server/tests/validation/test_pregnancies.py
  server/tests/validation/test_readings.py
  server/tests/validation/test_referrals.py
  server/tests/validation/test_sms_relay.py
  server/validation/forms.py
  server/validation/medicalRecords.py
  server/validation/patients.py
  server/validation/pregnancies.py
  server/validation/questions.py
  server/validation/readings.py
  server/validation/referrals.py
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

refactor: print phone number in error
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

fix: rework how phone number is acquired
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

fix: rework how phone number is acquired
  server/api/resources/sms_relay.py
  server/common/phone_number_utils.py
  server/systemTests/api/test_sms_relay.py
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

fix: format emulator phone number
  server/seed_users.py
Due: backend unit tests, backend system tests, backend format

refactor: rename pydantic models
  server/api/resources/assessments.py
  server/api/resources/form_templates.py
  server/api/resources/forms.py
  server/api/resources/patient_associations.py
  server/tests/validation/test_associations.py
  server/tests/validation/test_forms.py
  server/validation/associations.py
  server/validation/facilities.py
  server/validation/forms.py
Due: backend unit tests, backend system tests, backend format

fix: fix import
  server/api/resources/assessments.py
Due: backend unit tests, backend system tests, backend format

refactor: rename pydantic models
  server/api/resources/referrals.py
  server/api/resources/stats.py
  server/tests/validation/test_referrals.py
  server/tests/validation/test_stats.py
  server/validation/referrals.py
  server/validation/stats.py
Due: backend unit tests, backend system tests, backend format

fix: change HealthFacility type to match backend model
  client/src/redux/reducers/healthFacilities/index.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: map facilities to list of names
  client/src/pages/referralForm/ReferralForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: use bool instead of 1
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

fix: fix color reading keys
  client/src/pages/statistics/utils/StatisticsInfo.tsx
  client/src/shared/api/validation/statistics.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: map facilities to names
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/EditUserDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename Form Template models
  server/api/resources/form_templates.py
  server/data/marshal.py
  server/tests/validation/test_form_templates.py
  server/validation/formTemplates.py
Due: backend unit tests, backend system tests, backend format

fix: add default None value
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

fix: fix traffic light keys
  client/src/pages/statistics/utils/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add form_template_id to QuestionBase
  server/validation/formTemplates.py
  server/validation/forms.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

refactor: rename pydantic models
  server/api/resources/assessments.py
  server/api/resources/auth.py
  server/api/resources/facilities.py
  server/api/resources/form_classifications.py
  server/api/resources/form_templates.py
  server/api/resources/referrals.py
  server/api/resources/sync.py
  server/tests/validation/test_referrals.py
  server/validation/assessments.py
  server/validation/facilities.py
  server/validation/formClassifications.py
  server/validation/formTemplates.py
  server/validation/forms.py
  server/validation/patients.py
  server/validation/questions.py
  server/validation/referrals.py
  server/validation/users.py
Due: backend unit tests, backend system tests, backend format

docs: add auth response example
  server/api/resources/auth.py
  server/validation/sms_key.py
  server/validation/users.py
Due: backend unit tests, backend system tests, backend format

refactor: remove auth challenge
  client/src/redux/reducers/user/currentUser/index.ts
  client/src/shared/api/validation/login.ts
  server/api/resources/auth.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix saving of form template
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/SubmitFormTemplateDialog.tsx
  client/src/shared/api/api.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add empty check for lang_versions
  server/api/resources/form_templates.py
  server/data/crud.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

docs: add api response docs for Form endpoints
  server/api/resources/forms.py
Due: backend unit tests, backend system tests, backend format

fix: change question_lang_versions to lang_versions
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

fix: change medical_record_id to id
  client/src/pages/historyTables/MedicalHistory.tsx
  client/src/shared/api/api.ts
  client/src/shared/types.ts
  server/service/serialize.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix typo
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

feat: add separate endpoint for drug history
  client/src/shared/api/api.ts
  server/api/resources/medical_records.py
  server/validation/medicalRecords.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

docs: add examples and responses to api docs for Medical Records
  server/api/resources/medical_records.py
  server/service/serialize.py
  server/tests/validation/test_medical_records.py
  server/validation/medicalRecords.py
Due: backend unit tests, backend system tests, backend format

fix: fix name
  server/tests/validation/test_form_templates.py
  server/validation/formTemplates.py
Due: backend unit tests, backend system tests, backend format

fix: remove JWT_SECRET_KEY
  docker-compose.yml
  docs/env_variables.md
  server/config.py
Due: backend unit tests, backend system tests, backend format

cicd: remove JWT_SECRET_KEY
  .github/workflows/main-cicd.yml
Due: none

fix: fix form template upload
  server/api/resources/form_templates.py
  server/api/util.py
  server/common/form_utils.py
  server/common/print_utils.py
  server/data/marshal.py
  server/systemTests/api/test_form_templates.py
Due: backend unit tests, backend system tests, backend format

fix: fix medical_record tests
  server/api/resources/medical_records.py
  server/common/print_utils.py
  server/config.py
  server/systemTests/api/test_medical_records.py
  server/validation/medicalRecords.py
Due: backend unit tests, backend system tests, backend format

refactor: change patientAssociations endpoint to patient_associations
  server/api/resources/patient_associations.py
Due: backend unit tests, backend system tests, backend format

refactor(Patient summary): include patient name in header and replace deprecated version of MUI Grid with new version
  client/src/pages/patient/Header.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patients page): extract custom hook for fetching patient data
  client/src/pages/patient/index.tsx
  client/src/shared/hooks/patient/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
