Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

feat: fix ui for mcq and blocky
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/hooks/forms/useFormQuestions.ts
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

add helper text for lists
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added computed text fields
  client/src/shared/components/workflow/StepDescription.tsx
  client/src/shared/components/workflow/descriptionTemplate.ts
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/testing/components/workflow/descriptionTemplate.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

computable days should not change relative to the date opened but to the date created
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistoryItem.tsx
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
  client/src/shared/components/workflow/StepDescription.tsx
  client/src/shared/components/workflow/descriptionTemplate.ts
  client/src/shared/components/workflow/workflowTemplate/DescriptionFormattingHelp.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
  client/src/testing/components/workflow/descriptionTemplate.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Improve rule editor toolbox grouping and add help onboarding
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/RuleEditorHelpDialog.tsx
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

UI update
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix frontend files format
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed frontend formatting error
  client/src/shared/components/workflow/descriptionTemplate.ts
  client/src/shared/components/workflow/workflowTemplate/DescriptionFormattingHelp.tsx
  client/src/testing/components/workflow/descriptionTemplate.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

changed relative date to use insert
  client/src/shared/components/workflow/workflowTemplate/DescriptionFormattingHelp.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixing the bugs that resulted in the 2 test failures for mobile
  server/common/form_utils.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

Add utilities and spec for copying branch conditions within a workflow
  client/src/shared/components/workflow/blocklyEditor/extractRuleVariables.ts
  client/src/shared/components/workflow/blocklyEditor/validateRuleForPaste.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/context/WorkflowRuleClipboardContext.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowRuleClipboard.ts
  client/src/shared/utils/workflow/getStepWorkflowVariables.ts
  client/src/testing/blocklyEditor/extractRuleVariables.test.ts
  client/src/testing/blocklyEditor/validateRuleForPaste.test.ts
  client/src/testing/hooks/useWorkflowRuleClipboard.test.ts
  client/src/testing/utils/getStepWorkflowVariables.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add Copy condition button for workflow branch rules
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/context/WorkflowRuleClipboardContext.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add Paste condition for workflow branch rules
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Polish workflow condition copy/paste UX
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowBranchMutations.ts
  client/src/shared/utils/workflow/suggestPastedConditionName.ts
  client/src/testing/utils/suggestPastedConditionName.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed frontend error
  client/src/shared/components/workflow/descriptionTemplate.ts
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added some logging to identify all the states and parameters
  server/api/resources/forms_v2.py
Due: backend unit tests, backend system tests, backend format

fix attempt at patient update page
  server/tests/validation/test_patients.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

update format
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/shared/utils/workflow/getStepWorkflowVariables.ts
  client/src/testing/utils/getStepWorkflowVariables.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix paste fallback and clarify missing form-question warnings
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
  client/src/shared/utils/workflow/formatPasteMissingVariables.ts
  client/src/shared/utils/workflow/suggestPastedConditionName.ts
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
  client/src/testing/utils/formatPasteMissingVariables.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Keep original compare type when pasted form question is missing
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/blocklyEditor/ruleTypeInference.ts
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
  client/src/testing/blocklyEditor/jsonLogicValidation.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix format
  client/src/shared/components/workflow/blocklyEditor/ruleTypeInference.ts
  client/src/testing/blocklyEditor/jsonLogicValidation.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed PUT 500 layer in patient update
  client/src/pages/patientForm/components/EditPersonalInfoForm.tsx
  server/api/resources/patients.py
  server/tests/validation/test_patients.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: bug fixes and general workflow updates according to form
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/WorkflowStep.tsx
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/types/form/formTemplateTypes.ts
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

added some more logging to form templates
  server/api/resources/form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

feat: make database moodel changes to enable lang support
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

Fix the filters bug on patient summary page and also removed test rule engine button
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/components/RuleEngineDemoDialog.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowInfoToolbar.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix format
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

modified how date is inserted, removed date addition relative to when step is opened.
  client/src/shared/components/workflow/descriptionTemplate.ts
  client/src/shared/components/workflow/workflowTemplate/DescriptionDateInsertPicker.tsx
  client/src/shared/components/workflow/workflowTemplate/DescriptionFormattingHelp.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/testing/components/workflow/descriptionTemplate.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed front end error
  client/src/shared/components/workflow/workflowTemplate/DescriptionDateInsertPicker.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update patients.py
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

added coverage steps to readme
  README.md
Due: none

fixed date not modifying in new workflow
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added some logging to form classifications
  server/api/resources/form_classifications_v2.py
Due: backend unit tests, backend system tests, backend format

Allow multiple compare blocks in Blockly workspace validation.
  client/src/shared/components/workflow/blocklyEditor/blocklyWorkspaceUtils.ts
  client/src/shared/components/workflow/blocklyEditor/workspaceValidation.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update BlocklyEditor to support multiple conditions and append paste.
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Paste branch conditions beside existing blocks instead of replacing them.
  client/src/shared/components/workflow/blocklyEditor/RuleEditorHelpDialog.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add tests for multi-condition Blockly workspace validation and append paste.
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add new test for form archival
  server/common/workflow_utils.py
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

feat: added testing and fixed a bug
  server/api/resources/form_templates_v2.py
  server/common/workflow_utils.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

feat: check compatibility function added
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
