Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Add make reading no extra vitals in sms_relay test
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Format Sms relay test
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

fix sms_relay test, variable naming
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

sms relay test: convert base64 data to string
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

format test_sms_relay
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add travis to readme
  README.md
Due: none

Update sms relay post specification
  server/specifications/sms-relay-post.yaml
Due: backend unit tests, backend system tests, backend format

Add ecryptedData check to referrals
  server/api/resources/referrals.py
Due: backend unit tests, backend system tests, backend format

create referral test for sms relay
  server/specifications/sms-relay-post.yaml
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add referral model to test_sms_relay
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Fix referrals json_tool
  server/api/resources/referrals.py
Due: backend unit tests, backend system tests, backend format

Patient id and healthfacility sms relay test
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Fix user_id for sms_relay
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

add create patient id in sms relay test
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add patients id in make referral
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

add endpoint for readings sms relay
  server/api/resources/readings.py
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add Gabriel to readme
  README.md
Due: none

Fix create reading with sms relay
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

[#129] Set up cloudwatch IAM user. Forward logs and metrics(cpu&mem) to cloudWatch
  aws-cfn/README.md
  aws-cfn/fluentbit-user-iam.yml
  docker-compose.deploy.yml
  fluentbit/config/fluent-prod.conf
  fluentbit/config/fluent-staging.conf
  fluentbit/config/inputs/metrics-input.conf
  fluentbit/config/outputs/staging-prod/cloudwatch-output.conf
Due: none

update contributors list
  README.md
Due: none

Create test for update patient with sms
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Modify endpoint for update patient sms test
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Create sms relay put spec
  server/specifications/sms-relay-put.yaml
Due: backend unit tests, backend system tests, backend format

updated Patient query, serialization, and deserialization
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

fix lint
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

lint fix2
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

#163 Add fluentbit internal metrics plugin
  fluentbit/config/fluent-development.conf
  fluentbit/config/inputs/fluentmetrics-input.conf
  fluentbit/config/outputs/development/node-output.conf
Due: none

[#147] Use CustomizedForm instead of CustomizedViewForm component in CustomizedViewFormPage.
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedViewForm/customizedViewForm.tsx
  client/src/pages/customizedForm/customizedViewForm/index.tsx
  client/src/pages/customizedForm/index.tsx
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Create sms_relay function and add put function
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add sms_data in patients put function
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Format files and rename sms_relay function
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Modify endpoint for update pateint sms_relay test
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Pass dictionary in url_for in sms_relay redirect
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

add parameters into encrypted data
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

change parameters to arguements in sms relay
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

modify patient id in test sms relay put
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

add database commit in update patient sms test
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

EditFacility: Changed Facility Type field from Select to TextField with 'select' property
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageFacilities/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Ran linter to resolve build failures
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageFacilities/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add previously removed idx to ManageFacility rows to allow for facility editing
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
