Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

test: exclude .spec. files from vitest config
  client/vite.config.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin relay app list): extract component for add number dialog
  client/src/pages/admin/manageRelayApp/AddRelayNumDialog.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add setup to authenticate and save auth state
  client/playwright.config.ts
  client/playwright/auth.setup.ts
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed issue where the form language dropdown didn't show any options on the web app.
  server/api/resources/form_templates.py
  server/data/crud.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

refactor: remove call to get user info
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

refactor: get username directly from token
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

Fixed issue where the form language dropdown didn't show any options on the web app.
  server/validation/forms.py
Due: backend unit tests, backend system tests, backend format

refactor: deconstruct credentials
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add auth-setup to perform authentication via api
  client/playwright.config.ts
  client/playwright/auth.setup.ts
  client/playwright/constants.ts
  client/playwright/fixtures.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: destructure credentials
  client/cypress/support/commands.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: log error message
  client/src/redux/reducers/user/currentUser/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add baseUrl to cypress config
  client/cypress.config.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: modify test id
  client/src/pages/patients/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: throw exception if no access token
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add createPatient.spec.ts
  client/playwright/createPatient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: use admin credentials constant
  client/cypress/e2e/addNewPatients.cy.ts
  client/cypress/e2e/login.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: enable tests
  client/cypress/e2e/login.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove unused import
  client/playwright/fixtures.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: remove waitForResponse
  client/playwright/createPatient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: delete fixtures.ts
  client/playwright/fixtures.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: fill in Patient Name field
  client/playwright/createPatient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: remove unneeded comments
  client/playwright/login.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: prefix internal functions with underscore
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

tooling: install react-query devtools
  client/package-lock.json
  client/package.json
  client/src/app/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin relay number list): remove unneeded code/imports
  client/src/pages/admin/manageRelayApp/EditRelayNumDialog.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient mutations): use axios convenience aliases and extract common endpoints
  client/src/pages/patientForm/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor(patient forms): reset mutation states upon error toast close
  client/src/pages/patientForm/components/EditMedicalRecordForm.tsx
  client/src/pages/patientForm/components/EditPersonalInfoForm.tsx
  client/src/pages/patientForm/components/EditPregnancyForm.tsx
  client/src/pages/patientForm/components/NewMedicalRecordForm.tsx
  client/src/pages/patientForm/components/NewPatientForm.tsx
  client/src/pages/patientForm/components/NewPregnancyForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor(patient forms): use helper function to get pregnancy start date + rename functions and types
  client/src/pages/patientForm/components/EditPregnancyForm.tsx
  client/src/pages/patientForm/components/NewPatientForm.tsx
  client/src/pages/patientForm/components/NewPregnancyForm.tsx
  client/src/pages/patientForm/components/pregnancyInfo/utils.ts
  client/src/pages/patientForm/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor(patient forms): use react query to fetch patient state
  client/src/pages/patientForm/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: fix cypress login tests
  client/cypress/e2e/login.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: skip createPatient test
  client/playwright/createPatient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: delete default playwright github workflow
  client/.github/workflows/playwright.yml
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: configure workflow to run playwright tests
  .github/workflows/main-cicd.yml
Due: none

cicd: change emulator phone number
  .github/workflows/main-cicd.yml
Due: none

cicd: change image for e2e tests
  .github/workflows/main-cicd.yml
Due: none

refactor(patient forms): remove unneeded formikProps prop and other cleanup
  client/src/pages/patientForm/components/NewMedicalRecordForm.tsx
  client/src/pages/patientForm/components/NewPatientForm.tsx
  client/src/pages/patientForm/components/medicalInfo/index.tsx
  client/src/pages/patientForm/components/medicalInfo/validation.tsx
  client/src/pages/patientForm/components/pregnancyInfo/validation.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: remove setup node
  .github/workflows/main-cicd.yml
Due: none

refactor(patient forms): get pre-existing data to show on edit personal info and edit pregnancy forms
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patientForm/components/EditPersonalInfoForm.tsx
  client/src/pages/patientForm/components/personalInfo/index.tsx
  client/src/pages/patientForm/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: export noninteractive env var
  .github/workflows/main-cicd.yml
Due: none
