Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Update test users' ids and phone numbers
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Update type of phone numbers' ip
  server/models.py
Due: backend unit tests, backend system tests, backend format

Fix format
  server/migrations/versions/724f045b8d56_make_default_id_of_userphonenumber_as_.py
Due: backend unit tests, backend system tests, backend format

Add additional error messeges of the methodd
  server/specifications/user-phone-get.yml
  server/specifications/user-phone-post.yml
  server/specifications/user-phone-put.yml
Due: backend unit tests, backend system tests, backend format

Add duplicate test
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

Fix format
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

Add error message for invalid user
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Renamed functions based on the suggestions
  server/api/resources/users.py
  server/api/util.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

replace action
  .github/workflows/main-cicd.yml
Due: none

resolved typo
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

resolved conflict data migration version file
  server/migrations/versions/8c78f37e4e98_create_sms_key_table.py
  server/migrations/versions/f39dd7eac781_create_sms_key_table.py
Due: backend unit tests, backend system tests, backend format

Mirror to github
  .github/workflows/mirror-to-github.yml
Due: none

Update returned user after login -multiple numbers
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

Fix typo in test phone phone number
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Solved typo and reformatted code
  server/api/util.py
  server/migrations/versions/8c78f37e4e98_create_sms_key_table.py
  server/specifications/user-sms-key-post.yml
  server/specifications/user-sms-key-put.yml
Due: backend unit tests, backend system tests, backend format

fix seeding data
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Fixed: solved 469-problem-for-seeding-data, removed duplicated module import and change the dependency
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Resolved no function called strptime
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Reformatted the code
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Persist vis cond answer when creating form template
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Render vis cond for MCQ in form template creation
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Reformatted the code
  server/api/resources/users.py
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

renamed STATUS message with Dr.Brain's advice
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

Reformatted the code with black
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

update description for sms key GET method
  server/specifications/user-sms-key-get.yml
Due: backend unit tests, backend system tests, backend format

Fix regression with vis cond not working when viewing forms
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Disable submit when vis cond is enabled but answer is empty
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

run format
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix move up/down bug with vis cond
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update description for sms key POST method
  server/specifications/user-sms-key-post.yml
Due: backend unit tests, backend system tests, backend format

update description for sms key PUT method
  server/specifications/user-sms-key-put.yml
Due: backend unit tests, backend system tests, backend format

change return STATUS code based on Dr.Brain's advise
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

reformatted with black
  server/api/resources/users.py
  server/specifications/user-sms-key-put.yml
Due: backend unit tests, backend system tests, backend format

activate aws's flow
  .github/workflows/main-cicd.yml
Due: none

install zip
  .github/workflows/main-cicd.yml
Due: none

fix artifact name
  .github/workflows/main-cicd.yml
Due: none

fix envs
  .github/workflows/deploy-from-dockerhub.yml
  .github/workflows/main-cicd.yml
Due: none

remove GRAFANA_API_KEY
  .github/workflows/deploy-from-dockerhub.yml
  .github/workflows/main-cicd.yml
Due: none

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
