Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

cicd: set noninteractive mode
  .github/workflows/main-cicd.yml
Due: none

cicd: set user to root
  .github/workflows/main-cicd.yml
Due: none

Implement changes for SMS relay request number handling
  server/api/resources/sms_relay.py
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

cicd: do hermetic install of playwright
  .github/workflows/main-cicd.yml
Due: none

cicd: install python3.11-venv
  .github/workflows/main-cicd.yml
Due: none

update test case and formatting changes
  server/api/resources/sms_relay.py
  server/common/constants.py
  server/common/user_utils.py
  server/models.py
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

cicd: remove sudo
  .github/workflows/main-cicd.yml
Due: none

cicd: install non-interactively
  .github/workflows/main-cicd.yml
Due: none

cicd: remove venv
  .github/workflows/main-cicd.yml
Due: none

cicd: use python base image
  .github/workflows/main-cicd.yml
Due: none

format changes
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

cicd: add read permissions
  .github/workflows/main-cicd.yml
Due: none

cicd: install node directly
  .github/workflows/main-cicd.yml
Due: none

cicd: chmod HOME
  .github/workflows/main-cicd.yml
Due: none

cicd: use sudo chmod
  .github/workflows/main-cicd.yml
Due: none

cicd: use playwright image
  .github/workflows/main-cicd.yml
Due: none

cicd: use setup-python@v4
  .github/workflows/main-cicd.yml
Due: none

cicd: use actions/checkout@v4
  .github/workflows/main-cicd.yml
Due: none

cicd: revert checkout action
  .github/workflows/main-cicd.yml
Due: none

Fixes for SMS relay request number handling
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

cicd: reorder actions
  .github/workflows/main-cicd.yml
Due: none

cicd: chmod
  .github/workflows/main-cicd.yml
Due: none

cicd: install node via nvm
  .github/workflows/main-cicd.yml
Due: none

cicd: use ubuntu base image
  .github/workflows/main-cicd.yml
Due: none

refactor(routes): use nested routes for patient related routes
  client/src/app/routes/PatientsRoute.tsx
  client/src/app/routes/index.tsx
  client/src/app/routes/utils/index.tsx
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patientForm/components/EditMedicalRecordForm.tsx
  client/src/pages/patientForm/components/EditPersonalInfoForm.tsx
  client/src/pages/patientForm/components/EditPregnancyForm.tsx
  client/src/pages/patientForm/components/NewMedicalRecordForm.tsx
  client/src/pages/patientForm/components/NewPatientForm.tsx
  client/src/pages/patientForm/components/NewPregnancyForm.tsx
  client/src/pages/patientForm/components/medicalInfo/index.tsx
  client/src/pages/patientForm/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: modify chmod
  .github/workflows/main-cicd.yml
Due: none

refactor(patient pregnancy info): split component into multiple
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patient/PregnancyInfo/CurrentPregnancy.tsx
  client/src/pages/patient/PregnancyInfo/PregnancyStats.tsx
  client/src/pages/patient/PregnancyInfo/index.tsx
  client/src/pages/patient/PregnancyInfo/styled.ts
  client/src/pages/patient/PregnancyInfo/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor(patient pregnancy info): simplify logic for checking if past pregnancies array is present
  client/src/pages/patient/PregnancyInfo/PregnancyStats.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: remove chmod
  .github/workflows/main-cicd.yml
Due: none

cicd: add rwx permissions to /github/home/
  .github/workflows/main-cicd.yml
Due: none

refactor(routes): change name for pregnancy route
  client/src/app/routes/PatientsRoute.tsx
  client/src/pages/patient/PregnancyInfo/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: install nvm into custom workspace
  .github/workflows/main-cicd.yml
Due: none

cicd: install sudo
  .github/workflows/main-cicd.yml
Due: none

cicd: change HOME
  .github/workflows/main-cicd.yml
Due: none

cicd: remove nvm -v
  .github/workflows/main-cicd.yml
Due: none

cicd: disable job
  .github/workflows/main-cicd.yml
Due: none

cicd: try sudo bash
  .github/workflows/main-cicd.yml
Due: none
