Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix: Use constants for users' validation unit tests
  server/tests/validation/test_users.py
Due: backend unit tests, backend system tests, backend format

fix: added unit tests to reading validation model
  server/tests/validation/test_readings.py
Due: backend unit tests, backend system tests, backend format

pin dependencies
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

docs: update credentials in README
  README.md
Due: none

docs: update development.md
  docs/development.md
  scripts/requirements.txt
Due: none

docs: fix spacing
  docs/development.md
Due: none

docs: fix .venv commands
  docs/development.md
Due: none

docs: remove backtick
  docs/development.md
Due: none

docs: update screenshot
  readme-img/screenshot.png
Due: none

fix: fix patient_id
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

refactor: remove print statements
  server/api/resources/referrals.py
Due: backend unit tests, backend system tests, backend format

docs: add country code to emulator phone number
  docs/development.md
Due: none

docs: add clarification to cognito step
  docs/development.md
Due: none

fix: fix logout from dropdown
  client/src/shared/hooks/auth/useLogout.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix error toast not opening
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/EditUserDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix error message
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/EditUserDialog.tsx
  server/api/resources/users.py
  server/common/user_utils.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix error messages
  server/api/resources/users.py
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

fix: fix supervises list
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/EditUserDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove unused import
  client/src/pages/admin/manageUsers/EditUserDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix table routing
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/shared/components/Tabs/Tabs.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: make back button return to form template list
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add gap between search bar and button
  client/src/pages/patients/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: wrap text in TableRow
  client/src/pages/patient/PregnancyInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix patient creation form
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/handlers.ts
  client/src/pages/patientForm/personalInfo/index.tsx
  client/src/pages/patientForm/personalInfo/validation.ts
  client/src/pages/patientForm/pregnancyInfo/index.tsx
  client/src/pages/patientForm/state.ts
  server/validation/patients.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix pregnancy submission
  client/src/pages/patientForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

docs: add comments and edit development.md
  docs/development.md
  server/api/resources/formClassifications.py
Due: backend unit tests, backend system tests, backend format

docs: edit development.md
  docs/development.md
Due: none

refactor: add additional test user
  server/seed_users.py
  server/systemTests/api/test_users.py
Due: backend unit tests, backend system tests, backend format

fix: covnert order_by to snake_case
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

feat: disable login button while submittin
  client/src/pages/login/Login.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: replace deprecated config class to use Pydantic v2 model class kwargs
  server/validation/formClassifications.py
  server/validation/formTemplates.py
  server/validation/forms.py
  server/validation/medicalRecords.py
  server/validation/patients.py
  server/validation/questions.py
  server/validation/referrals.py
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

refactor: move log_request_details to api_utils.py
  server/app.py
  server/authentication/CognitoClientWrapper.py
  server/common/api_utils.py
  server/common/user_utils.py
  server/config.py
Due: backend unit tests, backend system tests, backend format

build: remove Flask-JWT-Extended from dependencies
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

fix: remove Flask-JWT-Extended
  server/config.py
Due: backend unit tests, backend system tests, backend format

cicd: enable backend system tests
  .github/workflows/main-cicd.yml
Due: none

fix: undo incorrect changes to questions
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

cicd: enable backend unit tests
  .github/workflows/backend-tests.yml
Due: none

build: reduce healthcheck retries to 20
  docker-compose.yml
Due: none
