Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

refactor: replace Semantic-UI tables with Mui
  client/src/pages/historyTables/HistoryTable.tsx
  client/src/pages/historyTables/HistoryTimeline.tsx
  client/src/pages/historyTables/MedicalHistory.tsx
  client/src/pages/historyTables/PregnancyHistory.tsx
  client/src/pages/historyTables/index.tsx
  client/src/shared/components/apiTable/TableActionButtons.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

style: remove whitespace
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: change props interface to type alias
  client/src/pages/historyTables/index.tsx
  client/src/pages/statistics/AllStatistics.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/shared/components/Tabs/Tabs.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add sx prop
  client/src/shared/components/dashboard/DashboardPaper.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use Mui Tabs
  client/src/pages/resources/index.tsx
  client/src/pages/statistics/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: replace Semantic-ui components
  client/src/pages/patient/PatientStats.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: replace Semantic-ui components
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/PregnancyInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: uninstall semantic-ui
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: improve layout responsiveness
  client/src/pages/patient/PregnancyInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove unused imports
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/pages/statistics/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove unused imports
  client/src/pages/historyTables/PregnancyHistory.tsx
  client/src/pages/statistics/UserStatistics.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: validate phone number on registration
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

build: uninstall @aws-sdk/client-cognito-identity-provider
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: install type packages for boto3
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

feat: add CognitoIdentityWrapper
  server/authentication/CognitoClientWrapper.py
  server/authentication/__init__.py
Due: backend unit tests, backend system tests, backend format

style: add COM812 and ISC001 rules to ignore list
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

docs: add comments to new lint rules
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

style: remove lint rules
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

style: run ruff format
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

refactor: use env var for enabling dev users
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

refactor: remove print_json
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

build: add *.secrets to .gitignore
  .gitignore
Due: none

build: add aws secrets to compose file
  docker-compose.yml
Due: none

build: change *.secrets to *.secrets*
  .gitignore
Due: none

refactor: use dotenv to parse env var
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

feat: instantiate cognito client
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

refactor: add defaults to get calls
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

refactor: modify error messages
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

fix: fix secrets path
  docker-compose.yml
Due: none

fix: fix location of secrets
  docker-compose.yml
Due: none

fix: fix secrets name
  docker-compose.yml
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

refactor: make errors more consistent
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

refactor: move authentication into api/
  server/api/authentication/CognitoClientWrapper.py
  server/api/authentication/__init__.py
Due: backend unit tests, backend system tests, backend format

fix: fix import
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

refactor: delete sign_up_user()
  server/api/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

refactor: remove username from create_user()
  server/api/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

feat: integrate Pydantic to pregnancies validator, added date sequence validation and unit tests
  server/api/resources/pregnancies.py
  server/tests/validation/test_pregnancies.py
  server/validation/pregnancies.py
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

refactor: align height of search buttons
  client/src/pages/referrals/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add username field to form
  client/src/pages/admin/manageUsers/EditUser.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
