Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Filter workflows in query
  server/api/resources/sync.py
  server/data/db_operations/workflow_management.py
  server/service/workflow/workflow_service.py
Due: backend unit tests, backend system tests, backend format

Add workflow sync tests
  server/system_tests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

Updated tests to match updated missing variables
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed pipeline error
  client/src/shared/components/workflow/descriptionVariables.ts
  client/src/shared/components/workflow/workflowTemplate/DescriptionInsertPicker.tsx
  client/src/testing/components/workflow/StepDescription.test.tsx
  client/src/testing/components/workflow/descriptionVariables.test.ts
  server/migrations/versions/35_4b4c2f599782_add_pregnancy_id_to_workflow_instance.py
  server/service/workflow/datasourcing/description_variables.py
  server/tests/service/workflow/test_description_variables.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

attempt to fix broken playwright test
  client/src/shared/hooks/forms/useFormQuestions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

revert change related to playwright to be identical to main
  client/src/shared/components/workflow/StepDescription.tsx
  client/src/shared/hooks/forms/useFormQuestions.ts
  server/models/workflows.py
  server/service/workflow/datasourcing/description_variables.py
  server/validation/workflow_api_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Update descriptionVariables.ts
  client/src/shared/components/workflow/descriptionVariables.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added invalidateQueries on save to force fresh fetch after update
  client/src/pages/customizedForm/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added my name in Contributors
  README.md
Due: none

Update README.md
  README.md
Due: none

Test renamed to match behaviour
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed blockly tooblox test to handle recursive categories
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed Variable Issue
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
  server/manage.py
  server/models/workflows.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Reduced redundancy & fixed another enum issue
  server/manage.py
  server/models/workflows.py
  server/service/workflow/datasourcing/builtin_variable_catalogue.py
  server/service/workflow/datasourcing/variable_type_registry.py
Due: backend unit tests, backend system tests, backend format

Fix ID change artifact
  server/system_tests/db_operations/test_form_queries.py
Due: backend unit tests, backend system tests, backend format

More tests and small fixes
  server/data/db_operations/form_queries.py
  server/data/db_operations/helper_utils.py
  server/manage.py
  server/system_tests/db_operations/test_form_queries.py
  server/system_tests/db_operations/test_helper_utils.py
Due: backend unit tests, backend system tests, backend format

Added pregnancy_medical_utils.py tests
  server/system_tests/db_operations/test_pregnancy_medical_utils.py
Due: backend unit tests, backend system tests, backend format

Added workflow_management.py tests
  server/system_tests/conftest.py
  server/system_tests/db_operations/test_workflow_management.py
  server/system_tests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

Referral Queries Tests and Type Check Fix
  server/data/db_operations/referral_queries.py
  server/system_tests/db_operations/test_referral_queries.py
Due: backend unit tests, backend system tests, backend format

Patient Queries tests
  server/system_tests/db_operations/test_patient_queries.py
Due: backend unit tests, backend system tests, backend format

Updated naming to match new schema
  server/system_tests/db_operations/test_workflow_management.py
  server/system_tests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

Added tests for stats_queries.py and fixed small typing bug
  server/data/db_operations/stats_queries.py
  server/system_tests/db_operations/test_stats_queries.py
Due: backend unit tests, backend system tests, backend format

reolved review comments regarding pregnancy not rooted in the correct pregnancy
  client/src/pages/historyTables/PregnancyHistory.tsx
  client/src/pages/patientForm/mutations.ts
  server/api/resources/workflow_instances.py
  server/common/workflow_utils.py
  server/service/workflow/datasourcing/description_variables.py
  server/tests/service/workflow/test_description_variables.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

ran ruff formatter
  server/service/workflow/datasourcing/description_variables.py
Due: backend unit tests, backend system tests, backend format

fixed playwright test
  client/src/pages/customizedForm/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Stop logging db credentials at startup
  server/config.py
Due: backend unit tests, backend system tests, backend format

Prevent unauthorized user data access
  server/api/resources/users.py
  server/system_tests/api/test_users.py
Due: backend unit tests, backend system tests, backend format

Enforce admin authorization on workflow routes
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_templates.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Restructure Blockly toolbox: task-oriented categories (Check a Condition, Combine Conditions) replace per-type compare categories
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Allow omitted user IDs in V2 submission requests
  server/tests/validation/test_form_submissions_v2.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

Update rule editor help dialog: new task-oriented content and more prominent section titles
  client/src/shared/components/workflow/blocklyEditor/RuleEditorHelpDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix lint/prettier formatting
  client/src/shared/components/workflow/blocklyEditor/RuleEditorHelpDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: remove legacy comparison block and its generator references
  client/src/shared/components/workflow/blocklyEditor/blocklyWorkspaceUtils.ts
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Enforce patient access on direct patient routes
  server/api/authorization.py
  server/api/decorator.py
  server/api/resources/medical_records.py
  server/api/resources/patients.py
  server/api/resources/pregnancies.py
  server/service/patient_authorization.py
  server/system_tests/api/test_patient_authorization.py
  server/system_tests/service/test_patient_authorization.py
Due: backend unit tests, backend system tests, backend format

Preserve unrestricted HCW and CHO patient access
  server/service/patient_authorization.py
  server/system_tests/api/test_patient_authorization.py
  server/system_tests/service/test_patient_authorization.py
Due: backend unit tests, backend system tests, backend format

Merge Check a Condition and Combine Conditions into one Comparisons and Logic category
  client/src/shared/components/workflow/blocklyEditor/RuleEditorHelpDialog.tsx
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/testing/blocklyEditor/typedRendererAndToolbox.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
