Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

resolve migration ordering issue
  server/migrations/versions/16_0520a90e0303_rename_columns_for_rule_group_and_.py
Due: backend unit tests, backend system tests, backend format

some reason files didnt save in commit
  server/migrations/versions/16_0520a90e0303_rename_columns_for_rule_group_and_.py
Due: backend unit tests, backend system tests, backend format

Refactor code for validating workflow templates steps to its own function, move it and related functions to common/workflow_utils.py
  server/api/resources/workflow_template_steps.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Modify workflow template POST request to include proper step validation during processing, remove redundent workflow template test
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
  server/service/datasourcing/data_catalogue.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Modify workflow template PATCH and PUT requests to include proper template step validation
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Implement PUT request for workflow collections, add last_edited_field to workflow collections
  server/api/resources/workflow_collections.py
  server/migrations/versions/17_864e4bd5280f_add_last_edited_field_to_workflow_.py
  server/models.py
  server/validation/workflow_collections.py
Due: backend unit tests, backend system tests, backend format

Don't ask AWS to make a changeset: makes empty change set and leads to LimitExceededException error.
  aws/aws-cfn/gitlab-ci-iam.yml
Due: update aws

changed attributes for workflow instances and steps
  server/api/resources/workflow_instances.py
  server/migrations/versions/15_bf923c5cb3c3_change_title_attribute_to_description_.py
  server/migrations/versions/16_96300f833773_change_title_attribute_to_description_.py
  server/models.py
  server/service/datasourcing/data_catalogue.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/validation/workflow_instances.py
Due: backend unit tests, backend system tests, backend format

ruff linting
  server/migrations/versions/16_0520a90e0303_rename_columns_for_rule_group_and_.py
Due: backend unit tests, backend system tests, backend format

resolve system tests failures: updating rule_group column name changes in test data
  sample_workflow_template.json
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
  server/tests/validation/test_rule_groups.py
  server/tests/validation/test_workflow_instance_steps.py
  server/tests/validation/test_workflow_template_step_branches.py
  server/tests/validation/test_workflow_template_steps.py
  server/tests/validation/test_workflow_templates.py
  server/validation/rule_groups.py
Due: backend unit tests, backend system tests, backend format

ruff linting x2
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
  server/tests/validation/test_rule_groups.py
  server/tests/validation/test_workflow_template_step_branches.py
  server/validation/rule_groups.py
Due: backend unit tests, backend system tests, backend format

ruff format again aaaaaaaaaaaaa
  server/tests/validation/test_workflow_template_step_branches.py
Due: backend unit tests, backend system tests, backend format

seems like i missed the python versioning for the e2e tests in the other pr
  .github/workflows/main-cicd.yml
Due: none

Minor changes
  server/data/__init__.py
Due: backend unit tests, backend system tests, backend format

Create scripts for seeding DB with example workflow instances
  server/manage.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

fixed migration version and unit tests
  server/migrations/versions/17_96300f833773_change_title_attribute_to_description_.py
  server/tests/validation/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

Complete script to seed DB with workflow instance
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Comment out workflow instance tests that no longer succeed because of the instance created by seed_test_data
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

Fix migration revisions
  server/migrations/versions/18_0520a90e0303_rename_columns_for_rule_group_and_.py
Due: backend unit tests, backend system tests, backend format

Fix another migration revision error
  server/migrations/versions/19_864e4bd5280f_add_last_edited_field_to_workflow_.py
Due: backend unit tests, backend system tests, backend format

Fix last migration revision error
  server/migrations/versions/17_96300f833773_change_title_attribute_to_description_.py
  server/migrations/versions/18_0520a90e0303_rename_columns_for_rule_group_and_.py
Due: backend unit tests, backend system tests, backend format

rename rule group properties
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateStep.tsx
  client/src/shared/api/modules/ruleGroups.ts
  client/src/shared/api/modules/templateStepBranches.ts
  client/src/shared/types/workflow/workflowTypes.ts
  client/src/testing/api/templateStepBranches.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

workflow instances test fixed
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

update datasourcing stubbed service to concrete one in evaluate service
  server/api/resources/workflow_evaluate.py
  server/service/workflow/workflow_rule_evaluation.py
Due: backend unit tests, backend system tests, backend format

workflow instance step tests and model change for migration
  server/api/resources/workflow_instance_steps.py
  server/data/marshal.py
  server/models.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/validation/workflow_instance_steps.py
  server/validation/workflow_instances.py
Due: backend unit tests, backend system tests, backend format

ruff checks and unit tests
  server/data/marshal.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/tests/validation/test_workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

Undo all code for the mock app config
  server/api/resources/auth.py
  server/app.py
  server/application.py
  server/authentication/__init__.py
  server/common/api_utils.py
  server/config.py
  server/data/__init__.py
  server/models.py
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Create docker container for a mock Flask app, combined with the mock DB, this is a full testing environment
  docker-compose.test.yml
  docker-compose.yml
  server/config.py
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Update development.md to include info on the test environment
  docs/development.md
Due: none

reformat using ruff
  server/app.py
  server/common/api_utils.py
  server/config.py
  server/models.py
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

removed unused UI code
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateStepsTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated TemplateStep type to reflect changes in database
  client/src/shared/types/workflow/workflowTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

migration to ensure form_id is nullable added
  server/migrations/versions/20_7edada0266e5_change_form_id_inside_workflow_instance_.py
Due: backend unit tests, backend system tests, backend format

workflow instance step get tests
  server/system_tests/api/test_workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

testing for workflow instance step PATCH method
  server/migrations/versions/20_7edada0266e5_change_form_id_inside_workflow_instance_.py
  server/system_tests/api/test_workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

formatting and comments
  server/system_tests/api/test_workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

Fix pytest fixture for cleaning database
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

extracted workflow step as a shared component
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateSteps.tsx
  client/src/shared/components/workflow/WorkflowStep.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

moved ViewWorkflowSteps into a shared component
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateStep.tsx
  client/src/shared/components/workflow/WorkflowSteps.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added some instance support to WorkflowSteps component
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/WorkflowStep.tsx
  client/src/shared/components/workflow/WorkflowSteps.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
