Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Add test seed data
  server/api/resources/relayServerPhoneNumbers.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Run front and back end formatters
  client/src/pages/admin/manageRelayApp/DeleteRelayNum.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageRelayApp/editRelayNum.tsx
  client/src/pages/admin/manageRelayApp/state.ts
  client/src/shared/api.ts
  server/api/resources/relayServerPhoneNumbers.py
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

remove debug log
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix bug and add breaking test case to tests
  client/cypress/e2e/formCategories.cy.ts
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  server/service/questionTree.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Update categoryIndex for new category functionality
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix vis cond question not changing bug
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update README.md
  README.md
Due: none

Added myself as a contributor to the project
  README.md
Due: none

Add self to Contributor list
  README.md
Due: none

Use only 1 EditField popup
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/DeleteCategoryDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Use 1 instance of EditCategory
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix single vis cond bug
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix seed form
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Fix bugs
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix form validation bug
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add category tests
  client/cypress/e2e/formCategories.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix bugs and remove redundant props
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix category delete vis cond bug
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix subcategories vis cond bug
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

537: Add correct platform to docker compose
  docker-compose.yml
Due: none

537: Format file and fix security vulnerability
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

537: Fix assertion for response message in test method
  server/systemTests/test_login.py
Due: backend unit tests, backend system tests, backend format

538: Fix formatting
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

538: Add a random time delay
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

537: address PR comment
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

538: Fix if-statement, test, and comments
  server/api/resources/users.py
  server/systemTests/test_login.py
Due: backend unit tests, backend system tests, backend format

Updated contributors list
  README.md
Due: none

538: Restructure if-else block
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

538: Change time delay
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

538: remove the need for a forced time delay
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

Option to restrict num of lines shows up in the UI now
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add comments for code documentation
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

make relation explicit
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

544: format main-cicd.yml
  .github/workflows/main-cicd.yml
Due: none

544: create a new job that validates pr titles
  .github/workflows/main-cicd.yml
Due: none

tmp push
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/handlers.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Got front end "Edit Field" behavior working correctly
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

db upgrade to include stringMaxLines in questions table
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  server/manage.py
  server/migrations/versions/5d293042e3b7_add_stringmaxlines_column.py
  server/models.py
  server/validation/questions.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Fixed small bug related to stringMaxLines conversion
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(forms): add support for other types of conditions
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
