Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Update wait to timeout
  client/cypress/e2e/testBrowserLangauge.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Apply npm format changes
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updating gitignore
  .gitignore
  client/.eslintrc.json
  client/.prettierrc.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Connect front end and back end for sms relay server phone numbers
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add validation and error handling
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update docker volume name
  docs/development.md
Due: none

Add migration
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  server/migrations/versions/bef7a571db37_add_sms_relay_server_phone_numbers_table.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Add move up/down for entire categories
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

adding error catches for decryption based messages
  client/package-lock.json
  server/api/resources/sms_relay.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Fix disabled cypress tests
  client/cypress/e2e/addNewForm.cy.ts
  client/cypress/e2e/editFormTemplate.cy.ts
  client/cypress/e2e/required.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add new tests for category up/down
  client/cypress/e2e/formCategories.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix number updating before delete dialog closes
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Patch memo bug
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/DeleteCategoryDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Move to Form Templates page after submission
  client/src/pages/customizedForm/customizedEditForm/SubmitFormTemplateDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Run formatter
  client/src/pages/customizedForm/customizedEditForm/SubmitFormTemplateDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix overlapping buttons on resize
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Adjust sizing and remove redundant code
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Perform resizing for header and language box
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Run formatter
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

saving work
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Show toast before redirect
  client/src/pages/customizedForm/customizedEditForm/SubmitFormTemplateDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix seed test form with blank form
  server/manage.py
Due: backend unit tests, backend system tests, backend format

testing seperate object
  server/manage.py
Due: backend unit tests, backend system tests, backend format

reverting messed up changes
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Fill fixed form template with questions
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Clean up form template
  server/manage.py
Due: backend unit tests, backend system tests, backend format

updating readme
  README.md
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

removing default error
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

removing debugging statement
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add test data for patient form
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Remove hard coding and create multiple patient forms
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Fix language version redundancy bug
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Run backend formatter
  server/manage.py
  server/migrations/versions/bef7a571db37_add_sms_relay_server_phone_numbers_table.py
Due: backend unit tests, backend system tests, backend format

Add vis cond option to categories when creating form template
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

category children inherit visibility conditions
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

new fields inherit category's vis cond
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add edit functionality and PUT logic
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageRelayApp/editRelayNum.tsx
  client/src/pages/admin/manageRelayApp/state.ts
  client/src/shared/api.ts
  client/src/shared/types.ts
  server/api/resources/relayServerPhoneNumbers.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Refresh page results after edit and clean up
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageRelayApp/editRelayNum.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix bugs and tests
  client/cypress/e2e/addNewForm.cy.ts
  client/cypress/e2e/editFormTemplate.cy.ts
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add delete functionality and DELETE logic
  client/src/pages/admin/manageRelayApp/DeleteRelayNum.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/shared/api.ts
  client/src/shared/types.ts
  server/api/resources/relayServerPhoneNumbers.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
