Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

fix: pass algorithm to jwt.decode()
  server/authentication/sms_auth.py
Due: backend unit tests, backend system tests, backend format

refactor: add default empty dict for headers
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

test: remove auth header
  server/system_tests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

refactor: remove direct access of request object
  server/api/resources/auth.py
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

feat: add iat and exp claims
  server/authentication/sms_auth.py
Due: backend unit tests, backend system tests, backend format

refactor: reduce expiration time to 30 seconds
  server/authentication/sms_auth.py
Due: backend unit tests, backend system tests, backend format

refactor (sms relay): rename request number update function
  server/api/resources/sms_relay.py
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

Changes based on feedback
  client/playwright/fixtures.ts
  client/playwright/page-object-models/form-builder-page-model.ts
  client/playwright/page-object-models/form-templates-page-model.ts
  client/playwright/page-object-models/patients-page-model.ts
  client/playwright/tests/create-form-template.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Updates based on feedback
  client/playwright/fixtures.ts
  client/playwright/page-object-models/form-template-builder-page-model.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added appropriate !== undefined check
  client/playwright/page-object-models/form-template-builder-page-model.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Removed async from getPatientRowByName function
  client/playwright/page-object-models/patients-page-model.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

More updates from feedback
  client/playwright/fixtures.ts
  client/playwright/page-object-models/form-template-builder-page-model.ts
  client/playwright/tests/create-form-template.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

WIP for language form test
  client/playwright/page-object-models/form-template-builder-page-model.ts
  client/playwright/page-object-models/form-templates-page-model.ts
  client/playwright/tests/create-form-language.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update LoginForm.tsx
  client/src/pages/login/LoginForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add Cypress test for login loading spinner (#563)
  client/cypress/e2e/login.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update login.cy.ts
  client/cypress/e2e/login.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: fix Prettier formatting in LoginForm.tsx
  client/package-lock.json
  client/package.json
  client/src/pages/login/LoginForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: sort patient_id and village_number numerically in referrals table (#636)
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Revert "fix: sort patient_id and village_number numerically in referrals table (#636)"
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Update crud.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Add Dingsong Zhou to contributors
  README.md
Due: none

add setup dev environment issue doc
  docs/setup_issue.md
Due: none

Update setup_issue.md with MySQL port conflict issue and solution
  docs/setup_issue.md
Due: none

Add James Chuong to contributor's list
  README.md
Due: none

add setup issue and solution on troublesshooting(MACOS system)
  docs/development.md
Due: none

mod the troubleshooting format
  docs/development.md
Due: none

delete setup_issue.md ,merge the issue into development.md troubleshooting section
  docs/setup_issue.md
Due: none

refactor the development.md
  docs/newDevelopment.md
Due: none

mod the newDevelopment.md file format
  docs/newDevelopment.md
Due: none

add the testing part
  docs/newDevelopment.md
Due: none

mod the format
  docs/newDevelopment.md
Due: none

Update newDevelopment.md
  docs/newDevelopment.md
Due: none

fix the form allow submission bug
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/components/CustomizedForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update format
  docs/newDevelopment.md
Due: none

replace the old development.md
  docs/development.md
  docs/newDevelopment.md
Due: none

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
