Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

testing: use msw to mock api server and add global setup for tests
  client/package-lock.json
  client/package.json
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
  client/src/testing/mockServer.ts
  client/src/testing/testData.ts
  client/src/testing/vitest.setup.ts
  client/vite.config.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

dep: update playwright
  .github/workflows/main-cicd.yml
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): rename folders to indicate they are pages and move file to components subfolder
  client/src/app/routes/utils/CustomFormRoutes.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/customizedEditFormPage/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/state.ts
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/pages/customizedForm/customizedViewFormPage/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): move queries related to forms into their own file
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditFormPage/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/pages/customizedForm/customizedViewFormPage/index.tsx
  client/src/pages/customizedForm/queries.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): restructure folders, use tanstack query for mutations and queries, and create layout file
  client/src/app/routes/utils/CustomFormRoutes.tsx
  client/src/app/routes/utils/index.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/Layout.tsx
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/DeleteCategoryDialog.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedEditForm/state.ts
  client/src/pages/customizedForm/customizedNewForm/SelectFormTemplate/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedNewForm/SelectFormTemplate/state.ts
  client/src/pages/customizedForm/customizedNewForm/index.tsx
  client/src/pages/customizedForm/customizedViewForm/index.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/pages/customizedForm/mutations.ts
  client/src/pages/customizedForm/state.ts
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove async from functions that do not use await
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/managePatients/ArchivePatientDialog.tsx
  client/src/pages/admin/manageRelayApp/DeleteRelayNumDialog.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageUsers/ResetPasswordDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/referrals/AutoRefresher.tsx
  client/src/pages/secretKey/useSecretKey.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient custom form page): use controlled values for submitting form
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove console log
  client/.lintstagedrc.json
  client/package.json
  client/src/testing/mockServer.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(form templates): pass form id to location state so that new template page can fetch the form instead of being passed the entire form through location.state
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/LanguageModal.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/utils.ts
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

tests(form template table): add integration/unit tests
  client/package-lock.json
  client/package.json
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
  client/src/pages/patients/patient.test.tsx
  client/src/shared/api/api.ts
  client/src/testing/ProviderWrapper.tsx
  client/src/testing/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

dep: regenerate lock file again
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: move running of tests to husky instead of lint-staged
  .husky/pre-commit
  client/.lintstagedrc.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(form templates table): create separate mutations.ts and queries.ts files
  client/src/pages/admin/manageFormTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/mutations.ts
  client/src/pages/admin/manageFormTemplates/queries.ts
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor(form templates table): use react query to fetch rows and download csv
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use tanstack query when unarchiving form template
  client/src/app/topBar/changePasswordDialog/ChangePasswordDialog.tsx
  client/src/pages/admin/manageFacilities/EditFacilityDialog.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/shared/api/api.ts
  server/api/resources/form_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor(patient custom form page): check for undefined instead of using ! operator because empty array is considered false
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(sms relay): update proper db pulling using phone numbers
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

refactor(sms relay): putting back fixes prior to merge conflict changes
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Updated based on Ryan's feedback
  client/playwright/page-object-models/admin-patients-page-model.ts
  client/playwright/page-object-models/patients-page-model.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor (sms relay): fixes to system testing for sms relay to use user phone numbers for request num
  server/system_tests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

docs (sms relay): update documentation
  docs/sms_relay_protocol_specs.md
Due: none

refactor (sms relay): changes for code documentation
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Updated based on Ryan's comments
  client/playwright/page-object-models/admin-patients-page-model.ts
  client/playwright/page-object-models/patients-page-model.ts
  client/playwright/tests/archive-patient.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

New Playwright test to test creating new form template
  client/playwright/page-object-models/form-builder-page-model.ts
  client/playwright/page-object-models/form-templates-page-model.ts
  client/playwright/tests/create-form-template.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Small change based on Ryan's comment
  client/playwright/page-object-models/admin-patients-page-model.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

docs (sms_relay): update documentation
  docs/sms_relay_protocol_specs.md
Due: none

refactor (sms relay): move db sms request numbers to user phone number table
  server/common/user_utils.py
  server/migrations/versions/4_4de9e2572bb1_sms_relay_request_number_changes.py
  server/migrations/versions/4_5aabd60944dd_move_sms_request_numbers_to_user_phone_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

refactor (sms relay): update sms relay system tests for user phone number
  server/system_tests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

doc (sms relay): update on sms relay protocol doc
  docs/sms_relay_protocol_specs.md
Due: none

docs: add docs/testing/ directory
  docs/testing/testing.md
Due: none

docs: add playwright.md
  docs/testing/playwright.md
Due: none

docs: add Referral Pending card image
  docs/testing/playwright.md
Due: none

docs: fix typo
  docs/testing/playwright.md
Due: none

docs: add more info on running tests
  docs/testing/playwright.md
Due: none

fix (sms relay): changes to increment request number to accepted request number
  server/api/resources/sms_relay.py
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

feat: add sms access token
  server/api/decorator.py
  server/api/resources/sms_relay.py
  server/authentication/CognitoClientWrapper.py
  server/authentication/__init__.py
  server/authentication/sms_auth.py
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

docs: add comment
  server/authentication/__init__.py
Due: backend unit tests, backend system tests, backend format

refactor: remove unneeded flasgger check
  server/authentication/__init__.py
Due: backend unit tests, backend system tests, backend format

fix: fix circular import
  server/authentication/sms_auth.py
Due: backend unit tests, backend system tests, backend format

fix: fix id keyword arg
  server/authentication/sms_auth.py
Due: backend unit tests, backend system tests, backend format
