Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

remove name_string_id from workflow_template
  server/api/resources/workflow_templates.py
  server/common/workflow_utils_v2.py
  server/manage.py
  server/migrations/versions/27_a3b5c7d9e1f2_add_name_string_id_to_workflow_template.py
  server/models/workflows.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

remove language UI and ?lang= API parameter
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_templates.py
  server/common/workflow_utils_v2.py
  server/validation/workflow_api_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix migrations: replace deleted migration 27 with proper drop column migration
  server/migrations/versions/013cf68cd68c_merge_migration_heads.py
  server/migrations/versions/27_drop_workflow_template_name_string_id.py
Due: backend unit tests, backend system tests, backend format

Clean up dead multilingual code in workflow files
  server/common/workflow_utils_v2.py
  server/data/orm_serializer/workflows.py
  server/service/workflow/workflow_service.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template_step.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

Fix create_simple_workflow_classification returning None on re-entry
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: workflow completion is dependent on step length
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix 422 on template creation: accept plain string names in Pydantic models
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

feat: Implement getWorkflowPossibleSteps function and WorkflowPath type to determine display order of future steps
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: handle no more possible steps
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update progress total to display length of shortest path from current step
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update getWorkflowPossibleSteps to handle possible steps not found in any path (from trimmed or skipped branches)
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Worfklow variable catalogue GET api endpoint
  server/api/resources/__init__.py
  server/api/resources/workflow_variables.py
Due: backend unit tests, backend system tests, backend format

fix: sort possible steps by shortest length first (accidentally removed previously)
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: run formatter on changed files
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: Workflow Container to Collection
  server/api/resources/workflow_variables.py
  server/enums.py
  server/migrations/versions/25_workflow_variable_catalogue_and_instance_data.py
  server/models/workflows.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

fix: Ruff formatting
  server/api/resources/workflow_variables.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

fix: display correct step history order for same-day completion by using timestamps
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added branching logic back in workflow editor
  client/src/shared/components/workflow/workflowTemplate/FlowNode.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

formatted the files
  client/src/shared/components/workflow/workflowTemplate/FlowNode.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add sorting for "trimmed" branches in a workflow instance
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add indentation for a list-tree view of workflow possible steps
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update frontend test to match new workflow step format
  client/src/testing/pages/workflowInstanceDetails.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: prettier formatting of workflow instance test
  client/src/testing/pages/workflowInstanceDetails.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat!: reset working tree
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
  server/common/workflow_utils_v2.py
  server/data/orm_serializer/workflows.py
  server/manage.py
  server/models/workflows.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/test_workflow_classifications.py
  server/system_tests/api/test_workflow_collections.py
  server/system_tests/api/test_workflow_instances.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template_step.py
  server/system_tests/service/workflow/test_workflow_service.py
  server/tests/helpers.py
  server/tests/serializers/test_marshal/test_marshal_workflow_classification.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
  server/tests/validation/test_workflow_models.py
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: add support for workflow classification
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowClassification.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/api/resources/workflow_templates.py
  server/data/orm_serializer/workflows.py
  server/manage.py
  server/migrations/versions/28_restore_workflow_name_columns.py
  server/migrations/versions/29_drop_workflow_template_name.py
  server/models/workflows.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/test_workflow_templates.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
  server/tests/service/workflow/test_workflow_service.py
  server/tests/validation/test_workflow_models.py
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

style: run linter
  client/src/pages/assessmentForm/state.ts
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/components/RuleEngineDemoDialog.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/components/DataTable/DataTable.tsx
  client/src/shared/types/patientTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

style: run linter for backend files
  server/api/resources/workflow_templates.py
  server/data/orm_serializer/workflows.py
  server/manage.py
  server/migrations/versions/013cf68cd68c_merge_migration_heads.py
  server/migrations/versions/25_19ce5d61fb20_add_workflow_translation_support.py
  server/migrations/versions/26_31497c6c8fe7_restore_name_field_to_workflowinstance.py
  server/migrations/versions/27_drop_workflow_template_name_string_id.py
  server/migrations/versions/28_restore_workflow_name_columns.py
  server/migrations/versions/29_drop_workflow_template_name.py
  server/models/workflows.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/test_workflow_templates.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step.py
  server/tests/service/workflow/test_workflow_service.py
  server/tests/validation/test_workflow_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

feat: make workflow classification name editable
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix missing step id in backend, causing empty workflow editor
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

style: run linting
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

feat: remove unused collection name, and fix ci errors
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: change formatISODateNumberWithTime return type to ISODate
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

style: fix lint errors from prettier
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(tests): fix failing frontend unit tests
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
  client/src/testing/api/workflowClassifications.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(tests): fix failing backend tests
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
  server/data/orm_serializer/workflows.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

style: fix backend styling
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
  server/data/orm_serializer/workflows.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

style: fix backend linting
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
  server/data/orm_serializer/workflows.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

style: frontend linting
  client/src/pages/assessmentForm/state.ts
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/components/RuleEngineDemoDialog.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowClassification.ts
  client/src/shared/components/DataTable/DataTable.tsx
  client/src/shared/types/patientTypes.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

style: run prettier
  client/src/pages/assessmentForm/state.ts
  client/src/shared/api/modules/workflowClassification.ts
  client/src/shared/components/DataTable/DataTable.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

style: override prettier to fix frontend linting
  client/src/shared/api/modules/workflowClassification.ts
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
