Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

change webhook to environmental variable
  aws-cfn/cpuAlarmLambda.py
Due: none

fix library typo
  aws-cfn/cpuAlarmLambda.py
Due: none

Add tests to assessments
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

sms_relay use phone number to identify user
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add phoneNumber none check
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

format sms_relay file
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

change namespace to use dynamic variable
  aws-cfn/cpuAlarm.yml
  aws-cfn/loginAlarm.yml
Due: none

Changed trunc to floor
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Restart fluentbit after deployment, Add alarm cloud formation and lambda script to send alarms
  .gitlab-ci.yml
  aws-cfn/cpuAlarm.yml
  aws-cfn/cpuAlarmLambda.py
  aws-cfn/loginAlarm.yml
Due: none

Archiving e2e testing
  .gitlab-ci.yml
  aws-cfn/cpuAlarm.yml
  aws-cfn/cpuAlarmLambda.py
  aws-cfn/loginAlarm.yml
  client/cypress/e2e/archivePatients.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add corrupted and invalid message in SMS_relay
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Default value of isArchived to be FALSE in admin interface if isArchived is not defined when returned by backend
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

sms relay test for invalid json and none phone
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

sms relay test clean up
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

sms relay test invalid phone and encryption key
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

sms relay test for corrupted base64, decompress
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

[#167] Make button optional prop in Admin table and remove new patient button in admin's patient page
  client/src/pages/admin/AdminTable.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

create sms_relay_response after redirect
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add get endpoint to sms_relay
  server/api/resources/sms_relay.py
  server/specifications/sms-relay-get.yaml
Due: backend unit tests, backend system tests, backend format

format and change sms relay functions to private
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

#194 Disable login after certain amount of attempts
  server/api/resources/users.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

Fix sms relay response
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Added rudimentary tests for pregancies validation, updated Swagger pregnancy YAML file
  server/specifications/pregnancies-post.yml
  server/tests/validation/test_pregnancies.py
  server/validation/pregnancies.py
Due: backend unit tests, backend system tests, backend format

Added test for medical record __validate function
  server/tests/validation/test_medicalRecords.py
Due: backend unit tests, backend system tests, backend format

Added medical record validation testing; added type checking within medical record POST validation
  server/tests/validation/test_medicalRecords.py
  server/tests/validation/test_pregnancies.py
  server/validation/medicalRecords.py
Due: backend unit tests, backend system tests, backend format

Get test for sms relay
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

fix formatting
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

disable limiter in test
  server/systemTests/api/conftest.py
Due: backend unit tests, backend system tests, backend format

import app
  server/systemTests/api/conftest.py
Due: backend unit tests, backend system tests, backend format

import app from flask
  server/systemTests/api/conftest.py
Due: backend unit tests, backend system tests, backend format

revert conftest
  server/systemTests/api/conftest.py
Due: backend unit tests, backend system tests, backend format

test requests.post for sms relay
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Added additional unit test for pregnancy PUT validation
  server/tests/validation/test_pregnancies.py
Due: backend unit tests, backend system tests, backend format

Unit test added for pregnancy __validate function
  server/tests/validation/test_pregnancies.py
Due: backend unit tests, backend system tests, backend format

Revert change to pregnancies-post.yml since the field is not necessary
  server/specifications/pregnancies-post.yml
Due: backend unit tests, backend system tests, backend format

Adjusted system tests since it inputted pregnancy start and end dates as float values which broke new validation checks
  server/systemTests/api/test_pregnancies.py
Due: backend unit tests, backend system tests, backend format

sms relay Manual testing api/patients post
  server/api/resources/patients.py
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Reverting endpoints in get_json sms_relay
  server/api/resources/assessments.py
  server/api/resources/patients.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
Due: backend unit tests, backend system tests, backend format

sms relay dynamically set the http method
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add method in encrypted sms_relay
  server/api/resources/sms_relay.py
  server/specifications/sms-relay-put.yaml
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format
