Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Test: created tests for marshaling workflow instance step
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
Due: backend unit tests, backend system tests, backend format

Another ruff fix
  server/tests/serializers/test_marshal/test_marshal_medical_record.py
Due: backend unit tests, backend system tests, backend format

Bug: fixed error in testing where urine_test should not be included when __marshal_reading is set to shallow-True
  server/tests/serializers/test_marshal/test_marshal_reading.py
Due: backend unit tests, backend system tests, backend format

Bug: The code was iterating over character on urine_test instead of checking the whole attribute
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Documentation and update with the main branch added
  server/data/marshal.py
  server/tests/serializers/test_marshal/test_marshal_patient.py
  server/tests/serializers/test_marshal/test_marshal_reading.py
  server/tests/serializers/test_marshal/test_marshal_rule_group.py
  server/tests/serializers/test_marshal/test_marshal_sms_secret_key.py
  server/tests/serializers/test_marshal/test_marshal_workflow_classification.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

Fix: frontend build errors
  client/src/shared/components/workflow/workflowTemplate/viewFlow/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/viewFlow/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/viewFlow/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: frontend build issue ( import path errors)
  client/src/shared/components/workflow/workflowTemplate/viewFlow/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/viewFlow/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/viewFlow/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixing frontend build error related to path not found
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/FlowNode.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/components/workflow/workflowTemplate/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added more clarity to test variables
  server/tests/serializers/test_marshal/test_marshal_assessment.py
Due: backend unit tests, backend system tests, backend format

More clear function name for test
  server/tests/serializers/test_marshal/test_marshal_workflow_classification.py
Due: backend unit tests, backend system tests, backend format

More clear function name for test
  server/tests/serializers/test_marshal/test_marshal_workflow_collection.py
Due: backend unit tests, backend system tests, backend format

Removed all the condition and condition_id related tests
  server/tests/serializers/test_marshal/test_marshal_workflow_classification.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
Due: backend unit tests, backend system tests, backend format

docs: add TODO comment for removing $ stripping logic
  server/service/workflow/evaluate/rules_engine.py
Due: backend unit tests, backend system tests, backend format

Remove $ prefix from JsonLogic rule variables
  server/service/workflow/evaluate/rules_engine.py
  server/system_tests/api/test_workflow_templates.py
  server/tests/service/workflow/test_rules_engine.py
  server/tests/validation/test_rule_groups.py
  server/validation/rule_groups.py
Due: backend unit tests, backend system tests, backend format

Apply ruff formatting
  server/service/workflow/evaluate/rules_engine.py
Due: backend unit tests, backend system tests, backend format

Updated tsconfig.json to try to fix the path issue occurring during the CI/CD pipeline frontend build.
  client/tsconfig.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update tsconfig.json
  client/tsconfig.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix: frontend build issues and CI/CD path problems
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/tsconfig.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflows): implement changes to frontend & backend for workflow step form submission
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  server/api/resources/workflow_instance_steps.py
  server/data/marshal.py
  server/manage.py
  server/migrations/versions/21_34bb66b2155f_update_form_columns_for_workflow_.py
  server/models/workflows.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: implement changes for workflow step form submission for readability
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix: Set more meaningful var names for tests and added more documentation
  server/tests/serializers/test_marshal/test_marshal_assessment.py
  server/tests/serializers/test_marshal/test_marshal_form.py
  server/tests/serializers/test_marshal/test_marshal_form_template.py
  server/tests/serializers/test_marshal/test_marshal_medical_record.py
  server/tests/serializers/test_marshal/test_marshal_patient.py
  server/tests/serializers/test_marshal/test_marshal_pregnancy.py
  server/tests/serializers/test_marshal/test_marshal_question.py
  server/tests/serializers/test_marshal/test_marshal_question_lang_version.py
  server/tests/serializers/test_marshal/test_marshal_reading.py
  server/tests/serializers/test_marshal/test_marshal_referral.py
  server/tests/serializers/test_marshal/test_marshal_rule_group.py
  server/tests/serializers/test_marshal/test_marshal_sms_secret_key.py
  server/tests/serializers/test_marshal/test_marshal_workflow_classification.py
  server/tests/serializers/test_marshal/test_marshal_workflow_collection.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

docs(marshal): explain stripping relationship-only fields in shallow output
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Formatted file
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
Due: backend unit tests, backend system tests, backend format

More ruff fix
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
Due: backend unit tests, backend system tests, backend format

Fix: use dict.get to handle missing branch/condition keys and prevent KeyError while assigning IDs
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Marshal testing clean (#909)
  server/data/marshal.py
  server/tests/serializers/conftest.py
  server/tests/serializers/test_marshal/test_marshal_assessment.py
  server/tests/serializers/test_marshal/test_marshal_form.py
  server/tests/serializers/test_marshal/test_marshal_form_template.py
  server/tests/serializers/test_marshal/test_marshal_medical_record.py
  server/tests/serializers/test_marshal/test_marshal_patient.py
  server/tests/serializers/test_marshal/test_marshal_pregnancy.py
  server/tests/serializers/test_marshal/test_marshal_question.py
  server/tests/serializers/test_marshal/test_marshal_question_lang_version.py
  server/tests/serializers/test_marshal/test_marshal_reading.py
  server/tests/serializers/test_marshal/test_marshal_referral.py
  server/tests/serializers/test_marshal/test_marshal_rule_group.py
  server/tests/serializers/test_marshal/test_marshal_sms_secret_key.py
  server/tests/serializers/test_marshal/test_marshal_workflow_classification.py
  server/tests/serializers/test_marshal/test_marshal_workflow_collection.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

feat(workflows): refactor form modal UI and add form submission success feedback
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/CustomizedFormPageContainer.tsx
  client/src/pages/customizedForm/customizedEditFormPage/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/pages/customizedForm/customizedViewFormPage/index.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/testing/pages/workflowInstanceDetails.test.ts
  server/data/marshal.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Fix: Workflow template PATCH endpoint
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Fix: Update endpoint using for save editing on workflow template
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/api/resources/workflow_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Created a mock flask and db for testing
  server/tests/serializers/conftest.py
Due: backend unit tests, backend system tests, backend format

Test: created test for unmarshaling patients
  server/tests/serializers/test_unmarshal/test_unmarshal_patient.py
Due: backend unit tests, backend system tests, backend format

Fix: use dedicated Archive endpoint to handle archive button click on template listing page
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/UnarchiveTemplateDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add missing mutation hooks to ManageWorkflowTemplates test mocks
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(workflow): update DB for workflow instance step and fix bugs related to prior merges to main
  server/manage.py
  server/migrations/versions/21_34bb66b2155f_update_form_columns_for_workflow_.py
  server/migrations/versions/22_298e59ec02b9_add_workflow_template_step_id_to_.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

fix(workflow): fix workflow instance detail steps to properly display forms based on DB changes
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/templateStepBranches.ts
  client/src/shared/api/modules/workflowExecution.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/WorkflowSteps.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: remove unnecessary comment
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

904: Generate workflow instance from template (#910)
  server/api/resources/workflow_instances.py
  server/data/db_operations/__init__.py
  server/data/db_operations/__init__.pyi
  server/data/db_operations/common_crud.py
  server/data/db_operations/workflow_management.py
  server/enums.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/system_tests/service/__init__.py
  server/system_tests/service/test_workflow_service.py
  server/tests/helpers.py
  server/tests/service/workflow/test_workflow_service.py
  server/tests/validation/test_workflow_api_models.py
  server/tests/validation/test_workflow_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

Create enum for view modes
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/types/workflow/workflowEnums.ts
  server/api/resources/workflow_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor(workflow): update DB for workflow instance step and fix bugs related to prior merges to main
  server/manage.py
  server/migrations/versions/22_298e59ec02b9_add_workflow_template_step_id_to_.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format
