Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

remove ruleGroup test code
  client/src/shared/api/modules/ruleGroups.ts
  client/src/shared/types/workflow/workflowTypes.ts
  client/src/testing/api/ruleGroups.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update workflow branch apis ,workflow step apis, ruleGroups apis and workflow execution apis
  client/src/shared/api/modules/ruleGroups.ts
  client/src/shared/api/modules/templateStepBranches.ts
  client/src/shared/api/modules/workflowExecution.ts
  client/src/shared/enums.ts
  client/src/testing/api/ruleGroups.test.ts
  client/src/testing/api/templateStepBranches.test.ts
  client/src/testing/api/workflowExecution.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

changed param from filter to its contents
  client/src/shared/api/modules/referrals.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

renamed filter parameters to match expected names
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Implement function to check if branch conditions exist for POST and PUT requests
  server/api/resources/workflow_template_steps.py
Due: backend unit tests, backend system tests, backend format

add the workflow UI in patient summary page
  client/src/pages/patient/WorkflowInfo.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

mod the workflow instance display dashboard ui
  client/src/pages/patient/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove the unused code
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: resolve conflicts and format code
  client/src/shared/api/modules/referrals.ts
  server/data/crud.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

mod the client config file
  client/eslint.config.js
  client/tsconfig.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor backend to separate the flask app from the database, created a new file where the app is defined for the backend
  server/api/resources/auth.py
  server/app.py
  server/application.py
  server/authentication/__init__.py
  server/common/api_utils.py
  server/config.py
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Move convert_query_parameter_to_bool to common/api_utils.py, fix boolean query parameters always returning True, fix endpoints returning None to return ''
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

clean up rule engine definitions and layout logic, add typings
  server/service/workflow/rules_engine.py
Due: backend unit tests, backend system tests, backend format

define and stub out a datasourcing service, to be implemented in future issue
  server/service/workflow/workflow_datasources.py
Due: backend unit tests, backend system tests, backend format

define out and clean up service on data orchetration, add typings to function declarations
  server/service/workflow/workflow_rule_evaluation.py
Due: backend unit tests, backend system tests, backend format

changes made as per the code review
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/data/crud.py
  server/models.py
  server/system_tests/api/test_workflow_instances.py
  server/validation/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

refactor: ruff format
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_instances.py
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

refactor: fix unit test by undoing pydantic model change
  server/validation/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

refactor: ruff format
  server/validation/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

view workflow template with real data, removed/renamed edit form code
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/CustomWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/MultiChoiceField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/MultiSelectField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/multiFieldComponents/handlers.ts
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateSteps.tsx
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Implement function header for PATCH request for workflow templates
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

refactor: ruff format and test cases
  server/common/workflow_utils.py
  server/models.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/validation/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

remove two test files
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
  client/src/shared/api/index.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/testing/api/workflowInstances.test.ts
  client/src/testing/api/workflowTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: uncommenting
  server/validation/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

refactor: ruff check
  server/system_tests/api/test_workflow_classifications.py
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

touch up model validations for request and response
  server/api/resources/workflow_evaluate.py
  server/service/workflow/rules_engine.py
  server/service/workflow/workflow_datasources.py
  server/service/workflow/workflow_rule_evaluation.py
  server/validation/workflow_evaluate.py
Due: backend unit tests, backend system tests, backend format

ruff code formatting
  server/api/resources/workflow_evaluate.py
  server/service/workflow/rules_engine.py
  server/service/workflow/workflow_datasources.py
  server/service/workflow/workflow_rule_evaluation.py
  server/validation/workflow_evaluate.py
Due: backend unit tests, backend system tests, backend format

setup infra for datasourcing
  server/service/datasourcing/data_sourcing.py
Due: backend unit tests, backend system tests, backend format

getting error when querying database for template steps
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

exit
  client/src/shared/api/modules/workflowTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

rename rule group to rule
  server/service/workflow/rules_engine.py
  server/service/workflow/workflow_rule_evaluation.py
Due: backend unit tests, backend system tests, backend format

update rule group table orm columns
  server/models.py
Due: backend unit tests, backend system tests, backend format

align the frontend api to backend workflow apis and refactor the workflow testing code
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/testing/api/workflowTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

mod the workflow template testing file
  client/src/testing/api/workflowTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Implement method for CradleBaseModel which validates subsets of a model's attributes
  server/api/resources/workflow_templates.py
  server/validation/__init__.py
Due: backend unit tests, backend system tests, backend format

Implement PATCH request endpoint for workflow templates
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

add some examples for other structures to support, re-approach processing for rule engine
  re/test-maykin-re.py
  re/test-re.py
  server/service/workflow/rules_engine.py
Due: backend unit tests, backend system tests, backend format

minor changes, todos
  server/api/resources/workflow_evaluate.py
Due: backend unit tests, backend system tests, backend format

implement datasourcing poc
  server/service/datasourcing/data_catalouge.py
  server/service/datasourcing/data_sourcing.py
Due: backend unit tests, backend system tests, backend format

fold instead of using a python loop
  server/service/datasourcing/data_sourcing.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
