Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix: final ruff fixes
  server/models/__init__.py
Due: backend unit tests, backend system tests, backend format

Fix 'getPrettyDateTime' function by adding null check, remove unused import and comment, added comment to PATCH endpoint for later investigation
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/utils.ts
  server/api/resources/workflow_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix(workflows): address PR review comments
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/shared/types/workflow/workflowTypes.ts
  client/src/shared/utils.ts
  server/validation/workflow_instances.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

test(workflows): implement unit tests for workflow instance detail functions
  client/src/testing/api/workflowInstances.test.ts
  client/src/testing/pages/workflowInstanceDetails.test.ts
  client/src/testing/testData.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: address pipeline test failures
  client/src/shared/enums.ts
  client/src/shared/types/workflow/workflowTypes.ts
  client/src/testing/api/workflowInstances.test.ts
  client/src/testing/pages/workflowInstanceDetails.test.ts
  client/src/testing/testData.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: fix formatting issue
  client/src/testing/testData.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update workflow instances in database
  client/src/shared/enums.ts
  client/src/shared/types/workflow/workflowEnums.ts
  server/enums.py
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Added feature for template's name editing
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix: Ruff format
  server/data/db_operations/patient_queries.py
Due: backend unit tests, backend system tests, backend format

Fix: More ruff fixes
  server/data/db_operations/referral_queries.py
Due: backend unit tests, backend system tests, backend format

feat(forms): handle backend form template upload with versioning check
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

fix: add changes to workflow instance seed data
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Add JsonLogic variable extraction parser
  server/service/workflow/evaluate/jsonlogic_parser.py
  server/tests/service/workflow/evaluate/test_jsonlogic_parser.py
Due: backend unit tests, backend system tests, backend format

fix: formatting and import issues
  server/tests/service/workflow/evaluate/test_jsonlogic_parser.py
Due: backend unit tests, backend system tests, backend format

feat(forms): display correct error toast on frontend
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/shared/api/core/http.ts
  server/api/resources/form_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: formatting and import issues
  server/service/workflow/evaluate/jsonlogic_parser.py
Due: backend unit tests, backend system tests, backend format

Consolidate workflow pydantic models
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_collections.py
  server/api/resources/workflow_evaluate.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/api_utils.py
  server/tests/validation/test_workflow_api.py
  server/tests/validation/test_workflow_classifications.py
  server/tests/validation/test_workflow_collections.py
  server/tests/validation/test_workflow_instance_steps.py
  server/tests/validation/test_workflow_instances.py
  server/tests/validation/test_workflow_objects.py
  server/tests/validation/test_workflow_template_step_branches.py
  server/tests/validation/test_workflow_template_steps.py
  server/tests/validation/test_workflow_templates.py
  server/validation/workflow_api.py
  server/validation/workflow_classifications.py
  server/validation/workflow_collections.py
  server/validation/workflow_evaluate.py
  server/validation/workflow_instance_steps.py
  server/validation/workflow_instances.py
  server/validation/workflow_objects.py
  server/validation/workflow_template_step_branches.py
  server/validation/workflow_template_steps.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Rename files
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_collections.py
  server/api/resources/workflow_evaluate.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/api_utils.py
  server/tests/validation/test_workflow_api_models.py
  server/tests/validation/test_workflow_models.py
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

Fix errors from ruff check .
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_collections.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/tests/validation/test_workflow_api_models.py
  server/tests/validation/test_workflow_models.py
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

fix: update model formatting
  server/validation/workflow_instances.py
Due: backend unit tests, backend system tests, backend format

fix: add additional workflow instances
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: update instance details page template id
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(workflows): refactor workflow instance details page code to smaller components
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetailsComponents/WorkflowPossibleSteps.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetailsComponents/WorkflowStatus.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetailsComponents/WorkflowStepHistory.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/shared/api/modules/ruleGroups.ts
  client/src/shared/api/modules/templateStepBranches.ts
  client/src/shared/api/modules/workflowClassification.ts
  client/src/shared/api/modules/workflowExecution.ts
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/WorkflowSteps.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowEnums.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update formatting to address pipeline failures
  client/src/shared/types/workflow/workflowEnums.ts
  server/enums.py
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Add workflow runner
  server/service/workflow/workflow_runner.py
  server/tests/service/test_workflow_runner.py
Due: backend unit tests, backend system tests, backend format

Fix TypeError in pydantic validator for JSON parsing
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

Remove unused variable
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

Doc: added better description of what the function does
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

fix: update documentation for readability
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: update formatting
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: address pipeline failure
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: update folder naming
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: seperate component for workflow instance confirm dialog
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowConfirmDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: address frontend build pipeline failure
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
