Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Added minWidth, changed radius to px, and moved component rendering.
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(tests): fix sms relay tests
  server/system_tests/api/test_sms_relay.py
  server/system_tests/api/test_sms_relay_errors.py
  server/system_tests/utils/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Refactor(sms relay resource): send entire response body as encrypted string instead of json object
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

refactor(sms relay endpoint): extract common method of encrypting responses + put error messages in dict
  server/api/resources/sms_relay.py
  server/system_tests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

Added minWidth, changed radius to px, and moved component rendering.
  .gitignore
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Restored .gitignore and regenerated package-lock.json
  .gitignore
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

re-added package-lock.json
  package-lock.json
Due: none

Regenerated package-lock.json to resolve merge conflict
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Resolved merge conflict by keeping package-lock.json from main
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use tanstack query when unarchiving form template
  client/src/app/topBar/changePasswordDialog/ChangePasswordDialog.tsx
  client/src/pages/admin/manageFacilities/EditFacilityDialog.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/shared/api/api.ts
  server/api/resources/form_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Refactor(form templates table): use react query to fetch rows and download csv
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(form templates table): create separate mutations.ts and queries.ts files
  client/src/pages/admin/manageFormTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/mutations.ts
  client/src/pages/admin/manageFormTemplates/queries.ts
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix package-lock.json sync issue in client
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cicd: update playwright docker image
  .github/workflows/main-cicd.yml
Due: none

cicd: pin version of playwright
  .github/workflows/main-cicd.yml
Due: none

cicd: unpin playwright image version
  .github/workflows/main-cicd.yml
Due: none

cicd: pin playwright version
  .github/workflows/main-cicd.yml
Due: none

refactor: remove async from functions that do not use await
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/managePatients/ArchivePatientDialog.tsx
  client/src/pages/admin/manageRelayApp/DeleteRelayNumDialog.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageUsers/ResetPasswordDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/referrals/AutoRefresher.tsx
  client/src/pages/secretKey/useSecretKey.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

tests(form template table): add integration/unit tests
  client/package-lock.json
  client/package.json
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
  client/src/pages/patients/patient.test.tsx
  client/src/shared/api/api.ts
  client/src/testing/ProviderWrapper.tsx
  client/src/testing/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

tests(form template table): rename vars and add more cleanup
  client/src/pages/admin/manageFormTemplates/MangeFormTemplates.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(form templates): pass form id to location state so that new template page can fetch the form instead of being passed the entire form through location.state
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/LanguageModal.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/utils.ts
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient custom form page): refactor and use tanstack
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/queries.ts
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/shared/api/api.ts
  client/src/shared/queries.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient custom form page): use controlled values for submitting form
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient custom form page): check for undefined instead of using ! operator because empty array is considered false
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added validation to FormQuestions so user must enter numMin <= value <= numMax
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

removed unused { number }
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): restructure folders, use tanstack query for mutations and queries, and create layout file
  client/src/app/routes/utils/CustomFormRoutes.tsx
  client/src/app/routes/utils/index.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/pages/customizedForm/Layout.tsx
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/DeleteCategoryDialog.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedEditForm/state.ts
  client/src/pages/customizedForm/customizedNewForm/SelectFormTemplate/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedNewForm/SelectFormTemplate/state.ts
  client/src/pages/customizedForm/customizedNewForm/index.tsx
  client/src/pages/customizedForm/customizedViewForm/index.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/pages/customizedForm/mutations.ts
  client/src/pages/customizedForm/state.ts
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): rename folders to indicate they are pages and move file to components subfolder
  client/src/app/routes/utils/CustomFormRoutes.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/customizedEditFormPage/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/state.ts
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/pages/customizedForm/customizedViewFormPage/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(submit form template dialog): use tanstack mutation
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(custom forms): move queries related to forms into their own file
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditFormPage/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/customizedNewFormPage/index.tsx
  client/src/pages/customizedForm/customizedViewFormPage/index.tsx
  client/src/pages/customizedForm/queries.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: use value instead of defaultValue
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove grid
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove typography
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

experiment with number input
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: install react-number-format
  package-lock.json
  package.json
Due: none

refactor: use NumericFormat
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: move react-number-format to client
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: uninstall @base-ui-components/react
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: pass in TextField props
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use CustomNumberField for filling out form
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/shared/components/Form/CustomNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
