Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

refactor(assessment form): pull creation of NewAssessment out of mutation
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(assessment form): add healthcare worker ID to form data - this was missed when I rebased with main
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

docs: add name to contributor list
  README.md
Due: none

Update README.md
  README.md
Due: none

format changes for SMS Relay
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Update formatting -remove unused variable
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Format changes
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Format update
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Format changes from ruff
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Updates to system tests to reflect appropriate error codes
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

tests: provide query context for patients page tests
  client/src/pages/patients/patient.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(assessment form): remove explicit any type cast
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(API Error Toast): use condtional rendering to control whether toast is open
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/patient/index.tsx
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/shared/components/apiErrorToast/APIErrorToast.tsx
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove thrown error used for testing
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(assessment form): pass handleSubmit function directly to Formik component
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove unneeded callback prop
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove unneeded callback prop part 2
  client/src/pages/patient/index.tsx
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

config(eslint): disable react props validation rule
  client/eslint.config.js
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed issue 755: forms should now show on the front end
  client/package-lock.json
  server/api/resources/forms.py
  server/api/resources/patients.py
  server/data/crud.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

issue 755: forms should show on front end now (updated to delete debug print statements)
  server/api/resources/forms.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

issue 755: forms should show on front end now (spacing issue and changed referral to forms)
  server/api/resources/patients.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

build: install mui-tel-input
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add helper functions
  client/src/pages/admin/manageUsers/UserForms/UserFormFields.tsx
  client/src/pages/admin/manageUsers/UserForms/userFormHelpers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: implement new phone number fields
  client/src/pages/admin/manageUsers/UserForms/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
  client/src/shared/components/PhoneNumber/PhoneNumberInput.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: format phone numbers
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: format facility phone numbers
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: extract PhoneNumberField to be reusable
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
  client/src/shared/components/Form/PhoneNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: change phone to phoneNumber
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageRelayApp/editRelayNum.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: use PhoneNumberField for facilities
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
  client/src/shared/components/Form/PhoneNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: change phone to phoneNumber
  client/src/pages/admin/manageRelayApp/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add makePhoneNumberValidator function factory
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/shared/components/Form/PhoneNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add validtion for duplicate user phone numbers
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageFacilities/state.ts
  client/src/pages/admin/manageRelayApp/editRelayNum.tsx
  client/src/pages/admin/manageRelayApp/state.ts
  client/src/pages/admin/manageUsers/ResetPassword.tsx
  client/src/pages/admin/manageUsers/UserForms/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/UserFormFields.tsx
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
  client/src/pages/admin/manageUsers/UserForms/state.ts
  client/src/shared/components/Form/PhoneNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove redundant Field
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
  client/src/shared/components/Form/PhoneNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix misalignment of removal button
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
  client/src/shared/components/Form/PhoneNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: modify error message to be consistent with other messages
  client/src/shared/components/Form/PhoneNumberField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove import
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: limit number of phone numbers
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
  client/src/shared/constants.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(referral form): improve typing on handleSubmit function
  client/src/pages/referralForm/ReferralForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
