Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Implemented frontend
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistoryItem.tsx
  client/src/shared/components/workflow/StepDescription.tsx
  client/src/shared/components/workflow/descriptionVariables.ts
  client/src/shared/components/workflow/workflowTemplate/DescriptionFormattingHelp.tsx
  client/src/shared/hooks/patient/useDescriptionVariables.ts
  client/src/testing/components/workflow/descriptionVariables.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

froze pregnancy when step finishes
  client/src/shared/components/workflow/workflowTemplate/DescriptionDateInsertPicker.tsx
  client/src/shared/components/workflow/workflowTemplate/DescriptionInsertPicker.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  server/api/resources/workflow_instances.py
  server/common/workflow_utils.py
  server/migrations/versions/33_4b4c2f599782_add_pregnancy_id_to_workflow_instance.py
  server/service/workflow/datasourcing/description_variables.py
  server/tests/service/workflow/test_description_variables.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fixed pregnancy date view and end date
  client/src/shared/components/workflow/descriptionVariables.ts
  client/src/shared/components/workflow/workflowTemplate/DescriptionInsertPicker.tsx
  client/src/testing/components/workflow/descriptionVariables.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added medical readings
  client/src/shared/components/workflow/descriptionVariables.ts
  client/src/shared/components/workflow/workflowTemplate/DescriptionInsertPicker.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: make database moodel changes to enable lang support
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

feat: updated migration accurately
  server/migrations/versions/34_workflow_lang_support_add_translation_support_to_workflows.py
Due: backend unit tests, backend system tests, backend format

feat: extracting shared model
  server/common/form_utils.py
  server/validation/formsV2_models.py
  server/validation/shared_models.py
Due: backend unit tests, backend system tests, backend format

feat: migration and seeding
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  server/api/resources/workflow_templates.py
  server/data/orm_serializer/workflows.py
  server/manage.py
  server/migrations/versions/33_workflow_lang_support_add_translation_support_to_workflows.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: adding new models for the multi lang version
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

feat: API rerouting
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
  server/data/db_operations/__init__.py
  server/data/db_operations/workflow_management.py
  server/service/workflow/workflow_service.py
Due: backend unit tests, backend system tests, backend format

Add boundary tests for integer min/max validation
  server/tests/common/form_utils/test_validate_form_answers.py
Due: backend unit tests, backend system tests, backend format

feat: tests
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_templates.py
  server/data/orm_serializer/workflows.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/test_workflow_classifications.py
  server/system_tests/api/test_workflow_collections.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
  server/tests/validation/test_workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

fix: format
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  server/api/resources/workflow_templates.py
  server/common/form_utils.py
  server/manage.py
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

revert: temp frontend for testing
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

ruff: reformat
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_template_steps.py
  server/common/workflow_utils.py
  server/manage.py
  server/service/workflow/workflow_service.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

fix seeding
  server/common/form_utils.py
Due: backend unit tests, backend system tests, backend format

merged pregnancy tab
  client/src/shared/components/workflow/descriptionVariables.ts
  client/src/shared/components/workflow/workflowTemplate/DescriptionInsertPicker.tsx
  client/src/testing/components/workflow/descriptionVariables.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed ruff error
  server/api/resources/forms_v2.py
Due: backend unit tests, backend system tests, backend format

test: add unit tests for customizedForm answer handlers
  client/src/pages/customizedForm/handlers.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix- exclude CATEGORY answers from form submission payloads
  client/src/pages/customizedForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add unit tests for formQuestionUtils
  client/src/shared/components/Form/questions/formQuestionUtils.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add unit tests for useFormQuestions visibility and init
  client/src/shared/hooks/forms/useFormQuestions.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add forms API unit tests and MSW submission handlers
  client/src/shared/api/modules/forms.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: extend buildFormTemplatePayload coverage
  client/src/testing/api/formTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add default MSW handlers for form submission endpoints
  client/src/testing/mockServer.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Adding workflow sync endpoints
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

test: add form field and CustomizedForm component tests
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.test.tsx
  client/src/pages/customizedForm/components/CustomizedForm.test.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/shared/components/Form/questions/CategoryField.test.tsx
  client/src/shared/components/Form/questions/DateField.test.tsx
  client/src/shared/components/Form/questions/IntegerField.test.tsx
  client/src/shared/components/Form/questions/MultipleChoiceField.test.tsx
  client/src/shared/components/Form/questions/MultipleSelectField.test.tsx
  client/src/shared/components/Form/questions/MultipleSelectField.tsx
  client/src/shared/components/Form/questions/StringField.test.tsx
  client/src/shared/components/Form/questions/questionFieldTestUtils.ts
  client/src/testing/mockServer.ts
  client/src/testing/testData.ts
  client/src/testing/vitest.setup.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: add form submit/edit/view E2E coverage
  client/cypress/e2e/editCustomForm.cy.ts
  client/cypress/e2e/submitCustomForm.cy.ts
  client/cypress/e2e/viewCustomForm.cy.ts
  client/cypress/support/commands.ts
  client/playwright/fixtures.ts
  client/playwright/page-object-models/custom-form-page-model.ts
  client/playwright/page-object-models/form-template-builder-page-model.ts
  client/playwright/page-object-models/patient-summary-page-model.ts
  client/playwright/tests/create-form-template.spec.ts
  client/playwright/tests/submit-custom-form.spec.ts
  client/src/pages/admin/manageFormTemplates/editFormTemplate/FormTemplateMetadataForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

resolve frontend CI type, format, and Playwright locator issues
  client/playwright/page-object-models/custom-form-page-model.ts
  client/playwright/tests/submit-custom-form.spec.ts
  client/src/pages/customizedForm/handlers.test.ts
  client/src/shared/api/modules/forms.test.ts
  client/src/shared/components/Form/questions/DateField.test.tsx
  client/src/shared/components/Form/questions/IntegerField.test.tsx
  client/src/shared/components/Form/questions/MultipleSelectField.tsx
  client/src/shared/components/Form/questions/StringField.test.tsx
  client/src/shared/components/Form/questions/formQuestionUtils.test.ts
  client/src/shared/components/Form/questions/questionFieldTestUtils.ts
  client/src/shared/hooks/forms/useFormQuestions.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: lang default to english in right places
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
  server/service/workflow/workflow_service.py
Due: backend unit tests, backend system tests, backend format

rebase and format
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowLanguages.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: frontend files
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/utils.ts
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/newWorkflowInstance/index.tsx
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
  client/src/shared/hooks/patient/useWorkflowFormModal.ts
  client/src/shared/hooks/patient/useWorkflowInstanceActions.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowLanguages.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowSave.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowMultiLangTypes.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  client/src/shared/utils/format.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix build issue with tests
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/testing/api/workflowTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added error messages for markdown
  client/src/shared/components/workflow/descriptionVariables.ts
  client/src/testing/components/workflow/descriptionVariables.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: final bug fixes and restructuring
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/LanguageAutocomplete.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/hooks/patient/useWorkflowInstanceDetails.ts
  client/src/shared/hooks/workflowTemplate/useWorkflowLanguages.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: match MC option labels to the form language on submit
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/handlers.test.ts
  client/src/pages/customizedForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

resolve MC option labels with form language on reload
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/shared/hooks/forms/useFormQuestions.test.ts
  client/src/shared/hooks/forms/useFormQuestions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added test cases for new markdowns
  client/src/testing/components/workflow/StepDescription.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix template names
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

Return errors for missing patients
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format
