Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

migrate SelectFormTemplate to use V2 forms API
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/queries.ts
  client/src/shared/api/modules/formTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add override current step uni test
  server/tests/service/workflow/test_workflow_planner.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow Variables rule evaluator
  server/service/workflow/evaluate/rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

feat: Test variable parsing vitals/pregnancies
  server/tests/service/workflow/test_datasourcing.py
Due: backend unit tests, backend system tests, backend format

fix: Ruff format rule_evaluator
  server/service/workflow/evaluate/rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

added menu to + button
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added Insert Node Between functionality
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

ran prettier
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: ruff fix datasource
  server/service/workflow/datasourcing/data_sourcing.py
  server/tests/service/workflow/test_datasourcing.py
Due: backend unit tests, backend system tests, backend format

add safety guards for .templates access in SelectFormTemplate
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

prettier linter fix
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

workflow templates: serialize version assignment with classification row lock
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

workflow templates: enforce unique classification/version at schema level
  server/migrations/versions/27_f4c1e2b8a9d0_add_unique_constraint_workflow_template_classification_version.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

workflow templates: return 409 on version uniqueness conflicts
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

feat: implemented step overriding of a completed step
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/hooks/patient/useWorkflowStepActions.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/api/resources/workflow_instance_steps.py
  server/common/workflow_utils.py
  server/service/workflow/workflow_service.py
  server/validation/workflow_api_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: only create new step instance if an incomplete step of the same template doesn't exist
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/shared/hooks/patient/useWorkflowStepActions.ts
  server/api/resources/workflow_instance_steps.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: format
  server/api/resources/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

resolve incorrect branch index matching in insertNodeBetween
  client/src/shared/components/workflow/workflowTemplate/FlowEdge.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

ran prettier
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add Mekdim to contributors in README
  README.md
Due: none

fix: make workflow template version indexable in single migration
  server/migrations/versions/27_f4c1e2b8a9d0_add_unique_constraint_workflow_template_classification_version.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

added blockly ui
  client/package-lock.json
  client/package.json
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/index.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

pass onInsertNodeBetween prop to WorkflowEditor in ViewWorkflowTemplate
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Workflow variable rule logic api
  server/api/resources/workflow_variables.py
Due: backend unit tests, backend system tests, backend format

feat: single comparison JsonLogic rule parser
  server/service/workflow/evaluate/rule_logic_parser.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow variable logic model
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow variable basic vars
  server/api/resources/workflow_variables.py
  server/migrations/versions/28_seed_basic_patient.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow variable rule parsing tests
  server/tests/service/workflow/test_rule_logic_parser.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow Rule Evaluator missing variable
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/evaluate/rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow rule engine parsing top-level test
  server/tests/service/workflow/test_rules_engine_metadata.py
Due: backend unit tests, backend system tests, backend format

fix: JsonLogic top-level parsing fix
  server/service/workflow/evaluate/rules_engine.py
Due: backend unit tests, backend system tests, backend format

fix: ruff format fix
  server/api/resources/workflow_variables.py
  server/service/workflow/evaluate/rule_evaluator.py
  server/tests/service/workflow/test_rule_logic_parser.py
Due: backend unit tests, backend system tests, backend format

fix: Preserve RuleEvaluator missing behaviour
  server/service/workflow/evaluate/rules_engine.py
Due: backend unit tests, backend system tests, backend format

feat: RuleEval missing flag
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/evaluate/rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

fix: ruff format fix
  server/migrations/versions/28_seed_basic_patient.py
  server/service/workflow/evaluate/rule_logic_parser.py
  server/tests/service/workflow/test_rule_logic_parser.py
  server/tests/service/workflow/test_rules_engine_metadata.py
Due: backend unit tests, backend system tests, backend format

doc: docstring for use_missing_sentinel
  server/service/workflow/datasourcing/data_sourcing.py
Due: backend unit tests, backend system tests, backend format

feat: All workflows collection
  server/service/workflow/datasourcing/data_catalogue.py
Due: backend unit tests, backend system tests, backend format

minor fixes and cleaning
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added readme for blockly context
  client/src/shared/components/workflow/blocklyEditor/README.md
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
