Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

ruff fixed /Users/jennaliu/Desktop/415/Cradle-Platform/server --ignore E501,F405,F403 --exclude migrations/
  server/app.py
  server/config.py
  server/manage.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

update cicd yml
  .github/workflows/main-cicd.yml
  .gitlab-ci.yml
Due: none

ruff fixed Cradle-Platform/aws --ignore E501,F405,F403 --exclude=server/migrations
  aws/aws-lambda/cpuAlarmLambda.py
Due: none

add bson to requirements.txt
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

ignore E402
  .github/workflows/main-cicd.yml
  .gitlab-ci.yml
  server/app.py
Due: backend unit tests, backend system tests, backend format

init
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test package-lock
  package-lock.json
Due: none

test change
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

revert resources
  server/api/resources/assessments.py
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/patients.py
  server/api/resources/patients_android.py
  server/api/resources/referrals.py
  server/api/resources/sms_relay.py
  server/api/resources/stats.py
  server/api/resources/sync.py
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

revert cicd
  .github/workflows/main-cicd.yml
  .gitlab-ci.yml
Due: none

revert requirements
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

add bson, skip backend format test
  .github/workflows/main-cicd.yml
  .gitlab-ci.yml
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

revert app config util decorator
  server/api/decorator.py
  server/api/util.py
  server/app.py
  server/config.py
Due: backend unit tests, backend system tests, backend format

revert aws
  aws/aws-lambda/cpuAlarmLambda.py
Due: none

revert server
  server/data/crud.py
  server/data/marshal.py
  server/manage.py
  server/requirements.txt
  server/service/assoc.py
  server/service/encryptor.py
  server/service/questionTree.py
  server/service/serialize.py
  server/systemTests/api/test_form_classifications.py
  server/systemTests/api/test_forms.py
  server/systemTests/api/test_patients.py
  server/systemTests/api/test_sms_relay.py
  server/systemTests/mock/factory.py
  server/systemTests/test_search.py
  server/systemTests/test_users.py
  server/tests/validation/test_formTemplates.py
  server/tests/validation/test_referrals.py
  server/tests/validation/test_validate.py
  server/validation/ReferralValidator.py
  server/validation/assessments.py
  server/validation/patients.py
  server/validation/questions.py
  server/validation/referrals.py
  server/validation/validate.py
Due: backend unit tests, backend system tests, backend format

test server/api
  server/api/decorator.py
  server/api/resources/assessments.py
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/patients.py
  server/api/resources/patients_android.py
  server/api/resources/referrals.py
  server/api/resources/sms_relay.py
  server/api/resources/stats.py
  server/api/resources/sync.py
  server/api/resources/users.py
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

test service
  server/service/assoc.py
  server/service/encryptor.py
  server/service/questionTree.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

test data
  server/data/crud.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

revert data
  server/data/crud.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

test systemTests
  server/systemTests/api/test_form_classifications.py
  server/systemTests/api/test_forms.py
  server/systemTests/api/test_patients.py
  server/systemTests/api/test_sms_relay.py
  server/systemTests/mock/factory.py
  server/systemTests/test_search.py
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

test server/tests
  server/tests/validation/test_formTemplates.py
  server/tests/validation/test_referrals.py
  server/tests/validation/test_validate.py
Due: backend unit tests, backend system tests, backend format

test server/validation
  server/validation/ReferralValidator.py
  server/validation/assessments.py
  server/validation/patients.py
  server/validation/questions.py
  server/validation/referrals.py
  server/validation/validate.py
Due: backend unit tests, backend system tests, backend format

test server/data
  server/data/crud.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

test data
  server/app.py
  server/config.py
  server/data/crud.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

add bson and test app.py config.py
  server/app.py
  server/config.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

test aws
  aws/aws-lambda/cpuAlarmLambda.py
Due: none

test crud with LOGGER fixed
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

test marshal
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

test crud with E722 F811 fixed
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

test crud without E722 fixed
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

test crud with E712 fixed
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

test crud without E712 fixed
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

test crud with E722 fixed
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

test crud with E101 fixed
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

test crud with E711 fixed
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

test crud with .is_ and .is_not
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

update crud
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

update cicd
  .github/workflows/main-cicd.yml
  .gitlab-ci.yml
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

ruff check exclude crud
  .github/workflows/main-cicd.yml
  .gitlab-ci.yml
Due: none

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
