Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Implement function for seeding DB with PAPAGAIO workflow template steps
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Remove initial condition from PAPAGAIO workflow template
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Add starting_step_id attribute to WorkflowTemplateOrm for keeping track of where to start, update all Pydantic models and corresponding API endpoints
  server/api/resources/workflow_template_steps.py
  server/manage.py
  server/migrations/versions/13_b6ff0a713e0e_add_attribute_to_workflowtemplateorm_.py
  server/models.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
  server/tests/validation/test_workflow_templates.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Create function for seeding DB with workflow template steps with form and branches
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Bug fixes and updating the seed_data() and seed() functions to seed workflows
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Remove workflow template step system_test which no longer works because of the updated seed script
  server/manage.py
  server/system_tests/api/test_workflow_template_steps.py
Due: backend unit tests, backend system tests, backend format

Implement docker-compose file for mock mysql database, implement pytest fixture that spins it up and tears it down automatically
  docker-compose.test.yml
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

remove ruleGroup test code
  client/src/shared/api/modules/ruleGroups.ts
  client/src/shared/types/workflow/workflowTypes.ts
  client/src/testing/api/ruleGroups.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Create fixture for setting up the DB environment variables
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Change Pydantic attributes for workflow components, remove workflow template tests which no longer work because of database seeding
  server/api/resources/workflow_templates.py
  server/system_tests/api/test_workflow_templates.py
  server/validation/workflow_template_steps.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

implementation: partial testing
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/system_tests/api/test_workflow_classifications.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/validation/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

test case temporary fix
  server/system_tests/api/test_workflow_classifications.py
Due: backend unit tests, backend system tests, backend format

refactor with ruff
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_template_steps.py
  server/data/crud.py
  server/system_tests/api/test_workflow_classifications.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/validation/workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

temp commit
  re/test-maykin-re.py
  re/test-re.py
  server/api/resources/workflow_evaluate.py
  server/service/workflow/workflow_rule_evaluation.py
Due: backend unit tests, backend system tests, backend format

update the datacreated issue on testing file
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/MangeFormTemplates.test.tsx
  client/src/pages/admin/manageWorkflowTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
  client/src/pages/patients/index.tsx
  client/src/shared/api/modules/templateStepBranches.ts
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/types/workflow/workflowTypes.ts
  client/src/testing/testData.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix API endpoints returning None to return an empty string instead, make condition attribute optional for workflow template step pydantic model
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/validation/workflow_template_steps.py
Due: backend unit tests, backend system tests, backend format

mod the upload template UI
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/SampleTemplateLink.tsx
  client/src/pages/admin/manageFormTemplates/UploadTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/SampleTemplateLink.tsx
  client/src/pages/admin/sharedComponent/SampleTemplateLink.tsx
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove fixture that spins up test database container, create fixture that creates a mock app for testing
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Update CICD to use Node:18
  .github/workflows/main-cicd.yml
Due: none

Update Dockerfile to Python 3.9.23-bookworm
  server/Dockerfile
Due: backend unit tests, backend system tests, backend format

Change CICD to use python:3.9.23-bookworm
  .github/workflows/main-cicd.yml
Due: none

click "edit" button to view workflow, currently with dummy data
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/CustomWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditCategory.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditField.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/EditVisibleCondition.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/LanguageModal.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/ViewTemplateSteps.tsx
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor docker containers to use a network
  docker-compose.test.yml
  docker-compose.yml
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

renamed query parameters to match crud.py
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/CustomWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

removed unneeded forms code
  client/src/pages/admin/manageWorkflowTemplates/editWorkflowTemplate/CustomWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update and clean up the code a bit based on spike and design changes
  server/service/workflow/rules_engine.py
  server/service/workflow/workflow_rule_evaluation.py
Due: backend unit tests, backend system tests, backend format

fix the type error issue
  client/src/shared/api/core/http.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added workflow intsance tests - unarchive, create instance with steps, list instance stepts
  client/src/testing/api/workflowInstances.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated workflowInstances step tests to use InstanceStep
  client/src/testing/api/workflowInstances.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

due to some endpoints haven't even been fully implemented yet, i just revert the testing code
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageWorkflowTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/MangeFormTemplates.test.tsx
  client/src/pages/admin/manageWorkflowTemplates/SampleTemplateLink.tsx
  client/src/pages/admin/manageWorkflowTemplates/UnarchiveTemplateDialog.tsx
  client/src/testing/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

formatted with prettier
  client/src/testing/api/workflowInstances.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

made workflow classifications API
  client/src/shared/api/modules/workflowClassification.ts
  client/src/shared/api/modules/workflowTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added command to run a single front-end test file
  docs/testing/testing.md
Due: none

finished workflow classification api and tests
  client/src/shared/api/modules/workflowClassification.ts
  client/src/shared/types/workflow/workflowTypes.ts
  client/src/testing/api/workflowClassifications.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added delete classification by ID
  client/src/shared/api/modules/ruleGroups.ts
  client/src/shared/api/modules/workflowClassification.ts
  client/src/testing/api/workflowClassifications.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

update templateStepBranch test code
  client/src/shared/api/modules/templateStepBranches.ts
  client/src/testing/api/templateStepBranches.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

run prettier and lint testing
  client/eslint.config.js
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
