Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

#177 Remove extra fields and time
  fluentbit/config/outputs/development/tail-output.conf
  server/config.py
Due: backend unit tests, backend system tests, backend format

remove tsNs (also timestamp)
  fluentbit/config/outputs/development/tail-output.conf
Due: none

Adjusted select field in patient reading to remove text stuck in field after selecting from dropdown
  client/src/pages/readingForm/vitalSigns/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

revert config.py
  server/config.py
Due: backend unit tests, backend system tests, backend format

separate logs into fields
  docker-compose.deploy.yml
  fluentbit/config/inputs/tail-input.conf
  fluentbit/config/json-parser.conf
  server/config.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

remove extra code
  server/config.py
Due: backend unit tests, backend system tests, backend format

black format config.py
  server/config.py
Due: backend unit tests, backend system tests, backend format

Issue 175 is fixed
  client/src/pages/patientForm/personalInfo/index.tsx
  client/src/pages/patientForm/personalInfo/validation.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Progress on figuring out how to do #172
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/medicalInfo/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added language reset upon form selection change
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Progress on figuring how to do #173
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/medicalInfo/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Revert "Progress on figuring out how to do #172"
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/medicalInfo/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

change to generic parser
  fluentbit/config/json-parser.conf
  fluentbit/config/outputs/development/tail-output.conf
Due: none

Removed part of URL that broke interface when new drug or medical history added to patient
  client/src/pages/patient/MedicalInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Resolving linter errors
  client/src/pages/patient/MedicalInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Admin panel now hides archive button if patient already archived
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added ability to filter for archived/unarchived patients in the admin patients panel
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/shared/api.ts
  server/data/crud.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Fixed archiving and unarchiving (was previously showing wrong action)
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix inaccurate label
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix label
  fluentbit/config/outputs/development/tail-output.conf
Due: none

add fluentbit parser as a service
  fluentbit/config/fluent-development.conf
Due: none

Fixing ternary operator from Hyeonyoung suggestion
  client/src/pages/patient/MedicalInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Create get_json function in sms_relay
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Refactor sms_relay get_json existing endpoints
  server/api/resources/patients.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
Due: backend unit tests, backend system tests, backend format

Add type hint to sms_relay get_json
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add sms relay support to assessment
  server/api/resources/assessments.py
Due: backend unit tests, backend system tests, backend format

[#166] Set up husky and lint-staged to enforce format and lint on pre commit
  .husky/pre-commit
  client/.lintstagedrc.json
  package-lock.json
  package.json
  server/.lintstagedrc.json
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Testing for form classification template validation
  server/tests/validation/test_formClassifications.py
  server/tests/validation/test_formTemplates.py
  server/tests/validation/test_forms.py
  server/tests/validation/test_medicalRecords.py
Due: backend unit tests, backend system tests, backend format

Added tests for form validation, modified forms-post.yml to reflect required fields
  server/specifications/forms-post.yml
  server/tests/validation/test_forms.py
Due: backend unit tests, backend system tests, backend format

Added tests for form question and put request validation
  server/tests/validation/test_forms.py
Due: backend unit tests, backend system tests, backend format

Added form template validation tests, added form template question validation tests, updated form-templates-post.yml to have classification fields
  server/specifications/form-templates-post.yml
  server/tests/validation/test_formTemplates.py
  server/tests/validation/test_forms.py
  server/tests/validation/test_medicalRecords.py
Due: backend unit tests, backend system tests, backend format

Remove unused imports to prevent database from being called
  server/validation/formClassifications.py
  server/validation/forms.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

Moved Enum classes to separate enums.py to prevent database from being initialized when trying to use Enum class during testing
  server/api/decorator.py
  server/api/resources/facilities.py
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/stats.py
  server/api/resources/upload.py
  server/api/resources/users.py
  server/api/util.py
  server/data/crud.py
  server/enums.py
  server/manage.py
  server/models.py
  server/service/assoc.py
  server/service/statsCalculation.py
  server/service/view.py
  server/systemTests/api/conftest.py
  server/systemTests/api/test_android_endpoints.py
  server/systemTests/api/test_patients.py
  server/systemTests/api/test_referrals.py
  server/systemTests/api/test_sms_relay.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

Age shows up as a non decimal now
  client/src/pages/patientForm/personalInfo/index.tsx
  client/src/pages/patientForm/personalInfo/validation.ts
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Updated due to errors related to disablingPrettier
  client/src/pages/patientForm/personalInfo/index.tsx
  client/src/pages/patientForm/personalInfo/validation.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Restart fluentbit after deployment, Add alarm cloud formation and lambda script to send alarms
  .gitlab-ci.yml
  aws-cfn/cpuAlarm.yml
  aws-cfn/cpuAlarmLambda.py
  aws-cfn/loginAlarm.yml
Due: none

#143 End-to-End testing for archiving and unarchiving patient
  client/cypress/e2e/archivePatients.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

increase wait time
  client/cypress/e2e/archivePatients.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

save artifact on failure
  .gitlab-ci.yml
Due: none

fix e2e testing
  client/cypress/e2e/archivePatients.cy.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
