Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

refactor: update migration file to revise migration 30
  server/migrations/versions/31_76866e61db26_migrate_v1_form_template_submission_references_to_V2.py
Due: backend unit tests, backend system tests, backend format

fix: revert shallow processing for form submission answers
  server/data/orm_serializer/forms.py
  server/system_tests/api/test_form_submissions_v2.py
Due: backend unit tests, backend system tests, backend format

Update workflow template step model to reference Forms V2 and add database migration
  server/migrations/versions/31_switch_workflow_template_step_form_fk_to_v2.py
  server/models/workflows.py
Due: backend unit tests, backend system tests, backend format

Update workflow serialization and deletion operations for Forms V2 compatibility
  server/data/db_operations/workflow_management.py
  server/data/orm_serializer/workflows.py
Due: backend unit tests, backend system tests, backend format

Refactor workflow utilities and add system tests for Forms V2 template uploads
  server/common/workflow_utils.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Fetch variables dynamically for Blockly (#1063)
  client/src/shared/api/index.ts
  client/src/shared/api/modules/workflowVariables.ts
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add archiving functionality to form submissions v2 + update tests to use v2
  client/src/shared/types/form/formTypes.ts
  server/api/resources/forms_v2.py
  server/migrations/versions/31_76866e61db26_migrate_v1_form_template_submission_references_to_V2.py
  server/migrations/versions/32_613305db5978_add_archiving_to_form_submission_v2.py
  server/models/formsV2.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_form_submissions_v2.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/validation/formsV2_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

test: update marshalling tests to use v2 form orms
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_instance.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_instance_step.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template_step.py
  server/tests/helpers.py
Due: backend unit tests, backend system tests, backend format

test: update backend system workflow template step tests to use v2 forms for submission
  server/system_tests/api/conftest.py
  server/system_tests/api/test_workflow_template_steps.py
Due: backend unit tests, backend system tests, backend format

test: update v2 form submission unit tests to include archived field
  server/api/resources/workflow_instance_steps.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/test_workflow_template_steps.py
  server/tests/validation/test_form_submissions_v2.py
Due: backend unit tests, backend system tests, backend format

test: remove unseeded v1 data in mobile tests
  server/system_tests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

Update frontend workflow API definitions and types to support Forms V2 templates
  client/src/shared/api/modules/forms.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor form hooks and handlers for localized text and dynamic question indexes
  client/src/pages/customizedForm/handlers.ts
  client/src/shared/hooks/forms/useFormQuestions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update customized form UI components to support dynamic rendering and Forms V2 localized text
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor workflow step components to fetch and render Forms V2 template names
  client/src/shared/components/workflow/WorkflowStep.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Blockly enhancements (#1065)
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicToBlocks.ts
  client/src/shared/components/workflow/blocklyEditor/toolboxConfig.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix Forms V2 create and edit submission flow
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/shared/api/modules/forms.ts
  client/src/shared/types/form/formTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Stabilize workflow details pages after Forms V2 migration
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Ignore generated client build output in lint runs
  client/eslint.config.js
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: linting
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix styling issues causing cutoff in certian forms
  client/src/pages/patient/WorkflowInfo/components/WorkflowFormModal.tsx
  client/src/shared/api/modules/forms.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: linting
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix failing tests
  client/src/shared/types/form/formTemplateTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update archiving column in form_submission_v2 to fill default value false when migrating
  server/migrations/versions/32_613305db5978_add_archiving_to_form_submission_v2.py
Due: backend unit tests, backend system tests, backend format

added self to readme
  README.md
Due: none

minor fix
  README.md
Due: none

fix: change db upgrade default for archived
  server/migrations/versions/32_613305db5978_add_archiving_to_form_submission_v2.py
Due: backend unit tests, backend system tests, backend format

Update README.md
  README.md
Due: none

Update README.md contributor
  README.md
Due: none

Admin Workflow Template: show both archived and non when toggling 'Include Archived Workflows'
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  server/api/resources/workflow_templates.py
  server/data/db_operations/workflow_management.py
  server/system_tests/api/test_workflow_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Fix workflow instance details stuck on loading when fetch fails
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/shared/hooks/patient/useWorkflowInstanceDetails.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Admin Workflow Template: fixed sorting
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Admin Workflow Template: cleaned documentation
  server/data/db_operations/workflow_management.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Admin Workflow Template: fixed failing test case due to formatting
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Fix filter by status
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added default filter to hide completed workflows
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove the action column and make the whole row clickable
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

lastedited default to sorting with most recent at the top.
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added test case for issue #981
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format
