Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix: ts errors - create v2 types
  client/src/pages/admin/manageFormTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiChoiceField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiSelectField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/handlers.ts
  client/src/pages/admin/manageFormTemplates/mutations.ts
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/pages/customizedForm/queries.ts
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/enums.ts
  client/src/shared/hooks/forms/useCustomizedFormWQuestions.ts
  client/src/shared/hooks/forms/useEditField.ts
  client/src/shared/hooks/forms/useFormQuestions.ts
  client/src/shared/queries.ts
  client/src/shared/types/form/formTemplateTypes.ts
  client/src/shared/types/form/formTypes.ts
  client/src/testing/api/formTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: format frontned
  client/src/pages/admin/manageFormTemplates/mutations.ts
  client/src/pages/customizedForm/handlers.ts
  client/src/shared/queries.ts
  client/src/shared/types/form/formTypes.ts
  client/src/testing/api/formTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: version error and format
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/queries.ts
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/enums.ts
  client/src/shared/types/form/formTemplateTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: build errors
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/shared/hooks/forms/useEditField.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: type of version in test
  client/src/testing/api/formTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: prettier format
  client/src/shared/hooks/forms/useEditField.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: default version
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

revert and apply new fix on the error caused by crud.read() when multiple unarchived template
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Fix backend formatting
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Clean up workflow components (#979)
  server/service/workflow/datasourcing/workflow_data_resolver.py
  server/service/workflow/evaluate/rule_evaluation.py
  server/service/workflow/evaluate/rule_evaluator.py
  server/service/workflow/evaluate/variables/README.md
  server/service/workflow/evaluate/variables/__init__.py
  server/service/workflow/evaluate/variables/extractor.py
  server/service/workflow/evaluate/variables/models.py
  server/service/workflow/evaluate/variables/utils.py
  server/service/workflow/workflow_operations.py
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/system_tests/service/workflow/test_workflow_data_resolver_system.py
  server/tests/service/workflow/test_branch_variable_extractor.py
  server/tests/service/workflow/test_workflow_data_resolver.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_service.py
Due: backend unit tests, backend system tests, backend format

Add documentation for WorkflowPlanner and WorkflowService
  server/common/workflow_utils.py
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/service/workflow/workflow_view.py
Due: backend unit tests, backend system tests, backend format

Add myself to the Contributors list
  README.md
Due: none

chore: skip test
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: skip test
  client/playwright/tests/create-form-template.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update README.md
  README.md
Due: none

978: Add documentation for WorkflowPlanner and WorkflowService (#984)
  README.md
  server/common/workflow_utils.py
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/service/workflow/workflow_view.py
Due: backend unit tests, backend system tests, backend format

add myself to the readme contribution list
  README.md
Due: none

Add contributor information to README
  README.md
Due: none

Add name to contribution list
  README.md
Due: none

doc: Add Josh Chung to contribution list
  README.md
Due: none

changed "Pending" to "Possible future step"
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove unused V1 form template mutations
  client/src/pages/admin/manageFormTemplates/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove data_sources from RuleGroup
  client/src/shared/api/modules/ruleGroups.ts
  client/src/shared/api/modules/templateStepBranches.ts
  client/src/shared/components/workflow/WorkflowStep.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/testing/api/templateStepBranches.test.ts
  sample_workflow_template.json
  server/models/workflows.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
  server/tests/serializers/test_marshal/test_marshal_rule_group.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step_branch.py
  server/tests/validation/test_rule_groups.py
  server/validation/rule_groups.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: remove data_sources from RuleGroup
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
  client/src/shared/api/modules/ruleGroups.ts
  client/src/shared/api/modules/templateStepBranches.ts
  client/src/shared/components/workflow/WorkflowStep.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/testing/api/templateStepBranches.test.ts
  sample_workflow_template.json
  server/models/workflows.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
  server/tests/serializers/test_marshal/test_marshal_rule_group.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step_branch.py
  server/tests/validation/test_rule_groups.py
  server/validation/rule_groups.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Replace deprecated Babel plugin with @babel/plugin-transform-private-property-in-object
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: improve 404 page UI and use wildcard route for unrecognized paths
  client/src/app/routes/utils/index.tsx
  client/src/pages/notFound/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: allow 404 page to be visible when logged out
  client/src/app/routes/utils/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: run linting
  client/src/pages/notFound/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove progress bar in Workflow Status
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove unused imports (after removing progress bar)
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

filter for completed instance steps and sort by completion date (most recent first
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

append active workflow step to beginning of step history
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix ESLint globals usage
  client/eslint.config.js
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove comments from ESLint config
  client/eslint.config.js
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

display all possible steps (not filtering for branch possibility)
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowPossibleSteps.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

comment out estimated completion
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

recenter remaining workflow status indicators
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

change percent progress to last edited by
  client/src/pages/patient/WorkflowInfo/components/WorkflowStatus.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add description below instance title
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Removed add branch option and default add button to insert a new node
  client/src/shared/components/workflow/workflowTemplate/NodeHandler.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
