Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Rename Workflow variable labels to "Current Workflow" / "All Workflows"
  client/src/shared/components/workflow/blocklyEditor/variableGrouping.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Move rule editor help icon to dialog title
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update Getting started help text for merged Comparisons and Logic category
  client/src/shared/components/workflow/blocklyEditor/RuleEditorHelpDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Align patient collections with access policy
  server/data/db_operations/helper_utils.py
  server/data/db_operations/patient_queries.py
  server/data/db_operations/referral_queries.py
  server/service/FilterHelper.py
  server/service/patient_authorization.py
  server/service/view.py
  server/system_tests/api/test_patient_authorization.py
  server/system_tests/service/test_patient_authorization.py
  server/system_tests/test_patient_filters.py
Due: backend unit tests, backend system tests, backend format

Fixed date input bug
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/workspaceValidation.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Added tests for calendar date validation
  client/src/shared/components/workflow/blocklyEditor/workspaceValidation.ts
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed date test output
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/workspaceValidation.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed invalid date outputs and added a leap year test.
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/workspaceValidation.ts
  client/src/testing/blocklyEditor/blocklyEditor.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Standardize explicit route authorization guards
  docs/development.md
  server/api/authorization.py
  server/api/decorator.py
  server/api/resources/facilities.py
  server/api/resources/form_classifications.py
  server/api/resources/form_classifications_v2.py
  server/api/resources/form_templates.py
  server/api/resources/form_templates_v2.py
  server/api/resources/patients.py
  server/api/resources/relay_server_phone_numbers.py
  server/api/resources/stats.py
  server/api/resources/upload.py
  server/api/resources/users.py
  server/api/resources/workflow_collections.py
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/api/resources/workflow_templates.py
  server/system_tests/api/test_form_classifications_v2.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Match pinned ruff formatting
  server/system_tests/api/test_workflow_instance_steps.py
Due: backend unit tests, backend system tests, backend format

fix: await userEvent.type() and assert input value
  client/src/pages/patients/patient.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Cancel lodash debounce on unmount
  client/src/pages/patients/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

use getByLabelText to find the search input instead of getByTestId
  client/src/pages/patients/patient.test.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Changed the error message and updated corresponding test
  client/src/shared/utils/workflow/formatPasteMissingVariables.ts
  client/src/testing/utils/formatPasteMissingVariables.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Restrict existing patient association creation by role
  server/api/resources/patient_associations.py
  server/api/resources/sync.py
  server/service/patient_authorization.py
  server/tests/test_patient_association_access.py
  server/tests/validation/test_associations.py
  server/validation/associations.py
Due: backend unit tests, backend system tests, backend format

Run patient association API tests in system suite
  server/system_tests/test_patient_association_access.py
Due: backend unit tests, backend system tests, backend format

Ignore client-supplied user ID. Use submitter's ID.
  server/api/resources/assessments.py
  server/api/resources/forms.py
  server/api/resources/forms_v2.py
  server/api/resources/patients.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
  server/api/resources/sync.py
  server/system_tests/api/test_form_submissions_v2.py
Due: backend unit tests, backend system tests, backend format

Use type-only imports and `as` casts
  client/playwright/fixtures.ts
  client/playwright/page-object-models/form-template-builder-page-model.ts
  client/playwright/page-object-models/form-templates-page-model.ts
  client/playwright/page-object-models/new-referral-form-page-model.ts
  client/playwright/teardown.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix edits being overwritten by refetch in useFormQuestions
  client/src/shared/hooks/forms/useFormQuestions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Wait for PATCH and assert payload in submit-custom-form spec, and use crypto.randomUUID() for the template name
  client/playwright/page-object-models/custom-form-page-model.ts
  client/playwright/tests/submit-custom-form.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Replace unsupported crypto.randomUUID()
  client/playwright/tests/submit-custom-form.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove `userId` and `getCurrentUserId()`
  client/src/shared/api/modules/forms.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove `healthcareWorkerId` from `newAssessment`, and from the `NewAssessment` type
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/shared/api/modules/forms.test.ts
  client/src/shared/types/assessmentTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Improve mobile responsiveness for referrals dashboard.
  client/src/pages/referrals/index.tsx
  client/src/pages/referrals/useReferralColumns.tsx
  client/src/shared/components/DataTable/DataTable.tsx
  client/src/shared/components/dashboard/DashboardPaper.tsx
  test-results/.last-run.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Updated UI elements in referrals page to scale with mobile screen and removed clutter.
  client/src/pages/referrals/AutoRefresher.tsx
  client/src/pages/referrals/components/ReferralsSearchBar.tsx
  client/src/pages/referrals/components/ReferralsToolbar.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/components/dashboard/DashboardPaper.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove test artifact
  test-results/.last-run.json
Due: none

Addressed PR comments. Removed comments/dead code, fixed patient table filtering on mobile, and added the clear filter button
  client/src/pages/referrals/AutoRefresher.tsx
  client/src/pages/referrals/components/ReferralsSearchBar.tsx
  client/src/pages/referrals/useReferralColumns.tsx
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Log API responses that don't have an authorization check
  server/api/authorization.py
  server/api/authorization_check.py
  server/api/resources/sms_relay.py
  server/app.py
  server/tests/api/test_authorization_check.py
Due: backend unit tests, backend system tests, backend format

Record existing assignment and collection authorization
  server/api/authorization.py
  server/api/resources/patient_associations.py
  server/api/resources/patients.py
  server/api/resources/patients_android.py
  server/api/resources/referrals.py
  server/api/resources/sync.py
  server/data/db_operations/patient_queries.py
  server/data/db_operations/referral_queries.py
  server/service/view.py
  server/system_tests/service/test_patient_authorization.py
  server/system_tests/test_patient_association_access.py
Due: backend unit tests, backend system tests, backend format

Playwright test to test `required` toggle
  client/playwright/page-object-models/form-template-builder-page-model.ts
  client/playwright/page-object-models/form-templates-page-model.ts
  client/playwright/tests/required.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Protect remaining direct patient routes
  server/api/resources/patients.py
  server/system_tests/api/test_patient_authorization.py
Due: backend unit tests, backend system tests, backend format

Fix referral sync never returning referrals to mobile
  server/data/db_operations/referral_queries.py
  server/system_tests/api/test_referrals.py
Due: backend unit tests, backend system tests, backend format

Return nested readings from POST /api/patients
  server/api/resources/patients.py
  server/system_tests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

Return the created referral when POST /api/referrals associates a new facility
  server/api/resources/referrals.py
  server/system_tests/api/test_referrals.py
Due: backend unit tests, backend system tests, backend format

Protect pregnancy and medical record routes
  server/api/authorization.py
  server/api/resources/medical_records.py
  server/api/resources/pregnancies.py
  server/system_tests/api/test_medical_records.py
  server/system_tests/api/test_pregnancies.py
Due: backend unit tests, backend system tests, backend format

Simplified patient search label
  client/src/pages/patients/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Adjust buttons to fit screens 375px or smaller
  client/src/pages/patients/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove "garbage" icon
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Make empty-state hint follow canvas when screen resizes
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed the placement of search and filter buttons when prompt is shown on medium-sized phones. Also, made the font sizes consistent with the Patients page. '
  client/src/pages/referrals/components/ReferralsSearchBar.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
