Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Fix ci and add new policy for aws
  .gitlab-ci.yml
  aws/aws-cfn/gitlab-ci-iam.yml
Due: none

Added comment to indicate that languageOptions constant is a temporary placeholder to explore multi-language form template creation
  client/src/shared/constants.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add retain policy
  aws/aws-cfn/fluentbit-user-iam.yml
  aws/aws-cfn/gitlab-ci-iam.yml
Due: none

remove describe stack
  .gitlab-ci.yml
Due: none

update stack instead of deploy
  .gitlab-ci.yml
Due: none

Prevent failing when there is no changes
  .gitlab-ci.yml
Due: none

install zip into aws-cli image
  .gitlab-ci.yml
Due: none

use ubuntu latest image
  .gitlab-ci.yml
Due: none

sudo commands
  .gitlab-ci.yml
Due: none

change stage to build to change runners
  .gitlab-ci.yml
Due: none

remove docker tag
  .gitlab-ci.yml
Due: none

revert tags
  .gitlab-ci.yml
Due: none

install curl
  .gitlab-ci.yml
Due: none

remove extra steps
  .gitlab-ci.yml
Due: none

Fixed Patients being accessed w/o credentials
  client/src/shared/components/Route/index.tsx
  server/api/decorator.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Fixed Security for VHTs. Added foundation for Toast Message
  client/src/redux/actions/messageActions.ts
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/message/messageReducer.ts
  client/src/shared/api.ts
  server/api/decorator.py
  server/api/resources/patients.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Fixed prettier issues
  client/src/pages/patient/MedicalInfo.tsx
  client/src/redux/actions/messageActions.ts
  client/src/redux/reducers/message/messageReducer.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Ran Black for Python formatting
  aws-cfn/cpuAlarmLambda.py
  server/api/decorator.py
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Beginnings of react Route component
  client/src/shared/components/Route/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Implemented deorater in order to use within file
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Comments
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/redux/actions/messageActions.ts
  client/src/redux/reducers/healthFacilities/index.ts
  client/src/redux/reducers/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed Prettier Issues
  client/src/redux/reducers/message/messageReducer.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed Prettier Changes
  client/src/redux/actions/messageActions.ts
  client/src/redux/reducers/healthFacilities/index.ts
  client/src/redux/reducers/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update contributors in README.md
  README.md
Due: none

Fixed Prettier Changes
  client/src/redux/reducers/healthFacilities/index.ts
  client/src/redux/reducers/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fixed Issued Mentioned in MR
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PatientStats.tsx
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/message/messageReducer.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix Prettier
  client/src/pages/patient/MedicalInfo.tsx
  client/src/redux/reducers/message/messageReducer.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feature of autopopulate language options
  client/package.json
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/shared/constants.ts
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

create LanguageModal
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Disallow user to continue with new patient form with duplicate patient ID.
  client/src/pages/patientForm/personalInfo/validation.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

resolve conflict
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add Ability To Unarchive Form Template
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/shared/api.ts
  server/api/resources/formTemplates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

implement basic logic
  server/api/resources/users.py
  server/manage.py
  server/service/encryptor.py
  server/systemTests/api/test_sms_relay_errors.py
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

Display new form fields when creating new form template.
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/shared/enums.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
