Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

[#136] Update flask-jwt-extended to 4.3.0 and pyjwt to 2.4.0 to support update to flask version 2.*
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

[#136] Update flask-jwt-extended to 4.0.0 and make appropriate changes to code
  server/api/resources/assessments.py
  server/api/resources/facilities.py
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/api/resources/medicalRecords.py
  server/api/resources/patientAssociations.py
  server/api/resources/patients.py
  server/api/resources/patients_android.py
  server/api/resources/pregnancies.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
  server/api/resources/sync.py
  server/api/resources/users.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

[#136] Update Flask to 2.0.3 and other dependencies to their more stable patch versions of minor versions
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

update form button naming
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/patient/Cards.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

set up skeleton for view customized form
  client/src/app/routes/utils/index.tsx
  client/src/pages/customizedForm/customizedViewForm/index.tsx
  client/src/pages/patient/Cards.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

create new customizedViewForm
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedViewForm/customizedViewForm.tsx
  client/src/pages/customizedForm/customizedViewForm/index.tsx
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix sms_relay to new flask update
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Sms relay authorization check
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Uploading logs to grafana
  docker-compose.yml
  fluentbit/config/fluent-development.conf
  fluentbit/config/outputs/development/caddy-output.conf
  fluentbit/config/outputs/development/flask-output.conf
  fluentbit/config/outputs/development/mysql-output.conf
Due: none

remove local grafana output
  fluentbit/config/outputs/local/flask-output.conf
Due: none

revert compose file to master
  docker-compose.yml
Due: none

revert gunicorn
  server/prod/gunicorn.conf.py
Due: backend unit tests, backend system tests, backend format

flask access and error
  fluentbit/config/outputs/development/flask-output.conf
Due: none

import all caddy and flask
  fluentbit/config/outputs/development/caddy-output.conf
  fluentbit/config/outputs/development/flask-output.conf
Due: none

remove old unused structure
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedViewForm/customizedViewForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

view form page now goes to edit form page
  client/src/pages/customizedForm/customizedViewForm/customizedViewForm.tsx
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove ability to change form answers while in view mode
  client/src/pages/customizedForm/customizedViewForm/customizedViewForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix formatting
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix formatting
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedViewForm/customizedViewForm.tsx
  client/src/pages/customizedForm/customizedViewForm/index.tsx
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add sms relay put and get specifcations
  server/api/resources/sms_relay.py
  server/specifications/sms-relay-get.yaml
  server/specifications/sms-relay-put.yaml
Due: backend unit tests, backend system tests, backend format

Add SMS relay to routes and swagger information
  server/api/resources/sms_relay.py
  server/routes.py
  server/specifications/sms-relay-put.yaml
Due: backend unit tests, backend system tests, backend format

prometheus initial commit
  docker-compose.yml
  prometheus.yml
Due: none

Fluentbit push metrics to prometheus
  docker-compose.deploy.yml
  docker-compose.yml
  fluentbit/config/fluent-development.conf
  fluentbit/config/fluent-local.conf
  fluentbit/config/inputs/node-input.conf
  fluentbit/config/outputs/development/caddy-output.conf
  fluentbit/config/outputs/development/flask-output.conf
  fluentbit/config/outputs/development/mysql-output.conf
  fluentbit/config/outputs/development/node-output.conf
Due: none

Revert mysql conf file and remove prometheus.yml
  fluentbit/config/outputs/development/mysql-output.conf
  prometheus.yml
Due: none

revert label
  fluentbit/config/outputs/development/mysql-output.conf
Due: none

disable all input when viewing
  client/src/pages/customizedForm/customizedViewForm/customizedViewForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix fluentbit node exporter
  fluentbit/config/fluent-development.conf
Due: none

add labels for easier separation between services
  fluentbit/config/outputs/development/caddy-output.conf
  fluentbit/config/outputs/development/flask-output.conf
  fluentbit/config/outputs/development/mysql-output.conf
Due: none

update contribution
  README.md
Due: none

separate caddy access, runtime and remove flask access
  fluentbit/config/outputs/development/caddy-output.conf
  fluentbit/config/outputs/development/flask-output.conf
Due: none

validate SMS relay put request
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Change from put to post for sms_relay
  server/api/resources/sms_relay.py
  server/specifications/sms-relay-get.yaml
  server/specifications/sms-relay-post.yaml
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Sms relay multiple stages done
  server/api/resources/sms_relay.py
  server/api/resources/users.py
  server/specifications/sms-relay-post.yaml
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add redirect HTTP for SMS relay
  server/api/resources/patients.py
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Solved #151 Change grafana to use tail-input and docker-input
  fluentbit/config/inputs/caddy-input.conf
  fluentbit/config/inputs/flask-input.conf
  fluentbit/config/inputs/mysql-input.conf
  fluentbit/config/outputs/development/caddy-output.conf
  fluentbit/config/outputs/development/docker-output.conf
  fluentbit/config/outputs/development/flask-output.conf
Due: none

update dev conf
  fluentbit/config/fluent-development.conf
Due: none

update docker service name
  fluentbit/config/outputs/development/docker-output.conf
Due: none

Create SMS Relay Test for patients
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Format files for sms_relay for test
  server/api/resources/sms_relay.py
  server/routes.py
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Add create patient function to smsrelay
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
