Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Run formater for merge commit
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Allow Exporting Archived Form Templates to CSV
  client/src/pages/admin/manageFormTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/UnarchiveTemplateDialog.tsx
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix frontend integration tests using python3 venv
  .gitlab-ci.yml
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

Add venv to path for `flask` to run.
  .gitlab-ci.yml
Due: none

Use types FormTemplateWithQuestions and TQuestion.
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Change form template type enum
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Debug form templates.
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Format previous commit.
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Submit Form Dialog Implementation
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/SubmitFormTemplateDialog.tsx
  client/src/shared/api.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix key data type
  server/service/encryptor.py
Due: backend unit tests, backend system tests, backend format

fix test
  server/service/encryptor.py
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

fix system test
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

fix typo
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

Implement Saving Functionality
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Allow Deletion of Added Fields During Form Template Creation
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Allow Editing Fields Once Added During Form Creation
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: adding extra user identification check for unregister email, formatted by black
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

Minor Fix: Avoid Checking Question ID Twice
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

add env variable for emulator's phone number
  docker-compose.yml
  docs/development.md
  server/manage.py
Due: backend unit tests, backend system tests, backend format

format
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Create buttons to move a field up and down within a form.
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Run format
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor FormQuestions to remove EditField dependency.
  client/src/pages/customizedForm/FormQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Create visible condition element
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added: Regex check for SMS relay phone number.
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

added: Regex check for SMS relay phone number. Reformatted
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

fixed: solved the pipeline test failed and add a new unit test for invalid phone number format.
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

add env variable for ci pipleine
  .gitlab-ci.yml
Due: none

change phone number for admin account
  .gitlab-ci.yml
  docker-compose.yml
Due: none

Move components from tables to grids
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix minor issues causing errors in console
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add referral.id as foreign key for Reading
  server/models.py
Due: backend unit tests, backend system tests, backend format

Add refferal relationship to Readings
  server/models.py
Due: backend unit tests, backend system tests, backend format

Add db migration file
  server/migrations/versions/f64d52006db0_add_referral_as_foreign_key_to_reading.py
Due: backend unit tests, backend system tests, backend format

Manage Adding and Deleting Options
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix console key errors
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix Unique Keys Issue
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Disable Submit Form Template Button If Form Is Empty
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Handle Multi Choice Options During Edit
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fixed: solved the extra symbol could be recognized as a valid number. Right now it will only test the number and two symbol '+' and '-'
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
