Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

fix: simplify migration to simply set v1 form references to null
  server/migrations/versions/29_3d709b4c0aeb_migrate_v1_form_classification_template_.py
  server/migrations/versions/29_76866e61db26_migrate_v1_form_template_submission_references_to_V2.py
Due: backend unit tests, backend system tests, backend format

test: update marshal workflow template unit tests to use v2 form orms
  server/tests/serializers/test_marshal/test_marshal_workflow_classification.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template.py
  server/tests/serializers/test_marshal/test_marshal_workflow_template_step.py
Due: backend unit tests, backend system tests, backend format

blockly rule validation changes
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: marshalling removes answers if shallow
  server/data/orm_serializer/forms.py
Due: backend unit tests, backend system tests, backend format

test: update workflow instance unit tests to use v2 form submissions
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
Due: backend unit tests, backend system tests, backend format

fix: ruff formatting
  server/common/workflow_utils.py
  server/migrations/versions/29_76866e61db26_migrate_v1_form_template_submission_references_to_V2.py
  server/models/workflows.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
Due: backend unit tests, backend system tests, backend format

fix: remove unused imports
  server/common/workflow_utils.py
  server/migrations/versions/29_76866e61db26_migrate_v1_form_template_submission_references_to_V2.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance.py
  server/tests/serializers/test_marshal/test_marshal_workflow_instance_step.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow type coercion tests
  server/service/workflow/datasourcing/data_sourcing.py
  server/tests/service/workflow/test_rule_evaluator_type_coercion.py
  server/tests/service/workflow/test_variable_type_coercion.py
Due: backend unit tests, backend system tests, backend format

Revert "WIP: cleaned up workflow-admin"
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
  docker-compose.yml
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update index.tsx
  client/src/pages/admin/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update UploadTemplate.tsx
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

ran prettier
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: Test failure and ruff reformat
  server/service/workflow/datasourcing/variable_type_coercion.py
  server/service/workflow/evaluate/rule_evaluator.py
  server/tests/service/workflow/test_rule_evaluator_type_coercion.py
  server/tests/service/workflow/test_variable_type_coercion.py
Due: backend unit tests, backend system tests, backend format

blockly rule validation changes (#1058)
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/blocklyEditor/jsonLogicGenerator.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: system test migration failure
  server/migrations/versions/30_workflow_variable_catalogue_types.py
  server/service/workflow/datasourcing/variable_type_coercion.py
Due: backend unit tests, backend system tests, backend format

fix: DB patching and test failures
  server/migrations/versions/30_wf_var_catalogue_types.py
  server/service/workflow/datasourcing/variable_type_registry.py
  server/tests/service/workflow/test_variable_type_coercion.py
Due: backend unit tests, backend system tests, backend format

feat: remove unused CSV upload functionality and associated tests
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/testing/api/workflowTemplates.test.ts
  server/api/resources/workflow_templates.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: check invalid raw date values
  server/service/workflow/datasourcing/variable_type_coercion.py
Due: backend unit tests, backend system tests, backend format

feat: Group by namespace and single segment field
  server/service/workflow/datasourcing/data_sourcing.py
Due: backend unit tests, backend system tests, backend format

Remove Collection column
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

removed redundant descriptions in step information
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix workflow graph layout with BFS level calculation and enable node dragging
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  package-lock.json
  package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

ran prettier
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update package.json
  package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

removed unused variables
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Use forms v2 submissions in workflow form flows
  client/src/pages/customizedForm/handlers.ts
  client/src/shared/api/modules/forms.ts
  client/src/shared/hooks/patient/useWorkflowFormModal.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Workflow RuleEvaluator resolve object paths
  server/service/workflow/evaluate/rule_evaluator.py
Due: backend unit tests, backend system tests, backend format

Validate workflow step form references
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

feat: Workflow ruleEvaluator tests
  server/system_tests/service/workflow/test_rule_evaluator.py
  server/tests/service/workflow/test_datasourcing.py
Due: backend unit tests, backend system tests, backend format

add workflow variables API module and endpoint enum
  client/src/shared/api/index.ts
  client/src/shared/api/modules/workflowVariables.ts
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

convert blocks.ts to exported registerBlocks function
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

wire BlocklyEditor to registerBlocks with variables prop
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fetch workflow variables dynamicakly in BranchConditionEditor
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Use v1 forms for workflow step picker
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: Workflow variable resolve API
  server/api/resources/workflow_variables.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

fix: format and patient rule evaluator tests
  server/api/resources/workflow_variables.py
  server/tests/service/workflow/test_rule_evaluator_type_coercion.py
Due: backend unit tests, backend system tests, backend format

cleanup
  client/src/shared/components/workflow/blocklyEditor/BlocklyEditor.tsx
  client/src/shared/components/workflow/blocklyEditor/blocks.ts
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update database seeding to use v2 forms
  server/manage.py
  server/models/formsV2.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
