Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

feat: added access to the backend for form data
  server/service/workflow/datasourcing/data_catalogue.py
Due: backend unit tests, backend system tests, backend format

fix: format
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: added the step form data to blocky editor
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

only update patient fields that were actually sent
  server/api/resources/patients.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

refactor: extract step history components and action hooks
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/StepHistoryActions.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistoryItem.tsx
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
  client/src/shared/hooks/patient/useStepHistoryActions.ts
  client/src/shared/hooks/patient/useWorkflowInstanceActions.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  client/src/testing/pages/workflowInfo/progress.test.ts
  client/src/testing/pages/workflowInfo/stepTree.test.ts
  client/src/testing/pages/workflowInfo/workflowProgressText.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fixed bug that didn't allow for removing condtions once added
  client/src/shared/components/workflow/workflowTemplate/BranchDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: allows saves after empty blocky editor
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix patient info and pregnancy updates
  server/api/resources/pregnancies.py
Due: backend unit tests, backend system tests, backend format

refactor: extract instance details layout components
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowConfirmDialog.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowDescription.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowInstanceHeader.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowInstanceSnackbar.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowTemplateDetailsCollapse.tsx
  client/src/shared/hooks/patient/useStepHistoryActions.ts
  client/src/shared/hooks/patient/useWorkflowInstanceActions.ts
  client/src/shared/hooks/useSnackbar.ts
  client/src/shared/types/confirmDialogTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated the format
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/StepHistoryActions.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowConfirmDialog.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowInstanceSnackbar.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistoryItem.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowTemplateDetailsCollapse.tsx
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

added the stepHistory assertion
  client/src/testing/pages/workflowInstanceDetails.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: added test cases
  server/tests/service/workflow/test_forms_collection.py
Due: backend unit tests, backend system tests, backend format

Update encryptor.py
  server/service/encryptor.py
Due: backend unit tests, backend system tests, backend format

feat: updated seeding to enable new form data
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fixed failing tests
  server/api/decorator.py
  server/api/resources/patients_android.py
  server/data/db_operations/helper_utils.py
Due: backend unit tests, backend system tests, backend format

fixed formatting error, failed tests
  server/service/encryptor.py
Due: backend unit tests, backend system tests, backend format

tests: added support for multiple select testing
  server/service/workflow/datasourcing/data_catalogue.py
  server/tests/service/workflow/test_forms_collection.py
Due: backend unit tests, backend system tests, backend format

fix: fixed formatting
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  server/common/form_utils.py
  server/common/workflow_utils.py
  server/data/orm_serializer/__init__.py
  server/manage.py
  server/service/serialize.py
  server/service/workflow/datasourcing/data_catalogue.py
  server/system_tests/flow/conftest.py
  server/tests/service/workflow/test_forms_collection.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: format fix worfklowutils
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix: add decimal mapping
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

updated python typing to standard 3.9+ typing
  scripts/modernize_typing.sh
  server/modernize_typing.sh
Due: backend unit tests, backend system tests, backend format

fixed test formatting error
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/datasourcing/variable_type_registry.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

fixed test formatting error
  server/api/resources/workflow_classifications.py
  server/api/resources/workflow_collections.py
  server/data/db_operations/stats_queries.py
  server/data/db_operations/supervision.py
  server/service/FilterHelper.py
Due: backend unit tests, backend system tests, backend format

base change for getting steps on the fly
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/service/workflow/workflow_view.py
Due: backend unit tests, backend system tests, backend format

Create Workflow State on Fly: fixed test cases
  server/service/workflow/workflow_view.py
  server/tests/service/workflow/conftest.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_service.py
Due: backend unit tests, backend system tests, backend format

Create Workflow State on Fly: fixed some files still expecting instances
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/pages/patient/WorkflowInfo/utils/index.ts
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/hooks/patient/useWorkflowInstanceActions.ts
  client/src/shared/hooks/patient/useWorkflowStepActions.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract shared per-type form question field components.
  client/src/shared/components/Form/questions/CategoryField.tsx
  client/src/shared/components/Form/questions/DateField.tsx
  client/src/shared/components/Form/questions/DateTimeField.tsx
  client/src/shared/components/Form/questions/IntegerField.tsx
  client/src/shared/components/Form/questions/MultipleChoiceField.tsx
  client/src/shared/components/Form/questions/MultipleSelectField.tsx
  client/src/shared/components/Form/questions/StringField.tsx
  client/src/shared/components/Form/questions/formQuestionUtils.ts
  client/src/shared/components/Form/questions/questionFieldRegistry.tsx
  client/src/shared/components/Form/questions/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor FormQuestions to use the question field registry
  client/src/pages/customizedForm/components/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract EditField per-type editors and field type registry
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/CategoryFieldEditor.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/DateFieldEditor.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/EditFieldFormBody.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/IntegerFieldEditor.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/MultipleChoiceFieldEditor.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/MultipleSelectFieldEditor.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/StringFieldEditor.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/applyFieldSave.ts
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/types.ts
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldTypeRegistry.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor EditField to use field editor registry and slim dialog shell
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiChoiceField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiSelectField.tsx
  client/src/shared/hooks/forms/useEditField.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix format
  client/src/pages/admin/manageFormTemplates/editFormTemplate/fieldEditors/StringFieldEditor.tsx
  client/src/shared/components/Form/questions/CategoryField.tsx
  client/src/shared/components/Form/questions/MultipleSelectField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Extract workflow flow layout and graph builders from WorkflowFlow
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/flowGraph.ts
  client/src/shared/components/workflow/workflowTemplate/flowLayout.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: decimal enum for failing build
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: made template name required
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowMetadata.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: workfloutils format
  server/common/form_utils.py
  server/common/workflow_utils.py
  server/data/orm_serializer/__init__.py
  server/service/serialize.py
  server/system_tests/flow/conftest.py
Due: backend unit tests, backend system tests, backend format

fix: removed redundant column and added a new one in patient summary
  client/src/pages/newWorkflowInstance/index.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/utils/instanceMappers.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
