Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

refactor: rename data to user
  client/src/redux/reducers/user/currentUser/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename data to loginData
  client/src/redux/reducers/user/currentUser/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: delete empty file
  client/src/pages/login/LoginButton.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: rewrite forbidding extra attributes for consistency
  server/validation/referrals.py
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

fix: change user back to data
  client/src/redux/reducers/user/currentUser/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: wrap app in AuthProvider
  client/src/context/providers/TopLevelContextProviders.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add logout button to LoginCallbackPage
  client/src/pages/login/LoginCallbackPage.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: enable Login and Signup buttons
  client/src/pages/login/Login.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

test: adding more and improving unit tests to stats validation
  server/tests/validation/test_stats.py
Due: backend unit tests, backend system tests, backend format

refactor: use memoized selector
  client/src/app/topBar/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use memoized selector
  client/src/pages/referrals/AutoRefresher.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use memoized selector
  client/src/pages/referrals/FilterDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add colorSchemes to Mui theme
  client/src/context/providers/materialUI/theme/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: conditionally render logout button
  client/src/pages/login/LoginCallbackPage.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: fix PT019 pytest-fixture-param-without value
  server/ruff.toml
  server/tests/validation/test_validate.py
Due: backend unit tests, backend system tests, backend format

chore: fix C408 unnecessary dict literal
  server/api/util.py
  server/ruff.toml
  server/service/statsCalculation.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

chore: fix PLW2901 fix loop variable reassignment
  server/api/util.py
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

chore: fix C417 unnecessary map usage
  server/api/util.py
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

chore: fix TRY004 prefer TypeError
  server/ruff.toml
  server/validation/ReferralValidator.py
Due: backend unit tests, backend system tests, backend format

chore: fix EM103 dot-format-in-exception
  server/api/util.py
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

chore: fix DTZ012 use datetime.fromtimestamp
  server/ruff.toml
  server/service/statsCalculation.py
Due: backend unit tests, backend system tests, backend format

chore: fix DTZ006 use tz parameter
  server/ruff.toml
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

chore: fix PLC0414 useless import alias
  server/api/resources/version.py
  server/api/util.py
  server/ruff.toml
  server/systemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

chore: fix B020 do not override iterable variable in for loop
  server/api/util.py
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

chore: fix PTH120 replace os.path.dirname with Path.parent
  server/app.py
  server/config.py
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

chore: fix ANN102
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

chore: fix ANN206 class method should have return type annotation
  server/enums.py
  server/ruff.toml
  server/validation/assessments.py
Due: backend unit tests, backend system tests, backend format

chore: fix B904 re-raised exceptions should not swallow cause exceptions
  server/api/util.py
  server/ruff.toml
  server/tests/validation/test_facilities.py
  server/validation/assessments.py
  server/validation/facilities.py
  server/validation/readings.py
Due: backend unit tests, backend system tests, backend format

chore: fix failing test
  server/api/util.py
  server/service/statsCalculation.py
  server/tests/validation/test_validate.py
  server/validation/assessments.py
Due: backend unit tests, backend system tests, backend format

Fix import errors seen in CI
  server/app.py
Due: backend unit tests, backend system tests, backend format

chore: fix D404 replace use of this in docstring
  server/manage.py
  server/models.py
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

chore: ruff format all files
  server/api/util.py
  server/service/statsCalculation.py
  server/validation/assessments.py
Due: backend unit tests, backend system tests, backend format

chore: fix PTH123 replace open with Path.open()
  server/manage.py
  server/ruff.toml
Due: backend unit tests, backend system tests, backend format

Fix import errors seen in CI
  server/validation/associations.py
  server/validation/formClassifications.py
  server/validation/formTemplates.py
  server/validation/forms.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

Import with -m module option to resolve import error
  .github/workflows/main-cicd.yml
Due: none

fix: change IUserWithIndex to IUser
  client/src/shared/hooks/secretKey/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add phoneNumbers array to IUser
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: set phoneNumber attribute of IUsers
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add index to users
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: add phoneNumbers field
  client/src/pages/admin/manageUsers/state.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
