Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

572: fix formatting
  server/tests/validation/test_smsRelay.py
Due: backend unit tests, backend system tests, backend format

572: fix validation function and unit tests
  server/tests/validation/test_smsRelay.py
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

572: remove print statment and uneccessary imports
  server/systemTests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

572: revert status code change
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

573: format files and revert changes
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

573: fix formatting
  server/tests/validation/test_smsRelay.py
Due: backend unit tests, backend system tests, backend format

573: remove dependency on util module
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

573: remove parametrization
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

573: add back parametrization
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

578: Fix system tests
  server/api/resources/sms_relay.py
  server/systemTests/api/test_sms_relay.py
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

553: Add missing apidoc spec files
  server/specifications/relay-server-phone-number-delete.yml
  server/specifications/relay-server-phone-number-put.yml
Due: backend unit tests, backend system tests, backend format

553: Fix incorrect path for apidocs spec file
  server/api/resources/relayServerPhoneNumbers.py
Due: backend unit tests, backend system tests, backend format

553: Add test to check apidocs remain accessible
  server/systemTests/test_apidocs.py
Due: backend unit tests, backend system tests, backend format

fix(deps): update dependencies
  client/package-lock.json
  client/package.json
  package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(deps): remove unnecessary version spec in Docker Compose
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
Due: none

docs(deps): include troubleshooting on vulnerabilities when installing npm deps
  docs/development.md
Due: none

fix(deps): explicitly specify babel plugin that was deprecated with CRA
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

revert(deps): downgrade @dropzone-ui/react back to 6.7.5
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(ci): specify that we are using ES6 modules
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix(ci): specify jest to import axios cjs build
  client/package.json
  package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Formatting
  server/systemTests/test_apidocs.py
Due: backend unit tests, backend system tests, backend format

553: Add missing specs
  server/specifications/relay-server-phone-number-delete.yml
  server/specifications/relay-server-phone-number-put.yml
Due: backend unit tests, backend system tests, backend format

docs: add troubleshooting section and improve mobile setup docs
  docs/development.md
  docs/mobile_setup.md
Due: none

553: Use Fix incorrect specs
  server/specifications/relay-server-phone-number-delete.yml
  server/specifications/relay-server-phone-number-put.yml
Due: backend unit tests, backend system tests, backend format

branch init
  client/package-lock.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

reset package-lock.json
  package-lock.json
Due: none

docs: add edge case for troubleshooting
  docs/development.md
Due: none

588: Remove seemingly unused backend dependencies and update some
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

588: Update `black` and push corresponding formatting changes
  aws/aws-lambda/cpuAlarmLambda.py
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/medicalRecords.py
  server/api/resources/patients.py
  server/api/resources/stats.py
  server/api/resources/version.py
  server/app.py
  server/requirements.txt
  server/service/assoc.py
  server/service/compressor.py
  server/service/serialize.py
  server/systemTests/api/test_form_templates.py
  server/systemTests/flow/conftest.py
  server/utils.py
Due: backend unit tests, backend system tests, backend format

set file_template in alembic.ini
  server/migrations/alembic.ini
Due: backend unit tests, backend system tests, backend format

replace black with ruff
  .github/workflows/main-cicd.yml
  .gitlab-ci.yml
  server/.lintstagedrc.json
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

remove imported but unused in test_referrals
  server/tests/validation/test_referrals.py
Due: backend unit tests, backend system tests, backend format

ruff fixed Cradle-Platform/server/tests
  server/tests/validation/test_formTemplates.py
  server/tests/validation/test_validate.py
Due: backend unit tests, backend system tests, backend format

ruff fixed Cradle-Platform/server/api and Cradle-Platform/server/data
  .github/workflows/main-cicd.yml
  .gitlab-ci.yml
  server/api/decorator.py
  server/api/resources/assessments.py
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/patients.py
  server/api/resources/patients_android.py
  server/api/resources/referrals.py
  server/api/resources/sms_relay.py
  server/api/resources/stats.py
  server/api/resources/sync.py
  server/api/resources/users.py
  server/api/util.py
  server/data/crud.py
  server/data/marshal.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

ruff fixed Cradle-Platform/server/service
  server/service/assoc.py
  server/service/encryptor.py
  server/service/questionTree.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

ruff fixed Cradle-Platform/server/systemTests
  server/systemTests/api/test_form_classifications.py
  server/systemTests/api/test_forms.py
  server/systemTests/api/test_patients.py
  server/systemTests/api/test_sms_relay.py
  server/systemTests/mock/factory.py
  server/systemTests/test_search.py
  server/systemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

ruff fixed Cradle-Platform/server/validation
  server/validation/ReferralValidator.py
  server/validation/assessments.py
  server/validation/patients.py
  server/validation/questions.py
  server/validation/referrals.py
  server/validation/validate.py
Due: backend unit tests, backend system tests, backend format

revert .lintstagedrc.json
  server/.lintstagedrc.json
Due: backend unit tests, backend system tests, backend format
