Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

fix(form template resource): fix indentation error in upload_form_template_file()
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

fix(form template resource): add underscore to references to handle_form_template_upload()
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

styles(patient page): tweak styles before opening PR
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

style: fix whitespace issue
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

Update README.md
  README.md
Due: none

docs: remove redundant comments
  server/api/resources/patients_android.py
Due: backend unit tests, backend system tests, backend format

Cleanup: cleanup code as part of review process
  server/api/resources/sms_relay.py
  server/api/resources/stats.py
  server/api/resources/sync.py
  server/api/resources/upload.py
  server/api/resources/users.py
  server/common/form_utils.py
  server/config.py
Due: backend unit tests, backend system tests, backend format

refactor: rename variables as per review comments
  client/src/pages/patient/index.tsx
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/shared/hooks/toastAfterNav/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(theme): set default elevation for MUI Paper components to 5
  client/src/context/providers/materialUI/theme/index.ts
  client/src/pages/patient/ElevatedPaper.tsx
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove unused import
  server/api/resources/stats.py
Due: backend unit tests, backend system tests, backend format

refactor(toast after nav): rename variables and add typing to hook
  client/src/pages/patient/index.tsx
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/shared/hooks/toastAfterNav/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: bundle useToastAfterNav hook with Toast component for easier reuse
  client/src/pages/patient/index.tsx
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/shared/components/toast/index.tsx
  client/src/shared/components/toastAfterNav/index.tsx
  client/src/shared/hooks/toastAfterNav/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: run server directory through formatter
  server/api/resources/sms_relay.py
  server/common/form_utils.py
  server/systemTests/conftest.py
  server/tests/service/test_compressor.py
Due: backend unit tests, backend system tests, backend format

refactor: delete unused form_utils.py
  server/common/form_utils.py
Due: backend unit tests, backend system tests, backend format

refactor: delete unused api util functions
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

fix: remove extra quotations
  server/validation/formTemplates.py
Due: backend unit tests, backend system tests, backend format

build: add additional volumes to caddy docker compose config
  docker-compose.deploy.yml
Due: none

build: bump caddy version to 2.8.0
  caddy/Dockerfile
Due: none

build: add email to Caddyfile
  caddy/Caddyfile
Due: none

build: enable debug mode for Caddy
  .github/workflows/main-cicd.yml
  caddy/Caddyfile
  docker-compose.deploy.yml
Due: none

build: add environment variable for acme_ca
  .github/workflows/main-cicd.yml
  caddy/Caddyfile
  docker-compose.deploy.yml
Due: none

fix: add expand to autosizeOptions
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

docs: modify comments
  client/src/shared/api/validation/user.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove phoneNumber
  client/src/shared/api/validation/user.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: validate users array
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: replace phoneNumber with phoneNumbers
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add multi phone number support to form
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/state.ts
  client/src/shared/components/Form/UserForm/UserPhoneNumbersFieldArray.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add components for shared user form fields
  client/src/pages/admin/manageUsers/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/UserForms/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/UserFormFields.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove log statement
  client/src/shared/components/Form/UserForm/UserPhoneNumbersFieldArray.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: move UserPhoneNUmbersFieldArray.tsx
  client/src/pages/admin/manageUsers/UserForms/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/UserPhoneNumbersFieldArray.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove mapping of phoneNumber
  client/src/redux/reducers/user/currentUser/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Implement changes to properly handle error responses on outer API requests
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

feat(patients page): display toast upon successful referral creation
  client/src/pages/patient/index.tsx
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/shared/hooks/toast/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

styling: raise elevation on paper components and extract a common component for it
  client/src/pages/patient/ElevatedPaper.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(new referral form): styling changes and code reorganizing
  client/src/pages/referralForm/ReferralForm.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
