Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

refactor: add getRowClassName
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: memoize selector
  client/src/app/topBar/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: add color schemes to theme
  client/src/context/providers/materialUI/theme/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: reduce breakpoint
  client/src/app/sidebar/SidebarWrapper.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add AdminDashboardHeader
  client/src/pages/admin/AdminDashboardHeader.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add footer
  client/src/pages/historyTables/PregnancyHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: move AdminDashboardHeader to shared/
  client/src/shared/components/DataTable/AdminDashboardHeader.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: wrap tabs in DashboardPaper
  client/src/pages/historyTables/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rename AdminDashboardHeader to DataTableHeader
  client/src/shared/components/DataTable/DataTableHeader.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add DataTableHeader to PregnancyHistory
  client/src/pages/historyTables/PregnancyHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: add DataTableHeader to MedicalHistory
  client/src/pages/historyTables/MedicalHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: remove loading
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: set min height on DataTable
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: rework DataTable borders
  client/src/shared/components/DataTable/DataTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: use DataTabe for admin tables
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete unused imports
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete AdminTable
  client/src/pages/admin/AdminTable.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete unused imports
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/historyTables/MedicalHistory.tsx
  client/src/pages/historyTables/PregnancyHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete unused imports
  client/src/app/sidebar/index.tsx
  client/src/app/topBar/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete unused imports
  client/src/pages/admin/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: use snake case
  server/manage.py
Due: backend unit tests, backend system tests, backend format

refactor: give facilities unique phone numbers
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: correct column names
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

refactor: rename phone and number to phone_number
  server/models.py
Due: backend unit tests, backend system tests, backend format

build: install phonenumbers
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

feat: add phone number utils
  server/utils/phone_numbers.py
Due: backend unit tests, backend system tests, backend format

fix: fix column names
  server/models.py
Due: backend unit tests, backend system tests, backend format

build: add version to phonenumbers
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

build: uninstall Flask-Bcrypt
  server/api/resources/users.py
  server/config.py
  server/data/__init__.py
  server/requirements.txt
  server/systemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

build: add naming convention for constraints
  server/config.py
Due: backend unit tests, backend system tests, backend format

feat: add seed_users.py
  server/seed_user_pool.py
  server/seed_users.py
Due: backend unit tests, backend system tests, backend format

refactor: move phone_numbers.py to shared/
  server/shared/phone_numbers.py
  server/utils/phone_numbers.py
Due: backend unit tests, backend system tests, backend format

refactor: use array access operator
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

feat: add helper functions
  server/manage.py
Due: backend unit tests, backend system tests, backend format

feat: add health_facility_utils.py
  server/shared/health_facility_utils.py
Due: backend unit tests, backend system tests, backend format

feat: add user_utils.py
  server/data/users/user_utils.py
Due: backend unit tests, backend system tests, backend format

feat: add shared/
  server/shared/__init__.py
Due: backend unit tests, backend system tests, backend format

feat: modify default emulator phone number
  docker-compose.yml
Due: none

build: install libphonenumber-js
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: move user_utils.py to shared/
  server/seed_users.py
  server/shared/user_utils.py
Due: backend unit tests, backend system tests, backend format
