Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

small changes
  server/service/datasourcing/data_catalouge.py
  server/service/datasourcing/data_sourcing.py
Due: backend unit tests, backend system tests, backend format

Implement factory method for creating test app
  server/config.py
  server/system_tests/conftest.py
Due: backend unit tests, backend system tests, backend format

Remove type declaration of request body from PATCH request in workflow_templates.py
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Fix issue where db.session was not properly set before models.py ran
  server/models.py
Due: backend unit tests, backend system tests, backend format

mod the workfow tempalate backend api endpoint , fix the search feature ,update archived feature, upload feature in workflow template admin section table
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.test.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.test.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
  client/src/pages/admin/sharedComponent/UploadTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  sample_workflow_template.json
  server/api/resources/workflow_templates.py
  server/data/crud.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

mod be workflow template testing file
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

update the backend workflow testing file
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

fix the be workflow testing file
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Fix issue where SQLAlchemy autoflushes in POST request for workflow templates
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Fix issues with PATCH request, create a Pydantic Model for PATCH requests (workflow templates), add Admin requirement to PUT and PATCH requests, implement tests for PATCH request
  server/api/resources/workflow_templates.py
  server/common/api_utils.py
  server/system_tests/api/test_workflow_templates.py
  server/system_tests/conftest.py
  server/validation/__init__.py
  server/validation/workflow_instance_steps.py
  server/validation/workflow_instances.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

view workflow page now shows steps
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateSteps.tsx
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
  server/data/marshal.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

small changes on cleaning up the rule engine, forgot to push before heading out
  server/service/workflow/rules_engine.py
Due: backend unit tests, backend system tests, backend format

refactor the workflow_templates
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

add unit tests for datasourcing, clean up files
  server/service/datasourcing/__init__.py
  server/service/datasourcing/data_catalouge.py
  server/service/datasourcing/data_sourcing.py
  server/tests/service/test_datasourcing.py
Due: backend unit tests, backend system tests, backend format

ruff formatting
  server/service/datasourcing/data_catalouge.py
  server/service/datasourcing/data_sourcing.py
Due: backend unit tests, backend system tests, backend format

refactor: database migration & requested changes
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/migrations/versions/14_ba9e8dbc95de_add_start_date_column_to_workflow_.py
  server/models.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

refactor: ruff check
  server/migrations/versions/14_ba9e8dbc95de_add_start_date_column_to_workflow_.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

refactor: added function
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

refactor: added function
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
Due: backend unit tests, backend system tests, backend format

refactor: ruff check
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

collapsible, ordered steps when viewing workflow template
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateStep.tsx
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateSteps.tsx
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateStepsTable.tsx
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
  client/src/shared/types/workflow/workflowTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix patch request test, remove duplicate code
  server/api/resources/workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

fixed linter issues
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateSteps.tsx
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
  client/src/shared/types/workflow/workflowTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

reverted change to workflowTypes.ts
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
  client/src/shared/types/workflow/workflowTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

revert change to workflowTemplates.ts to pass test
  client/src/shared/api/modules/workflowTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

reformat
  client/src/shared/api/modules/workflowTemplates.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

removed unused import
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

make changes from PR, update tests for ruff linting
  server/service/datasourcing/data_catalogue.py
  server/service/datasourcing/data_sourcing.py
  server/tests/service/test_datasourcing.py
Due: backend unit tests, backend system tests, backend format

changed BFS into DFS
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateSteps.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add code that always imports the latest instance of the db in data/__init__.py
  server/api/resources/form_classifications.py
  server/data/__init__.py
Due: backend unit tests, backend system tests, backend format

Change 'title' attribute to 'description', remove 'last_edited_by' fields in workflow template components, make 'form_id' nullable in template steps
  server/migrations/versions/14_bf923c5cb3c3_change_title_attribute_to_description_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Refactor Pydantic models and associated tests for workflow template components to reflect DB changes to those models
  server/tests/validation/test_workflow_template_steps.py
  server/tests/validation/test_workflow_templates.py
  server/validation/workflow_template_steps.py
  server/validation/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

Refactor API endpoints and associated tests for workflow template components to reflect DB changes to those models
  server/api/resources/workflow_template_steps.py
  server/api/resources/workflow_templates.py
  server/common/api_utils.py
  server/migrations/versions/14_bf923c5cb3c3_change_title_attribute_to_description_.py
  server/models.py
  server/system_tests/api/test_workflow_template_steps.py
  server/system_tests/api/test_workflow_templates.py
Due: backend unit tests, backend system tests, backend format

modify the workflow template ui
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateSteps.tsx
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove the last_edit_by field
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewWorkflowTemplate.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor API tests for workflow template steps
  server/system_tests/api/test_workflow_template_steps.py
Due: backend unit tests, backend system tests, backend format

refactor: removed unnecessary fields
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

fix the format issue
  client/src/pages/admin/manageWorkflowTemplates/viewWorkflowTemplate/ViewTemplateSteps.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

rename table.column datastring to object.attribute scheme
  server/service/datasourcing/data_catalogue.py
  server/service/datasourcing/data_sourcing.py
  server/tests/service/test_datasourcing.py
Due: backend unit tests, backend system tests, backend format

naming
  server/tests/service/test_datasourcing.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
