Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix db migration after restart deploy and stage
  server/migrations/versions/1029b5bb3354_decouple_referrals_from_readings.py
  server/migrations/versions/15ba72e0ecaa_referral_add_back_assess_cancel_not_.py
  server/migrations/versions/2c7e8d1996af_template_change_name_type_make_index_.py
Due: backend unit tests, backend system tests, backend format

fix test_form
  server/systemTests/api/test_forms.py
Due: backend unit tests, backend system tests, backend format

fix read referrals query return case
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

fix question tree one typo
  server/models.py
  server/service/questionTree.py
Due: backend unit tests, backend system tests, backend format

template reveal 404 error info to user
  client/src/pages/admin/manageForms/createTemplate.tsx
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

Update development.md. Adding the solution to the case that Docker can not run properly when setting the environment.
  docs/development.md
Due: none

Added ability to filter referrals using village id
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Updated the placeholder to include village for search.
  client/src/pages/referrals/index.tsx
Due: frontend build, frontend lint, frontend format

Updated to follow the happy path without branching
  client/src/pages/assessmentForm/validation.ts
Due: frontend build, frontend lint, frontend format

Replaced depricated CreateMuiTheme function references with CreateTheme
  client/src/context/materialUI/theme/index.ts
  client/src/pages/admin/AdminTable.tsx
Due: frontend build, frontend lint, frontend format

Fixed eslint format for AdminTable.
  client/src/pages/admin/AdminTable.tsx
Due: frontend build, frontend lint, frontend format

Added File template file drag and drop functionality
  client/package-lock.json
  client/package.json
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageForms/SampleTemplateLink.tsx
  client/src/pages/admin/manageForms/createTemplate.tsx
Due: frontend build, frontend lint, frontend format

Added Sample template link back to the dialog
  client/src/pages/admin/manageForms/SampleTemplateLink.tsx
  client/src/pages/admin/manageForms/createTemplate.tsx
Due: frontend build, frontend lint, frontend format

Updated form template table to use human friendly dates
  client/src/pages/admin/manageForms/ManageForms.tsx
Due: frontend build, frontend lint, frontend format

Fixed success toast being removed too early
  client/src/pages/admin/manageForms/createTemplate.tsx
Due: frontend build, frontend lint, frontend format

Added auto hide functionality to toast messages.
  client/src/shared/components/toast/index.tsx
Due: frontend build, frontend lint, frontend format

Delete existing template when new template with same name is uploaded
  client/package-lock.json
  server/api/resources/formTemplates.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Updated to use the existing snackbar autoHide functionality
  client/src/shared/components/toast/index.tsx
Due: frontend build, frontend lint, frontend format

Fixed merge errors
  client/src/shared/components/toast/index.tsx
Due: frontend build, frontend lint, frontend format

Added Delete Template Dialog
  client/src/pages/admin/manageForms/DeleteTemplateDialog.tsx
  client/src/pages/admin/manageForms/ManageForms.tsx
  client/src/pages/admin/manageForms/state.ts
Due: frontend build, frontend lint, frontend format

Removed break tags
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend lint, frontend format

Fixed Justify arrtibute warning
  client/src/pages/patient/Header.tsx
Due: frontend build, frontend lint, frontend format

Updated Delete Form Message
  client/src/pages/admin/manageForms/DeleteTemplateDialog.tsx
Due: frontend build, frontend lint, frontend format

Fixed Warnings on Pregnancy info page
  client/src/pages/patient/PregnancyInfo.tsx
Due: frontend build, frontend lint, frontend format

Refactored Patient Page Reduced duplication Updated function with descriptive names. Improved readability Fixed console errors
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

fixed the issue
  client/package-lock.json
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patientForm/pregnancyInfo/validation.ts
  client/src/shared/api.ts
  docker-compose.override.yml
Due: frontend build, frontend lint, frontend format

Allow template upload with same name if version string is different
  server/api/resources/formTemplates.py
  server/migrations/versions/5bd241bc95c4_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Apply project formatting to changed files
  server/api/resources/formTemplates.py
  server/migrations/versions/5bd241bc95c4_.py
Due: backend unit tests, backend system tests, backend format

Removed unused types and comments
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

changing zone to zone id and village to village id
  client/src/pages/patientForm/personalInfo/index.tsx
Due: frontend build, frontend lint, frontend format

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Updated the frontend lint pipeline to use npm install
  .gitlab-ci.yml
Due: none

Reverted pipelines to use npm ci and created package-lock file with npm v6
  .gitlab-ci.yml
  client/package-lock.json
Due: frontend build, frontend lint, frontend format

Reverted to the package.json file from master
  client/package-lock.json
Due: frontend build, frontend lint, frontend format

fixed the merge request issues
  client/package-lock.json
Due: frontend build, frontend lint, frontend format

fixed merge request issues
  client/src/pages/patientForm/personalInfo/index.tsx
  client/src/shared/api.ts
  docker-compose.override.yml
Due: frontend build, frontend lint, frontend format

reverted package-json to lock file v1
  client/package-lock.json
Due: frontend build, frontend lint, frontend format

formated files
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patientForm/personalInfo/index.tsx
  client/src/pages/patientForm/pregnancyInfo/validation.ts
Due: frontend build, frontend lint, frontend format

fixed the issue on front end
  client/src/pages/patientForm/medicalInfo/validation.tsx
Due: frontend build, frontend lint, frontend format

fixed buttons on patients and patient summary page
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
Due: frontend build, frontend lint, frontend format
