Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Refactored tests files to use/reuse helpers
  server/system_tests/orm_serializer/test_make_medical_record_from_patient.py
  server/system_tests/orm_serializer/test_make_pregnancy_from_patient.py
  server/system_tests/orm_serializer/test_marshal_patient_pregnancy_summary.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_patient.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_question.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_question_lang_version.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_reading.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_relay_server_phone.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_instance.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_instance_step.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template_step.py
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

Add test for patching instance step
  server/api/resources/workflow_instances.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

removed orm helpers
  server/tests/helpers.py
Due: backend unit tests, backend system tests, backend format

ruff fix
  server/tests/orm_helpers.py
Due: backend unit tests, backend system tests, backend format

Refactored files to use the orm_helpers.py
  server/tests/serializers/marshal_question_to_single_version.py
  server/tests/serializers/test_marshal_patient_medical_history.py
  server/tests/serializers/test_marshal_template_to_single_version.py
  server/tests/serializers/test_marshal_with_type.py
  server/tests/serializers/test_model_to_dict.py
  server/tests/serializers/test_models_to_list.py
Due: backend unit tests, backend system tests, backend format

Add test for archive_form API endpoint
  server/service/workflow/workflow_service.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
Due: backend unit tests, backend system tests, backend format

Fixed bug with invalid condition input
  server/system_tests/orm_serializer/test_unmarshal/test_unmarshal_workflow_template_step_branch.py
Due: backend unit tests, backend system tests, backend format

Implement UI and logic for workflow template creation functionality.
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Changed the endpoint using for creation and modified the interface structure to match the endpoint required
  client/src/pages/admin/manageWorkflowTemplates/CreateWorkflowTemplate.tsx
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: form template name editing and lang validation
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/handlers.ts
  client/src/shared/hooks/forms/useCustomizedFormWQuestions.ts
  client/src/shared/hooks/forms/useEditField.ts
  client/src/shared/types/form/formTemplateTypes.ts
  client/src/shared/utils.ts
  server/common/form_utils.py
  server/system_tests/api/test_form_classifications_v2.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: ts errors
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditVisibleCondition.tsx
  client/src/shared/types/form/formTemplateTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove unwanted test file
  server/system_tests/api/test_form_classifications_v2.py
Due: backend unit tests, backend system tests, backend format

docs: add todo comments and fix ts errors
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/hooks/forms/useFormQuestions.ts
  client/src/shared/types/form/formTemplateTypes.ts
  client/src/shared/types/form/formTypes.ts
  client/src/testing/api/formTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Create constants for default step name and description
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove data source extraction and make the field optional in condition
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: address bug where form data was stale on first view
  client/src/shared/hooks/patient/useWorkflowFormModal.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: address bug preventing step completion due to form id mismatch
  server/data/orm_serializer/workflows.py
Due: backend unit tests, backend system tests, backend format

Refactor workflow instance APIs (#970)
  server/api/resources/workflow_instance_steps.py
  server/api/resources/workflow_instances.py
  server/data/orm_serializer/workflows.py
  server/service/workflow/workflow_service.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_workflow_instance_steps.py
  server/system_tests/api/test_workflow_instances.py
  server/validation/workflow_api_models.py
Due: backend unit tests, backend system tests, backend format

Fix the issue where the form selection in the workflow editor does not persist after saving.
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageWorkflowTemplates/ManageWorkflowTemplates.tsx
  client/src/pages/admin/manageWorkflowTemplates/mutations.ts
  client/src/shared/api/modules/workflowTemplates.ts
  client/tsconfig.json
  server/data/orm_serializer/workflows.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Fix workflowTemplates tests by adding missing archived property and correcting endpoint URL
  client/src/testing/api/workflowTemplates.test.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: ts errors
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/hooks/forms/useCustomizedFormWQuestions.ts
  client/src/shared/hooks/forms/useEditField.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflow): implement changes for improved step rule evaluation UI
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Revert "feat(workflow): implement changes for improved step rule evaluation UI"
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: code cleanup
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

tests: add form classification tests
  server/system_tests/api/test_form_classifications_v2.py
Due: backend unit tests, backend system tests, backend format

tests: add form template tests
  server/system_tests/api/test_form_classifications_v2.py
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

Fix the error caused by crud.read() when multiple unarchived templates share the same classification_id.
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

tests: add form submission tests
  server/system_tests/api/conftest.py
  server/system_tests/api/test_form_submissions_v2.py
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

Fix the error failing backend system test
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

backend format
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

fix: update false evaluation color
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

tests: refactor and add more submission tests
  server/common/commonUtil.py
  server/common/form_utils.py
  server/config.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_form_submissions_v2.py
  server/system_tests/api/test_form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

chore: undo changes to config
  server/config.py
Due: backend unit tests, backend system tests, backend format

fix(workflow): fix formatting for workflow instance last edited date
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: clean up function
  server/system_tests/api/test_form_submissions_v2.py
Due: backend unit tests, backend system tests, backend format

docs: add todo comment
  server/system_tests/api/test_form_submissions_v2.py
Due: backend unit tests, backend system tests, backend format

fix: ts errors
  client/src/pages/customizedForm/components/CustomizedForm.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/shared/api/modules/forms.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
