Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix the bugs introduced by model changing
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/shared/enums.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

get a list of template(Connect to Endpoint)
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/index.tsx
  client/src/shared/enums.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

get a list of lang versions (Connect to Endpoint)
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/state.ts
Due: frontend build, frontend lint, frontend format

get a list of form templates schema okay(Connect to Endpoint)
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/state.ts
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend lint, frontend format

get a list of langs ok (Connect to Endpoint)
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
Due: frontend build, frontend lint, frontend format

get a form based on lang and tid ok (Connect to Endpoint)
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

Create a New Form Screen Display Correctly
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
Due: frontend build, frontend lint, frontend format

Create a New Form Screen VisibleIfCondition okay
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend lint, frontend format

prepare model for post
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

question model replace categoryid with categoryIndex
  server/migrations/versions/ec7658947424_question_change_categoryid_to_.py
  server/models.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

change form template id to be filled by server side and refactor, providing new validate
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/api/util.py
  server/data/crud.py
  server/data/marshal.py
  server/migrations/versions/ec7658947424_question_change_categoryid_to_.py
  server/service/questionTree.py
  server/systemTests/api/test_form_templates.py
  server/systemTests/api/test_forms.py
  server/validation/formTemplates.py
  server/validation/forms.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

change form , template spec
  server/specifications/blank-form-template-get.yml
  server/specifications/form-templates-post.yml
  server/specifications/forms-post.yml
  server/specifications/patient-forms-get.yml
  server/specifications/single-form-get.yml
  server/specifications/single-form-put.yml
  server/specifications/single-form-template-get.yml
  server/specifications/single-form-template-put.yml
Due: backend unit tests, backend system tests, backend format

check the Fetch-A-Form_Card endpoint and fill into the UI in patient page
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

fix the data-collect of form edit/create screen
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend lint, frontend format

1.setQuestions -> (changed to) --> setForm 2.fix data collecting
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/index.tsx
  client/src/pages/patient/Cards/CustomizedFormData.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

util assign id method model check error fix
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

question numMin,Max add int type check
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

1.create a form okay, 2.edit form endpoint issue needs feedback from backend
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

fix form marshal; referral add back date assess, cancel, not-attend
  server/api/resources/referrals.py
  server/data/marshal.py
  server/migrations/versions/15ba72e0ecaa_referral_add_back_assess_cancel_not_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

temp stack to checkout
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/shared/enums.ts
Due: frontend build, frontend lint, frontend format

add migration file middle change (require clean developing database)
  server/migrations/versions/1029b5bb3354_decouple_referrals_from_readings.py
  server/migrations/versions/15ba72e0ecaa_referral_add_back_assess_cancel_not_.py
Due: backend unit tests, backend system tests, backend format

question force id passed by frontend abandoned
  server/api/util.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

double click bugs appears, temp stack to check out to earlier version
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend lint, frontend format

pass all endpoints, but still have a render issue to fix
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend lint, frontend format

client add form template upload json file UI
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageForms/ManageForms.tsx
  client/src/pages/admin/manageForms/createTemplate.tsx
  client/src/pages/admin/manageForms/state.ts
  client/src/shared/enums.ts
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

edit page renders correctly
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
Due: frontend build, frontend lint, frontend format

1.create form page render correctly 2.while fecthing new forms, the answers and render effects should be refresh
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
Due: frontend build, frontend lint, frontend format

remove form id from the form creating endpoint(almost done iteration 4)
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

UI adjustment(fontsize, style)
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/patient/Cards/CustomizedFormData.tsx
Due: frontend build, frontend lint, frontend format

fix the MCOptions map logic[integer to string]
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
Due: frontend build, frontend lint, frontend format

delete trivial comments in this iteration
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedEditForm/state.ts
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/index.tsx
  client/src/pages/patient/Cards/CustomizedFormData.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

solved all warnings to merge to master
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend lint, frontend format

1.remove all local json files 2.run format prettier
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedEditForm/state.ts
  client/src/pages/customizedForm/customizedFormHeader/Forms.json
  client/src/pages/customizedForm/customizedFormHeader/Lang.json
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/form.json
  client/src/pages/customizedForm/customizedFormHeader/form_edit - backup.json
  client/src/pages/customizedForm/customizedFormHeader/form_edit.json
  client/src/pages/customizedForm/customizedFormHeader/form_test_condition_hidden.json
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/state.ts
  client/src/pages/customizedForm/form_card.json
  client/src/pages/customizedForm/index.tsx
  client/src/pages/patient/Cards/CustomizedFormData.tsx
  client/src/pages/patient/index.tsx
  client/src/shared/enums.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

change to const (fix pipeline)
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend lint, frontend format

phpmyadmin commented
  docker-compose.override.yml
Due: none

change id to name in form submit fetch form
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/state.ts
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend lint, frontend format

template UI add sample json
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageForms/ManageForms.tsx
  client/src/pages/admin/manageForms/SampleTemplateToast.tsx
  client/src/pages/admin/manageForms/createTemplate.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/state.ts
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/migrations/versions/aeaf3db56ab1_change_template_name_to_unique_index.py
  server/models.py
  server/utils.py
  server/validation/formTemplates.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

client format code
  client/src/pages/admin/manageForms/ManageForms.tsx
  client/src/pages/admin/manageForms/SampleTemplateToast.tsx
  client/src/pages/admin/manageForms/createTemplate.tsx
  client/src/pages/admin/manageForms/state.ts
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/state.ts
Due: frontend build, frontend lint, frontend format

format code
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/migrations/versions/1029b5bb3354_decouple_referrals_from_readings.py
  server/migrations/versions/15ba72e0ecaa_referral_add_back_assess_cancel_not_.py
  server/migrations/versions/aeaf3db56ab1_change_template_name_to_unique_index.py
  server/utils.py
Due: backend unit tests, backend system tests, backend format

fix template name type error when indexing
  server/migrations/versions/2c7e8d1996af_template_change_name_type_make_index_.py
  server/migrations/versions/aeaf3db56ab1_change_template_name_to_unique_index.py
  server/models.py
Due: backend unit tests, backend system tests, backend format
