Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

fix: add update logic for supervises
  server/api/resources/users.py
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

refactor: pass username to refresh_access_token
  server/api/resources/users.py
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

refactor: rename resp to response
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix refresh token not being set in cookies
  client/src/redux/reducers/user/currentUser/index.ts
  client/src/shared/api/api.ts
  server/api/resources/users.py
  server/config.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: remove unused functions
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

fix: remove path from cookie
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

fix: enable credentials on refresh token request
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: change method back to POST
  client/src/shared/api/api.ts
  server/api/resources/users.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix refresh api call
  client/src/shared/api/api.ts
  server/authentication/CognitoClientWrapper.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: add unit test for assessment, association, facilities and form classification validation
  server/tests/validation/test_assessments.py
  server/tests/validation/test_associations.py
  server/tests/validation/test_facilities.py
  server/tests/validation/test_formClassifications.py
  server/validation/assessments.py
  server/validation/associations.py
  server/validation/facilities.py
Due: backend unit tests, backend system tests, backend format

refactor: remove redundant env loading
  server/authentication/__init__.py
Due: backend unit tests, backend system tests, backend format

refactor: construct JWKS url
  server/authentication/CognitoClientWrapper.py
Due: backend unit tests, backend system tests, backend format

feat: add create_user_pool.py
  scripts/create_user_pool.py
Due: none

fix: fix printing usernames
  server/seed_users.py
Due: backend unit tests, backend system tests, backend format

fix: move jwks_client inside wrapper class
  server/authentication/CognitoClientWrapper.py
  server/authentication/__init__.py
Due: backend unit tests, backend system tests, backend format

refactor: remove unused gestationalAgeValue
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix seed function
  server/manage.py
Due: backend unit tests, backend system tests, backend format

refactor: remove gestational_timestamp
  client/src/shared/api/api.ts
  server/manage.py
  server/models.py
  server/systemTests/api/test_patients.py
  server/tests/validation/test_patients.py
  server/validation/patients.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: rename follow_up to assessment
  client/src/pages/patient/Cards.tsx
  client/src/pages/patient/index.tsx
  client/src/shared/types.ts
  server/api/resources/assessments.py
  server/api/resources/patients.py
  server/data/crud.py
  server/data/marshal.py
  server/models.py
  server/service/serialize.py
  server/service/view.py
  server/systemTests/api/test_patients.py
  server/systemTests/api/test_sms_relay.py
  server/systemTests/conftest.py
  server/systemTests/flow/test_referral_loop.py
  server/systemTests/mock/factory.py
  server/tests/validation/test_readings.py
  server/validation/readings.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

test: remove invalid test
  server/tests/validation/test_patients.py
Due: backend unit tests, backend system tests, backend format

refactor: remove extra space
  server/seed_users.py
Due: backend unit tests, backend system tests, backend format

fix: remove COGNITO_JWKS_URL
  docker-compose.yml
Due: none

feat: add initial migration
  .lintstagedrc.json
  server/migrations/versions/5641d7c32ebd_initial_migration.py
Due: backend unit tests, backend system tests, backend format

feat: add scripts to reset the database
  reset_database-dev.sh
  scripts/reset_database.sh
Due: none

refactor: consolidate reset_database scripts
  reset_database-dev.sh
  scripts/reset_database.sh
Due: none

build: update toolpad/core
  client/package-lock.json
  client/package.json
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

build: install pyhumps
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

feat: add api_utils
  server/api/util.py
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

feat: convert response bodys to camel case
  server/app.py
Due: backend unit tests, backend system tests, backend format

refactor: delete unneeded functions
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

fix: fix date range query params
  client/src/shared/components/Date/useDateRangeState.ts
  client/src/shared/components/apiTable/index.tsx
  server/api/resources/stats.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat: convert request and response bodies between casing styles on server side
  client/src/pages/statistics/index.tsx
  client/src/shared/components/apiTable/index.tsx
  server/api/resources/assessments.py
  server/api/resources/facilities.py
  server/api/resources/form_classifications.py
  server/api/resources/form_templates.py
  server/api/resources/forms.py
  server/api/resources/medical_records.py
  server/api/resources/patient_associations.py
  server/api/resources/patients.py
  server/api/resources/patients_android.py
  server/api/resources/pregnancies.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
  server/api/resources/relay_server_phone_numbers.py
  server/api/resources/sms_relay.py
  server/api/resources/sync.py
  server/api/resources/users.py
  server/common/api_utils.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

refactor: delete script
  scripts/reset_database.sh
Due: none

fix: fix parsing health facilities
  server/common/api_utils.py
Due: backend unit tests, backend system tests, backend format

refactor: replace sign in form
  client/src/pages/login/Login.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: delete unused decorator
  server/api/decorator.py
Due: backend unit tests, backend system tests, backend format

refactor: add TODO comment to password change endpoints
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

refactor: delete unused helper
  server/common/pretty_print.py
Due: backend unit tests, backend system tests, backend format

fix: add unit test to sms relay, forms and use enum for sms relay method
  server/api/resources/sms_relay.py
  server/enums.py
  server/systemTests/api/test_sms_relay_errors.py
  server/tests/validation/test_forms.py
  server/tests/validation/test_sms_relay.py
  server/tests/validation/test_validate.py
  server/validation/assessments.py
  server/validation/forms.py
  server/validation/pregnancies.py
  server/validation/sms_relay.py
  server/validation/validate.py
Due: backend unit tests, backend system tests, backend format

style: run ruff format .
  server/migrations/versions/5641d7c32ebd_initial_migration.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
