Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

update aws:
  stage: build
  needs: []
  image: ubuntu:latest
  tags:
  - docker
  before_script:
  - apt update
  - apt install -y unzip zip curl
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  ...

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

cicd
  .github/workflows/e2e.yml
  .github/workflows/main-cicd.yml
Due: none

cicd
  .github/workflows/main-cicd.yml
Due: none

cicd: re-enable jobs
  .github/workflows/main-cicd.yml
Due: none

refactor(patient routes): split route components up
  client/src/app/routes/PatientRoutes.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(stats data): move validation of stats data to api layer
  client/src/pages/statistics/AllStatistics.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/pages/statistics/utils/queries.ts
  client/src/shared/api/api.ts
  client/src/shared/api/apiStatistics.ts
  client/src/shared/api/validation/statistics.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient routes): include patient routes with all other routes for consistency
  client/src/app/routes/index.tsx
  client/src/app/routes/utils/PatientRoutes.tsx
  client/src/app/routes/utils/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(routes): remove duplicate route
  client/src/app/routes/utils/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

changes for sms relay request number db table and request number validation
  server/api/resources/sms_relay.py
  server/common/user_utils.py
  server/migrations/versions/3_f3f6a6a9a6f5_sms_relay_request_number_table.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

update sms_relay testing for request number mismatch
  server/systemTests/api/test_sms_relay_errors.py
Due: backend unit tests, backend system tests, backend format

update sms_relay system tests for request number change
  server/system_tests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

fomatting fixes
  server/system_tests/api/test_sms_relay.py
Due: backend unit tests, backend system tests, backend format

additional fixes for sms relay request numbers
  server/api/resources/sms_relay.py
  server/common/user_utils.py
Due: backend unit tests, backend system tests, backend format

ticket still in progress
  docker-compose.yml
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

added formUtil.py
  server/common/formUtil.py
Due: backend unit tests, backend system tests, backend format

Forms issue should be resolved
  server/api/resources/form_templates.py
  server/common/formUtil.py
Due: backend unit tests, backend system tests, backend format

Removed debug print statement
  server/api/resources/form_templates.py
Due: backend unit tests, backend system tests, backend format

formatting and version=lang fix
  server/api/resources/form_templates.py
  server/common/formUtil.py
Due: backend unit tests, backend system tests, backend format

changes based on feedback
  docker-compose.yml
  server/api/resources/form_templates.py
  server/common/formUtil.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

added form_utils.py
  server/common/form_utils.py
Due: backend unit tests, backend system tests, backend format

Moved filter_blank_template_<type> functions out of form_templates.py and into serialize.py and marshal.py
  server/api/resources/form_templates.py
  server/common/form_utils.py
  server/data/marshal.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

Formatting fixes.
  server/data/crud.py
  server/data/marshal.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

Renamed functions and added del call in marshal.py
  server/common/form_utils.py
  server/data/crud.py
  server/data/marshal.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

refactor: simplify conditional
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

test: implement createReferral e2e test
  client/playwright/constants.ts
  client/playwright/createReferral.spec.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin users table): integrate react query
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin facility list): remove memoization of some functions + fix typo
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin users list): move logic for checking if user is defined from child to parent
  client/src/pages/admin/manageUsers/DeleteUser.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/ResetPassword.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin faciltities list): integrate react query
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix typescript build error
  client/src/pages/admin/manageFacilities/EditFacility.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(queries): extract custom hook for querying healthcare facilities
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/shared/queries.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(pregnancy history table): use react query to fetch table rows
  client/src/pages/historyTables/PregnancyHistory.tsx
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(pregnancy history table): use react query to delete pregnancy records
  client/src/pages/historyTables/PregnancyHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin user list): remove mapping of index onto user
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: remove log statement
  client/src/pages/admin/manageUsers/UserForms/CreateUserDialog.tsx
  client/src/pages/admin/manageUsers/UserForms/EditUserDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(admin patient list): use useQuery to fetch patients
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/shared/api/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

cleanup: remove admin role from stats panel that was used for testing
  client/src/pages/statistics/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(edit facility dialog): use tanstack mutation for saving data
  client/src/pages/admin/manageFacilities/EditFacility.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(patient timeline): use react query infiniteQuery to fetch timeline items
  client/src/pages/historyTables/HistoryTimeline.tsx
  client/src/pages/patientForm/handlers.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor(single reason form): use react query mutations
  client/src/pages/singleReasonForm/SingleReasonForm.tsx
  client/src/pages/singleReasonForm/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
