Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

chore: ruff fix
  server/system_tests/test_workflow_data_resolver_system.py
Due: backend unit tests, backend system tests, backend format

refactor: remove unused fixtures from conftest
  server/tests/service/workflow/conftest.py
Due: backend unit tests, backend system tests, backend format

948: Support overrides (#949)
  server/api/resources/workflow_instances.py
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/service/workflow/workflow_view.py
  server/system_tests/api/test_workflow_instances.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_service.py
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

Refactor config logging, test setup and apply ruff fixes
  server/config.py
  server/pytest.ini
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/datasourcing/workflow_data_resolver.py
  server/tests/service/workflow/conftest.py
  server/tests/service/workflow/test_datasourcing.py
  server/tests/service/workflow/test_workflow_data_resolver.py
Due: backend unit tests, backend system tests, backend format

chore: ruff fixes
  server/system_tests/test_datasourcing_system.py
  server/system_tests/test_workflow_data_resolver_system.py
  server/tests/service/workflow/test_datasourcing.py
Due: backend unit tests, backend system tests, backend format

Format backend
  server/service/workflow/workflow_planner.py
Due: backend unit tests, backend system tests, backend format

Backend format + small cleanup after rebase
  server/api/resources/workflow_instances.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

Merge main_temp into main (#952)
  server/api/resources/form_templates_v2.py
  server/api/resources/workflow_instances.py
  server/common/api_utils.py
  server/common/constants.py
  server/common/form_utils.py
  server/data/db_operations/__init__.py
  server/data/db_operations/__init__.pyi
  server/data/db_operations/common_crud.py
  server/data/marshal.py
  server/pytest.ini
  server/service/workflow/datasourcing/data_catalogue.py
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/datasourcing/workflow_data_resolver.py
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/service/workflow/workflow_view.py
  server/system_tests/api/conftest.py
  server/system_tests/api/test_workflow_instances.py
  server/system_tests/test_datasourcing_system.py
  server/system_tests/test_workflow_data_resolver_system.py
  server/tests/service/workflow/conftest.py
  server/tests/service/workflow/test_datasourcing.py
  server/tests/service/workflow/test_workflow_data_resolver.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_service.py
  server/validation/formsV2_models.py
  server/validation/rule_groups.py
  server/validation/workflow_api_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

refactor: classifications and utils
  server/api/resources/form_classifications_v2.py
  server/common/form_utils.py
Due: backend unit tests, backend system tests, backend format

Integrated orm_serializer into form_templates_v2
  server/api/resources/form_templates_v2.py
Due: backend unit tests, backend system tests, backend format

feat: integrate new form template endpoint
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/FormQuestions.tsx
  client/src/pages/customizedForm/queries.ts
  client/src/shared/api/modules/formTemplates.ts
  client/src/shared/api/modules/forms.ts
  client/src/shared/enums.ts
  client/src/shared/hooks/forms/useCustomizedFormWQuestions.ts
  client/src/shared/types/form/formTemplateTypes.ts
  client/src/shared/utils.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add branch condition on change logic to workflow editor
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/BranchConditionEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/StepDetails.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowEditor.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
  client/src/shared/hooks/workflowTemplate/useWorkflowEditor.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update RuleGroup data_sources type to string
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Refactor workflow template patch logic
  server/api/resources/workflow_templates.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Replace marshal with orm_serializer in workflow_utils
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

Add comment to generate_updated_workflow_template
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

fix ruff format error
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

ruff format workflow_util.py
  server/common/workflow_utils.py
Due: backend unit tests, backend system tests, backend format

restore accidental change in the previous commit
  server/api/resources/workflow_templates.py
Due: backend unit tests, backend system tests, backend format

wip
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditCategory.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiChoiceField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/MultiSelectField.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/multiFieldComponents/handlers.ts
  client/src/pages/customizedForm/components/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/components/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/customizedNewFormPage/SelectFormTemplate/index.tsx
  client/src/shared/hooks/forms/useCustomizedFormWQuestions.ts
  client/src/shared/hooks/forms/useEditField.ts
  client/src/shared/types/form/formTemplateTypes.ts
  client/src/shared/types/form/formTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: capitalize + use userQuestionId
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/shared/hooks/forms/useEditField.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update userQuestionId
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/shared/hooks/forms/useEditField.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

WIP: integrate variable resolution in workflow evaluation; add integrated rule evaluator and tests
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/evaluate/integrated_rule_evaluator.py
  server/service/workflow/workflow_planner.py
  server/system_tests/conftest.py
  server/system_tests/test_workflow_integration.py
  server/validation/rule_groups.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

refactor: update IntegratedRuleEvaluator to use patient_id; add end-to-end tests for conditional workflows
  server/service/workflow/evaluate/integrated_rule_evaluator.py
  server/system_tests/test_conditional_workflow_e2e.py
Due: backend unit tests, backend system tests, backend format

refactor: update variable resolution statuses
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/evaluate/integrated_rule_evaluator.py
  server/service/workflow/workflow_planner.py
  server/system_tests/test_conditional_workflow.py
  server/system_tests/test_workflow_integration.py
  server/validation/rule_groups.py
Due: backend unit tests, backend system tests, backend format

refactor: refactor workflow next options and step logic to custom hooks and clean up code
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/shared/hooks/patient/useWorkflowNextStepOptions.ts
  client/src/shared/hooks/patient/useWorkflowStepActions.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: implement go to step functionality for recommendation banner
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowRecommendationBanner.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: implement workflow instance UI changes: recommendation banner, complete step button, expected completion date
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowRecommendationBanner.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat(workflow-step): implement complete step functionality
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowEnums.ts
  server/validation/workflow_models.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat(workflow): changes for step progression and handling API responses for branch evaluations
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat(workflow): init UI implementation of selecting next step and updates to recommendation banner
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowRecommendationBanner.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowEnums.ts
  client/src/shared/types/workflow/workflowUiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: update seed test data to include proper branch target next steps
  server/manage.py
Due: backend unit tests, backend system tests, backend format

feat(workflow): update step progression for override step backend changes and update seed test data to test changes
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  client/src/shared/types/workflow/workflowEnums.ts
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

feat(workflow): changes to link backend to frontend for branch evaluation and updating related UI
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/WorkflowUtils.tsx
  client/src/pages/patient/WorkflowInfo/components/NextStepSelector.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowSelectStepModal.tsx
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/hooks/patient/useWorkflowInstanceDetails.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Revert "Deleted marshal.py. Using orm_serializer"
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Revert "Deleted marshal.py, using orm_serializer instead"
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format
