Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend unit tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - npm run test --args a

frontend integration tests:
  stage: test
  needs: []
  image: $NODE_IMAGE
  variables:
    CI: 'true'
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  tags:
  - docker
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm i --global npm@7
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm i --global npm@7
  - npm install prettier@2.7.1 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Improve readability as per PR review
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Change is_date_expired to is_date_passed by Dr.Brain's suggestion
  server/api/resources/users.py
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

specify env name
  .github/workflows/deploy-from-dockerhub.yml
  .github/workflows/main-cicd.yml
Due: none

remove unused dev tool
  .github/workflows/deploy-from-dockerhub.yml
  .github/workflows/main-cicd.yml
  docker-compose.deploy.yml
Due: none

basic ui
  client/src/app/routes/utils/index.tsx
  client/src/app/topBar/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/pages/secretKey/index.tsx
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/secretKey/index.ts
  client/src/shared/api.ts
  client/src/shared/components/alertMessage/index.tsx
  client/src/shared/enums.ts
  client/src/shared/hooks/alertMessage/alertMessage.tsx
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove hardcoded test user secret key
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Remove secret key from user table
  server/models.py
Due: backend unit tests, backend system tests, backend format

Add db migration
  server/migrations/versions/1ca32c9ac887_remove_secrete_key_attribute_from_user_.py
Due: backend unit tests, backend system tests, backend format

create ui for updating secretkey manually
  client/src/pages/referrals/index.tsx
  client/src/pages/secretKey/index.tsx
  client/src/shared/enums.ts
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
  server/api/resources/users.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

show error message
  client/src/app/topBar/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/redux/reducers/secretKey/index.ts
  client/src/shared/hooks/secretKey/index.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

hide password for user
  client/src/pages/secretKey/index.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

remove print statement
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

small fix
  client/src/pages/referrals/index.tsx
  client/src/pages/secretKey/index.tsx
  client/src/redux/reducers/secretKey/index.ts
  client/src/shared/hooks/secretKey/index.ts
  client/src/shared/types.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Complete relay phone number verification endpoint
  server/api/resources/users.py
  server/data/crud.py
  server/routes.py
  server/specifications/is-phone-number-relay-get.yml
Due: backend unit tests, backend system tests, backend format

Fix relay phone verification API specification
  server/specifications/is-phone-number-relay-get.yml
Due: backend unit tests, backend system tests, backend format

Fix format
  server/api/resources/users.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Add API endpoint to return all relay phone numbers
  server/api/resources/users.py
  server/data/crud.py
  server/routes.py
  server/specifications/relay-phone-number-get.yml
Due: backend unit tests, backend system tests, backend format

Fix format
  server/api/resources/users.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Replace the encrption methods, haven't comment the previous yet.
  server/service/encryptor.py
Due: backend unit tests, backend system tests, backend format

Add new requirement Crypto. However, it is better to use pycryptodome since Crypto package has some problem with module import.
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

update the sms_relay endpoint, right now it can successfully receive the encrypted data by HTTP request and decrypted data successfully.
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

changed the validation for the sms relay, currently it doesn't have http methods, endpoints, request number. will be implemented soon
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Changed the unit test for encryptor, need to add more test cases in the future
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

reformatted the code
  server/api/resources/sms_relay.py
  server/migrations/versions/1ca32c9ac887_remove_secrete_key_attribute_from_user_.py
  server/service/encryptor.py
  server/tests/service/test_encryptor.py
  server/validation/sms_relay.py
Due: backend unit tests, backend system tests, backend format

Move add field button to bottom
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/pages/customizedForm/customizedEditForm/SubmitFormTemplateDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Adjust formating of buttons after adding template field
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix button formatting
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Patch visibility conditions when deleting field
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Remove redundant FORM_TEMPLATE enum
  client/src/shared/api.ts
  client/src/shared/enums.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Update Created Fields With Added/Removed Languages
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Display Error Text When Fields Are Empty For An Added Language
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Enforce Minimum Language Selection
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Disable Submit Form Button When Language Fields Are Empty
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Improve Error Mesage For Individual Fields
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Rename getFormTemplateAsync to avoid confusion
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/customizedForm/customizedEditForm/SubmitFormTemplateDialog.tsx
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/shared/api.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Finish Multi-Select Feature
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
  client/src/pages/customizedForm/FormQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fix Submit Button Conditional
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Fetch form template from server and save changes
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/EditField.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Add endpoint to get form classification versions
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/editFormTemplate/CustomFormTemplate.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedFormWQuestions.tsx
  client/src/shared/api.ts
  client/src/shared/enums.ts
  client/src/shared/types.ts
  server/api/resources/formClassifications.py
  server/routes.py
  server/specifications/form-classification-templates-get.yml
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Run formatter
  server/api/resources/formClassifications.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
