Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, update aws, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  update aws: any of: aws/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend unit tests: any of: client/**/*
  frontend integration tests: any of: client/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

updated instructions on README
  server/service/workflow/evaluate/variables/README.md
Due: backend unit tests, backend system tests, backend format

Updated docstrings for extractor
  server/service/workflow/evaluate/variables/extractor.py
Due: backend unit tests, backend system tests, backend format

feat: add seed data for forms v2
  server/manage.py
Due: backend unit tests, backend system tests, backend format

feat: new endpoint for getting form template languages
  server/api/resources/form_templates_v2.py
  server/data/db_operations/form_queries.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

fix: make user_ques_id nullable (for categories)
  server/migrations/versions/24_3503d44caf23_recreate_form_v2_tables.py
  server/models/formsV2.py
Due: backend unit tests, backend system tests, backend format

feat: add endpoint to downlaod form template csv
  server/api/resources/form_templates_v2.py
  server/common/form_utils.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

WIP: implement WorkflowDataResolver for resolving data
  server/config.py
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/datasourcing/workflow_data_resolver.py
  server/tests/service/workflow/conftest.py
  server/tests/service/workflow/test_workflow_data_resolver.py
Due: backend unit tests, backend system tests, backend format

feat: get template endpoint
  server/api/resources/form_templates_v2.py
  server/config.py
  server/data/db_operations/__init__.py
  server/data/db_operations/__init__.pyi
  server/data/db_operations/form_queries.py
  server/data/marshal.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

format: ruff formatting
  server/api/resources/form_templates_v2.py
  server/common/form_utils.py
  server/data/db_operations/form_queries.py
  server/data/marshal.py
  server/manage.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

chore: remove unused code
  server/common/form_utils.py
  server/config.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Add comment about last_edited + start_date validation in models
  server/service/workflow/workflow_service.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

fix: update string_id to question_string_id
  server/api/resources/form_templates_v2.py
  server/common/form_utils.py
  server/manage.py
  server/migrations/versions/24_f277265972d3_add_form_v2_tables.py
  server/models/formsV2.py
Due: backend unit tests, backend system tests, backend format

feat: added step connection using edge drag from the node handle
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlowView.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

refactor: clean up data sourcing and resolver
  server/service/workflow/datasourcing/data_sourcing.py
  server/service/workflow/datasourcing/workflow_data_resolver.py
  server/tests/service/workflow/conftest.py
  server/tests/service/workflow/test_datasourcing.py
  server/tests/service/workflow/test_workflow_data_resolver.py
Due: backend unit tests, backend system tests, backend format

Fix: layout improvement on workflow template flow graph display
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

Made data_sources optional in the _condition parameter
  server/tests/service/workflow/test_branch_variable_extractor.py
Due: backend unit tests, backend system tests, backend format

Trigger CI
  server/service/workflow/evaluate/variables/README.md
Due: backend unit tests, backend system tests, backend format

929: Update start_date, completion_date for Workflow Instances (#930)
  server/service/workflow/workflow_operations.py
  server/service/workflow/workflow_planner.py
  server/service/workflow/workflow_service.py
  server/tests/helpers.py
  server/tests/service/workflow/test_workflow_planner.py
  server/tests/service/workflow/test_workflow_service.py
  server/tests/validation/test_workflow_models.py
  server/validation/workflow_models.py
Due: backend unit tests, backend system tests, backend format

fix: Extract form and branches BEFORE calling __load() when unmarshal workflow template step
  client/src/shared/api/modules/workflowTemplates.ts
  client/src/shared/types/workflow/workflowApiTypes.ts
  server/api/resources/workflow_templates.py
  server/data/marshal.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

Refactored and made data_soureces optional in RuleGroupModel
  server/validation/rule_groups.py
Due: backend unit tests, backend system tests, backend format

Regressed one of the tests since data_source is optional, it does not raise an error anymore
  server/tests/validation/test_rule_groups.py
Due: backend unit tests, backend system tests, backend format

removed data_sources from variable extractor tests
  server/tests/service/workflow/test_branch_variable_extractor.py
Due: backend unit tests, backend system tests, backend format

Ruff fix
  server/validation/rule_groups.py
Due: backend unit tests, backend system tests, backend format

Remove print statements
  client/src/pages/admin/manageWorkflowTemplates/ViewWorkflowTemplate.tsx
  client/src/shared/components/workflow/workflowTemplate/WorkflowFlow.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: simplify getting lang versions of a template
  server/api/resources/form_templates_v2.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

fix: implement changes to archive form instead of delete and address pr review comments
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
  client/src/pages/patient/WorkflowInfo/components/WorkflowStepHistory.tsx
  client/src/shared/api/modules/forms.ts
  client/src/shared/api/modules/workflowInstance.ts
  client/src/shared/hooks/patient/useWorkflowFormModal.ts
  server/api/resources/forms.py
  server/api/resources/workflow_instance_steps.py
Due: frontend build, backend unit tests, backend system tests, frontend unit tests, frontend integration tests, frontend lint, frontend format, backend format

fix: fix response of get form template + refactored code
  server/api/resources/form_templates_v2.py
  server/common/form_utils.py
  server/data/db_operations/form_queries.py
  server/data/marshal.py
  server/manage.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

removed _no_autoflush_ctx and reverted back to db_session.no_autoflush
  server/data/orm_serializer/forms.py
  server/data/orm_serializer/utils.py
  server/data/orm_serializer/workflows.py
Due: backend unit tests, backend system tests, backend format

fix: add classificatio obj in template + refactor from reviews
  server/api/resources/form_templates_v2.py
  server/common/form_utils.py
  server/data/marshal.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

feat: add put endpoint to archive + refactor
  server/api/resources/form_templates_v2.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

chore: ruff fixes
  server/api/resources/form_templates_v2.py
  server/validation/formsV2_models.py
Due: backend unit tests, backend system tests, backend format

chore: copy marshals to orm_serializer module
  server/data/orm_serializer/forms.py
  server/data/orm_serializer/questions.py
Due: backend unit tests, backend system tests, backend format

tests: add unit tests for LangVersion marshal function
  server/tests/serializers/test_marshal/test_marshal_question_lang_version.py
Due: backend unit tests, backend system tests, backend format

tests: add unit tests for FormQuestionTemplate marshal function
  server/data/orm_serializer/api.py
  server/tests/serializers/test_marshal/test_marshal_question.py
Due: backend unit tests, backend system tests, backend format

tests: add unit tests for FormTemplate marshal function
  server/data/marshal.py
  server/data/orm_serializer/forms.py
  server/tests/serializers/test_marshal/test_marshal_form_template.py
Due: backend unit tests, backend system tests, backend format

refactor: create seperate component for RulesEngineDemo and clean up code
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
  client/src/pages/patient/WorkflowInfo/components/RuleEngineDemoDialog.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

feat: update workflow instance details page to laod based on workflow instance id
  client/src/pages/patient/WorkflowInfo/WorkflowInstanceDetails.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

chore: code cleanup
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: fix patient workflow instance API call
  client/src/shared/api/modules/workflowInstance.ts
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format

fix: implement spinner while instance data is being fetched
  client/src/pages/patient/WorkflowInfo/WorkflowInfo.tsx
Due: frontend build, frontend unit tests, frontend integration tests, frontend lint, frontend format
