Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@2.3.0 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black==20.8b1
  script:
  - black --check --exclude 'server/migrations/.*' server

Run black
  server/validation/formTemplates.py
  server/validation/forms.py
Due: backend unit tests, backend system tests, backend format

Fix systemTest to pass pipeline
  server/systemTests/api/test_form_templates.py
Due: backend unit tests, backend system tests, backend format

change form, template spec with more specific request body requirement, change id type, add one more validation in question reference
  server/api/resources/forms.py
  server/specifications/blank-form-template-get.yml
  server/specifications/form-templates-get.yml
  server/specifications/form-templates-post.yml
  server/specifications/forms-post.yml
  server/specifications/single-form-get.yml
  server/specifications/single-form-put.yml
  server/specifications/single-form-template-get.yml
  server/specifications/single-form-template-put.yml
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

add form template get param in spec
  server/specifications/blank-form-template-get.yml
  server/specifications/single-form-template-get.yml
Due: backend unit tests, backend system tests, backend format

backend fix current system tests and unitests
  server/api/resources/referrals.py
  server/systemTests/api/test_form_templates.py
  server/tests/validation/test_referrals.py
  server/validation/patients.py
  server/validation/questions.py
  server/validation/readings.py
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

make and import fake form_card json
  client/src/pages/customizedForm/form_card.json
  client/src/pages/patient/Cards/CustomizedFormCard.tsx
  client/src/pages/patient/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

add customized card to patient page and link to edit form page
  client/src/app/routes/utils/index.tsx
  client/src/pages/customizedForm/form_card.json
  client/src/pages/patient/Cards/Cards.tsx
  client/src/pages/patient/Cards/CustomizedFormCard.tsx
  client/src/pages/patient/Cards/CustomizedFormData.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

edit the format of date on customized card
  client/src/pages/patient/Cards/CustomizedFormData.tsx
Due: frontend build, frontend lint, frontend format

form post spec add one field optional
  server/specifications/forms-post.yml
Due: backend unit tests, backend system tests, backend format

change the milli-second to second in frontend
  client/src/pages/customizedForm/customizedFormEdit/CustomizedEditForm.tsx
  client/src/pages/customizedForm/form_card.json
  client/src/pages/patient/Cards/CustomizedFormData.tsx
  client/src/shared/utils.ts
Due: frontend build, frontend lint, frontend format

complete visibleIfCondition part (Edit Form Page)
  client/src/pages/customizedForm/customizedFormEdit/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedFormEdit/index.tsx
  client/src/pages/customizedForm/customizedFormHeader/form_edit.json
  client/src/pages/customizedForm/customizedFormHeader/form_test_condition_hidden.json
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

both new form and edit form use the same page(class)
  client/src/app/routes/utils/index.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedEditForm/state.ts
  client/src/pages/customizedForm/index.tsx
Due: frontend build, frontend lint, frontend format

remove original CreateNewForm amd fix bug
  client/src/pages/customizedForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/handlers.ts
  client/src/pages/customizedForm/index.tsx
  client/src/pages/customizedForm/state.ts
Due: frontend build, frontend lint, frontend format

remove comments to merge
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/state.ts
  client/src/pages/customizedForm/index.tsx
  client/src/pages/patient/Cards/CustomizedFormData.tsx
Due: frontend build, frontend lint, frontend format

Display data for fake form on table.
  client/src/pages/admin/manageForms/ManageForms.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

run format prettier
  client/src/app/routes/utils/index.tsx
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedFormHeader/Forms.json
  client/src/pages/customizedForm/customizedFormHeader/Lang.json
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/form.json
  client/src/pages/customizedForm/customizedFormHeader/form_edit.json
  client/src/pages/customizedForm/customizedFormHeader/form_test_condition_hidden.json
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/customizedFormHeader/state.ts
  client/src/pages/customizedForm/form_card.json
  client/src/pages/customizedForm/index.tsx
  client/src/pages/patient/Cards/Cards.tsx
  client/src/pages/patient/Cards/CustomizedFormData.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/index.tsx
  client/src/shared/enums.ts
  client/src/shared/types.ts
  client/src/shared/utils.ts
Due: frontend build, frontend lint, frontend format

npm run format
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageForms/ManageForms.tsx
Due: frontend build, frontend lint, frontend format

resolve lint warning
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
  client/src/shared/types.ts
  client/src/shared/utils.ts
Due: frontend build, frontend lint, frontend format

resolve lint warning
  client/src/pages/customizedForm/customizedEditForm/CustomizedEditForm.tsx
Due: frontend build, frontend lint, frontend format

change formtemplate question id type, questionId to nullable
  server/migrations/versions/276237440825_change_form_id_to_be_uuid.py
  server/migrations/versions/34a86324fdb4_change_form_template_id_to_string.py
  server/migrations/versions/39a8e91b95f3_make_questionid_nullable.py
  server/migrations/versions/55b2e2abd300_change_question_id_to_string.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

change form and template endpoints impl and fix typo due to id change
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/data/marshal.py
  server/models.py
  server/routes.py
  server/service/serialize.py
  server/specifications/form-templates-post.yml
  server/validation/formTemplates.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

backend form add name, category
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/migrations/versions/8eca43aa83a6_form_add_name_and_category.py
  server/models.py
  server/service/serialize.py
  server/specifications/forms-post.yml
  server/specifications/single-form-get.yml
  server/specifications/single-form-put.yml
  server/validation/forms.py
Due: backend unit tests, backend system tests, backend format

backend change answers, mcoptions format
  server/models.py
  server/specifications/blank-form-template-get.yml
  server/specifications/form-templates-post.yml
  server/specifications/forms-post.yml
  server/specifications/single-form-get.yml
  server/specifications/single-form-put.yml
  server/specifications/single-form-template-get.yml
  server/specifications/single-form-template-put.yml
  server/validation/forms.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

backend form template put update code - need double check
  server/api/resources/formTemplates.py
Due: backend unit tests, backend system tests, backend format

fix pipeline error
  server/api/resources/formTemplates.py
  server/systemTests/api/test_form_templates.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

backend fix sync referral error
  server/api/resources/referrals.py
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

backend add question field has_comment_attached, add float to answer number allowable type
  server/migrations/versions/c7f274e43562_question_add_hascommentattached_field.py
  server/models.py
  server/specifications/blank-form-template-get.yml
  server/specifications/form-templates-post.yml
  server/specifications/forms-post.yml
  server/specifications/single-form-get.yml
  server/specifications/single-form-put.yml
  server/specifications/single-form-template-get.yml
  server/specifications/single-form-template-put.yml
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

add one form test (partly)
  server/migrations/versions/c7f274e43562_question_add_hascommentattached_field.py
  server/systemTests/api/test_forms.py
Due: backend unit tests, backend system tests, backend format

complete form create test
  server/api/resources/forms.py
  server/systemTests/api/conftest.py
  server/systemTests/api/test_forms.py
Due: backend unit tests, backend system tests, backend format

add patient get form and complete patient get all records with form
  server/api/resources/forms.py
  server/api/resources/patients.py
  server/api/util.py
  server/data/crud.py
  server/data/marshal.py
  server/routes.py
  server/specifications/patient-all-records-get.yml
  server/specifications/patient-forms-get.yml
  server/systemTests/api/test_forms.py
Due: backend unit tests, backend system tests, backend format

format code
  server/api/resources/forms.py
  server/api/resources/patients.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Fix CI/CD due to breaking change in dependency of Black
  .gitlab-ci.yml
Due: none

update gitlab-ci black script
  .gitlab-ci.yml
Due: none

Add import to migration file
  server/migrations/versions/c91d7f81c853_change_followup_id_to_string.py
Due: backend unit tests, backend system tests, backend format

backend adjust question reference check
  server/specifications/form-templates-post.yml
  server/systemTests/api/test_form_templates.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

refactor code for MR
  server/api/resources/formTemplates.py
  server/api/resources/referrals.py
  server/models.py
  server/systemTests/api/test_form_templates.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
